[2022-04-06 18:58] aqibsaeed commented on #377
I think quantization does not really go recursively for models that contains other models (in your case main model contains other sequential models). Did you try passing your model to `create_quantization_model(model)` function mentioned [here](https://github.com/tensorflow/model-optimization/issues/377#issuecomment-1010891837)? I think the solution would be to iterate over model layers, if you en

[2022-04-06 20:43] frytoli commented on #377
I did manage to get that working for me with some additional layers in the _apply_quantization_ function (I'm still learning here!). But, I receive the following error, I think due to the Concatenation layers between the sub-models:
[code]

I've also tested changing `quant_model = tf.keras.Sequential(layers)` to `quant_model = tf.keras.Model(layers)` in _apply_quantization_  and it runs without is

[2022-04-06 20:52] aqibsaeed commented on #377
Great. Check this to implement `call`: https://keras.io/guides/customizing_what_happens_in_fit/
There is GAN example at the end of the page, that would be useful.

[2022-04-07 00:08] frytoli commented on #377
Wonderful! Thanks again!

[2022-04-08 10:07] plooney opened #957 "Support Quantizing a tf.keras Model inside another tf.keras Model"
Right now if I do something like

# Quantize functional model
inputs = tf.keras.Input((3,))
out = tf.keras.layers.Dense(2)(inputs)
seq = tf.keras.Sequential()
seq.add(tf.keras.layers.Dense(2))
model = tf.keras.Model(inputs, seq(inputs))
quantized_model = quantize_model(model)

I get

 Quantizing a tf.keras Model inside another tf.keras Model is not supported.

[2022-04-09 21:55] Khalil-2020 opened #958 "Stripping Quantized Model"
**Describe the bug**
I need help in this one please:
I want to re-implent the "strip_pruning" function described in this link (line 222): https://github.com/tensorflow/model-optimization/blob/v0.7.2/tensorflow_model_optimization/python/core/sparsity/keras/prune.py#L222-L270
But I want this time to apply it to the quantized model so I can try to do the following: **apply quantization to a model the

[2022-04-18 03:35] gcunhase opened #964 "QAT model saving bug: Unable to save function b'__inference_separable_conv2d_layer_call_fn_961'"
**Describe the bug**
I have a simple model with input layer and a `SeparableConv2D` layer. I'm quantizing this model by adding `quantize_and_dequantize_v2` nodes at the input and weights of separableconv2d layer (commented in the code). However, I am unable to save the model as SavedModel (whereas converting the Keras model directly to ONNX works):
[code]

**System information**
- TensorFlow versi

[2022-04-21 00:03] gcunhase commented on #964
@daverim this bug is related to [this bug](https://github.com/tensorflow/model-optimization/issues/868). Please check if possible. Thank you!

[2022-04-21 16:10] Narduzzi commented on #885
Hello, any update on the default n bit quantization? Is a tutorial available by any chance?

[2022-04-25 03:57] gcunhase commented on #964
Any updates?

[2022-04-26 01:50] daverim commented on #964
Hi gcunhase@, if you add the quantize_and_dequantize nodes, you will need to create a tf.function that contains both the original function and the graph and save this.

For example if you have a model like my_model(tensor), and you want my_model(quantize_and_dequantize(x)), you will need to encapsulate this in a new model (function) to save, as the original model has not been modified. The easiest

[2022-04-27 00:45] gcunhase commented on #964
@daverim thank you for your reply. I tried your WAR and I'm still getting the same error:
[code]
New code snippet:
[code]

Please note that the code snippet I sent when opening this bug works for models with Conv2D, Dense, and many other layers, but fails when I include SeparableConv2D or ConvTranspose2D in the model. It also failed with DethwiseConv2D in `tensorflow < 2.8`. Can you think of any r

[2022-04-27 01:12] daverim commented on #964
you need to move quantize_model into the call or the init
[code]

On Wed, Apr 27, 2022 at 9:45 AM Gwena Cunha ***@***.***>
wrote:

[2022-04-27 06:20] gcunhase commented on #964
Got the same error:
[code]

New code snippet:
[code]

The bug's description contains the full repro.

Also, any comment on this? "The code snippet I sent when opening this bug works for models with Conv2D, Dense, and many other layers, but fails when I include SeparableConv2D or ConvTranspose2D in the model. It also failed with DethwiseConv2D in `tensorflow < 2.8` (working in tf == 2.8). Can you t

[2022-04-29 03:48] LIU-FAYANG opened #965 "Unable to use strip_pruning for subclass model"
Hi, is there any work around method to use tfmot.sparsity.keras.strip_pruning on subclass models? I tried to use prune_low_magnitude on subclass by apply it to the layers in subclasses as a work around method. So I would like to ask is there method like this to use strip_pruning on subclasses models? Any help would be great:)

[2022-05-09 09:32] Xhark commented on #965
AFAIK evenif you apply prune_low_magnitude to sublayers of your subclass model, the pruning scheduling logic (callback based) during the training is not working due to it can't find your pruned layer. So I think your model is not trained as expected with pruning.

Unfortunately, subclass model supports is very weak in these days. Maybe there's some work around but it's still a brittle solution.

@

[2022-05-10 02:12] LIU-FAYANG commented on #965
Hi @Xhark, thanks for your kind help.
This page https://github.com/tensorflow/model-optimization/issues/155 mentioned apply the pruning API directly into subclasses is a workaround method.
Currently I'm trying to prune a RNN-T model using prune_low_magnitude and the pruning result is indeed not good, the model tends not to converge and I'm not sure if it's because of this workaround method.
Could

[2022-05-10 03:22] gcunhase commented on #964
Any update on this?

[2022-05-10 03:28] LIU-FAYANG commented on #155
@alanchiao Hi, recently I'm working on pruning subclass models and the model seems not able to converge with pruning. I tired to apply the prune_low_magnitude API directly on the layers to be pruned within the subclasses and the pruning schedule applied to each layer is the same.
https://github.com/tensorflow/model-optimization/issues/965 mentioned pruning callback might cause this issue if we use

[2022-05-10 22:35] felicitywang1 opened #968 "How to apply tfmot to a non tf.keras.Model type model.."
Hi,
This is more of a question than a feature request which I don't know where else to post.
So I'm trying to perform quantization aware training to a model that's not of tf.keras.Model type but of a wrapper Model class with some forward(), loss(), and trainable_variables() functions and some layers of tf.keras.Layer() type. The backpropagation is done with tf.GraientTape and optimizer.apply_gradi

[2022-05-13 13:25] rino20 commented on #968
Hi @felicitywang1

This answer might not be correct since I don't know your model exactly.

If your model is available to use tf.keras.models.clone_model(your_model), you can try applying quantization by manually remove some model-type checking codes in the API. (https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/quantization/keras/quantize.py#L3

[2022-05-13 13:55] rino20 commented on #965
Hi @LIU-FAYANG

1. I am not sure how you apply the pruning to subclass model, but if you applied pruning for the keras Layers in the subclass models, it should be working.

2. The general strip_pruning method wouldn't work in that case, since you applied pruning in custom way. You will need to create your own strip_pruning method which is the same way of your applying pruning logic.

3. Could you

[2022-05-16 00:40] gcunhase commented on #964
@daverim I wonder how this very similar issue got solved: https://github.com/tensorflow/model-optimization/issues/868#issuecomment-1006225011

[2022-05-16 07:24] LIU-FAYANG commented on #965
Hi @rino20, thanks for your help!
     1. yes I tried to apply prune_low_magnitude to the keras layers within the subclass model, take this dense layer as an example,
https://github.com/TensorSpeech/TensorFlowASR/blob/main/tensorflow_asr/models/transducer/rnn_transducer.py#L63,
I replace this line with  self.projection = prune_low_magnitude(tf.keras.layers.Dense(
            dmodel,
            na

[2022-05-16 13:18] rino20 commented on #965
Hi Thanks for providing the details.

1. Yes, the way you took is working. In detail, you can achieve your goal by 1) prune (pruning_wrapping) the target layer, and 2) build the subclass model.

2. Your strip_pruning should do the same as #1. it should 1) get the pruning_wrapped layer -> apply strip_pruning 2) build the subclass model
Or you can just swap the layer with stripped layer, however, no

[2022-05-16 20:14] felicitywang1 commented on #968
Thank you @rino20 for the suggestion. No the model cannot use tf.keras.models.clone_model() so I'm afraid purely muting this model-type checking won't help. I don't believe there's a clear solution to our problem. Closing for now.

[2022-05-17 08:42] lan2720 commented on #29
Hi @haozha111, is there some updates?

[2022-05-17 10:20] LIU-FAYANG commented on #965
Hi @rino20, thanks for your kind help, I'll try the method u mentioned above these days.
Another thing I would like to ask is the model I'm working on seems have custom training loop, I didn't merge the pruning callbacks to the custom training loop but the model is still able to train, which is quite weird.
I'd like to ask is it necessary to merge the callbacks to the training loop in this case? O

[2022-05-18 01:32] haozha111 commented on #29
no, I haven't tried it recently. if you are interested, please follow docs in https://www.tensorflow.org/model_optimization to apply it to BERT, also cc'ing Jaesung who is currently working on MOT.

[2022-05-18 22:48] k-w-w commented on #868
The best way perhaps is to disable the layer tracing, but you'll have to manually create the `serving_default` function (this is the default name that is used in TF2ONNX).

[code]

[2022-05-19 01:11] gcunhase commented on #868
Hi @k-w-w thank you for your feedback! This specific issue (for DepthwiseConv) has been solved, as mentioned in a comment on Jan 26th above, but the same issue persists for SeparableConv [here](https://github.com/tensorflow/model-optimization/issues/964).

I tried your suggestion, but it did not solve my issue, since the problem is not with `tf2onnx`, but with saving the TF model. Do you have any

[2022-05-19 03:23] k-w-w commented on #868
@gcunhase Are you getting the same error even with `save_traces=False`?

[2022-05-19 03:57] gcunhase commented on #868
@k-w-w yes

[2022-05-19 17:01] k-w-w commented on #868
@gcunhase can you paste the error trace?

[2022-05-20 04:39] gcunhase commented on #868
@k-w-w :
[code]

[2022-05-20 04:40] gcunhase commented on #868
[This bug](https://github.com/tensorflow/model-optimization/issues/964) also has the reproducible code, so we can move our discussion there if you agree.

[2022-05-20 18:51] MATTYGILO commented on #867
Any updates on this I'm using TFOpLambda and trying to cluster but I'm getting the same bug

[2022-05-20 18:54] MATTYGILO commented on #867
My error:
[code]

[2022-05-20 18:58] MATTYGILO opened #972 "Yamnet clustering AttributeError: Exception encountered when calling layer "tf.__operators__.add" (type TFOpLambda)."
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2022-05-20 19:03] MATTYGILO commented on #867
I was thinking perhaps it would be great if you could exclude certain layers from the clustering. Simply ignore Lambda operations

[2022-05-20 20:09] MATTYGILO commented on #972
Ok I've fixed the problem using this code:
[code]

[2022-05-20 20:09] #972 closed

[2022-05-22 22:14] pkohn19 commented on #867
Any news on this? How could we skip this bug to perform QAT on MobileNetV3?

[2022-05-25 11:29] MATTYGILO commented on #867
Have a read of my stackoverflow question
https://stackoverflow.com/questions/72361837/quantisation-of-custom-model-with-custom-layer-full-int-8

[2022-05-25 14:53] vvolhejn opened #973 "Pruning only works for small batch sizes"
**Describe the bug**
When using `prune_low_magnitude()`, my model is not pruned if the batch size is low.

**System information**

TensorFlow version (installed from source or binary): 2.8.0 installed via pip

TensorFlow Model Optimization version (installed from source or binary): 0.7.2 installed via pip

Python version: 3.9.10

**Describe the expected behavior**

`model_for_pruning.fit` should s

[2022-05-25 18:54] MATTYGILO opened #974 "Full Int8 QAT not working"
Just a quick question. I want my final model to be full int8 instead of float32 for input and outputs. I want the training to be as accurate as possible. Do I train with quantised input and outputs? Because I have followed the common procedure in the comprehensive guide (with my custom model) and it hasn't worked.
So
1. I trained using the comprehensive guide but modified it to my model
2. After t

[2022-05-27 01:10] thaink commented on #973
@rino20 Could you take a look?

[2022-05-27 01:28] thaink commented on #974
Hi Matty,
Passing `converter.representative_dataset = representative_dataset` is only required for post-training quantization. If you want to use QAT, follow the guide at https://www.tensorflow.org/model_optimization/guide/quantization/training_example( use `quantize_model` before training and train it with the non-quantized input as usual, and then convert it to TFLite).

[2022-05-27 03:23] rino20 commented on #973
Hi @vvolhejn ,

Since you haven't set the pruning parameters, the default option is applied - ConstantSparsity, with pruning frequency 100. https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule.py#L141

That means, your model will be pruned at every 100 steps. Your example will run less than 100 steps if batchsize is

[2022-05-27 10:09] MATTYGILO commented on #974
@thaink I have followed the guides. However I'm using tflite micro which requires full int 8. In none of the examples does it show what to do for full int 8 for input and output. Even if you QAT you still have to convert it using post training quantization and there are no examples of int8 inputs and outputs for QAT.

[2022-05-28 12:27] vvolhejn commented on #973
Thank you for clearing this up. It makes sense explained like this, but it feels a bit unintuitive to me :/ The docs say "frequency: Only apply pruning every `frequency` steps." which doesn't seem to imply the first pruning happens after `frequency` steps.

[2022-05-30 00:23] thaink commented on #974
The inference_input_type and inference_output_type is to use int8 input and output actually.

[2022-05-30 06:42] gcunhase commented on #964
Any update?

[2022-05-30 07:15] MATTYGILO commented on #974
@thaink I've already set those values. Are you suggesting I train on quantised data?

[2022-05-30 09:47] choesy commented on #362
It is middle of 2022 and stil no updates ... :(

[2022-05-31 00:50] thaink commented on #974
Can you share or describe what your output model looks like?

[2022-05-31 11:21] MATTYGILO commented on #974
@thaink I've converted the model with full int 8 but the output of the model is complete rubbish. So I did QAT, of which I have converted to full int 8 but the output is complete rubbish.

[2022-05-31 11:21] MATTYGILO commented on #974
@thaink What is the suggest way of doing full int8 QAT on a model

[2022-05-31 11:24] MATTYGILO commented on #974
@thaink This is how I QAT.

import tensorflow_model_optimization as tfmot

LastValueQuantizer = tfmot.quantization.keras.quantizers.LastValueQuantizer
MovingAverageQuantizer = tfmot.quantization.keras.quantizers.MovingAverageQuantizer

[code]

[code]

Please I need all help and advice

[2022-06-02 02:12] thaink commented on #974
@Xhark Could you check if the Matt is QAT-ing the right way?

[2022-06-02 13:19] Assia17 commented on #732
Hello, any updates on the topic ?
Thank you

[2022-06-03 11:32] niciwalter99 opened #975 "Strange behaviour pruning with small datasets"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2022-06-05 22:35] nutsiepully commented on #362
@Xhark - do we have any plans to add support for this?

Others, please try the rest of the bug to use custom quantization for support.

[2022-06-06 09:50] zhenyu-ponyai opened #976 "How to extract original model's weight from trained QAT model?"
**System information**

- TensorFlow version (you are using): 2.8
- Are you willing to contribute it (Yes/No):

**Motivation**

How to extract the original model's weight from the trained QAT model?
I want to extract the original model's weight and QAT params, so I can set int8 params in TensorRT manually.

[2022-06-06 09:51] zhenyu-ponyai commented on #976
Hi, I wander how to extract original model's weight from trained QAT model? @thaink

[2022-06-06 09:55] #976 closed

[2022-06-06 09:56] doomooo opened #977 "How to extract original model's weight from trained QAT model?"
System information

TensorFlow version (you are using): 2.8
Are you willing to contribute it (Yes/No):
Motivation

How to extract the original model's weight from the trained QAT model?
I want to extract the original model's weight and QAT params, so I can set int8 params in TensorRT manually.

[2022-06-06 09:56] doomooo commented on #977
Hi, I wonder how to extract the original model's weight from the trained QAT model? @thaink

[2022-06-07 00:06] felicitywang1 commented on #968
Reopening with an added question: so the model is not of a keras model type, and cannot use tf.keras.models.clone_model() function. Is there any idea how to apply tfmot to my model? e.g., defining another model of tf.keras.Model type and manually load the trained weights to it, or somehow register any model to be a tf.keras.Model type? Any ideas? Thank you!

[2022-06-07 00:43] sngyhan commented on #975
@rino20 Could you take a look?

[2022-06-07 03:12] doomooo commented on #977
Anyone can help take a look? Thanks! @thaink @rino20

[2022-06-07 06:25] thaink commented on #977
Isn't the original model weights in checkpoint files or variables/ directory?

[2022-06-07 07:25] doomooo commented on #977
Thanks for your reply!  @thaink
No, the weight is in quant_warp, and the name is changed.

[2022-06-07 07:27] doomooo commented on #977
I can extract the weights with some codes or tricks,  but I wonder if there exist official methods. @thaink

[2022-06-07 07:55] thaink commented on #977
I don't think we have an official way for that. This use with TensorRT isn't in our set of use-cases for now.

[2022-06-08 05:05] gcunhase commented on #964
Any update?

[2022-06-08 19:38] rino20 commented on #968
MOT officially only suupport keras model. But you can try the manual loading weights if you want to apply MOT techniques. We have wrapper class for applying MOT to the model, you may want to build a new model with those wrapper wrapping each layer, and load your weights to there.

Not an exact example, but you may find some information how to apply quantization in the nested model - https://github

[2022-06-09 21:45] YannPourcenoux opened #979 "PCQAT not working if Conv2D has kernel size 1x1"
**Describe the bug**
When doing the [Sparsity and cluster preserving quantization aware training (PCQAT) Keras example](https://www.tensorflow.org/model_optimization/guide/combine/pcqat_example), if I use a Conv2D Layer with a kernel size of `(1, 1)` the model after the QAT step of PCQAT has only zeros in this weight.
It works fine if the kernel size is `(3, 3)` or bigger.

**System information**

[2022-06-10 08:35] MATTYGILO commented on #974
@thaink

@MATTYGILO ! Quantized data is not needed normally in the representative dataset.  You should revert to float32 datatype as the error suggests. I am afraid integer quantization might not be possible for Yamnet model yet.
[code]

_Originally posted by @mohantym in https://github.com/tensorflow/tensorflow/issues/56313#issuecomment-1143546114_

[2022-06-10 12:16] YannPourcenoux commented on #975
What if you look at the weights of the model after stripping the pruning with [this](https://www.tensorflow.org/model_optimization/api_docs/python/tfmot/sparsity/keras/strip_pruning)?

[2022-06-10 13:30] MATTYGILO opened #980 "Trying to quantise MobileNetv3 small Exception encountered when calling layer "tf.__operators__.add_137""
There has recently been an article saying mobilenetv3 can be used for QAT
[https://blog.tensorflow.org/2022/06/Adding-Quantization-aware-Training-and-Pruning-to-the-TensorFlow-Model-Garden.html](https://blog.tensorflow.org/2022/06/Adding-Quantization-aware-Training-and-Pruning-to-the-TensorFlow-Model-Garden.html)

However when I run this code:
[code]

I get this error:
[code]

I am using an m1 Mac

[2022-06-11 18:44] MATTYGILO commented on #980
Same problem with mobilenetlarge:

`AttributeError: Exception encountered when calling layer "tf.__operators__.add_29" (type TFOpLambda).

'list' object has no attribute 'dtype'

Call arguments received by layer "tf.__operators__.add_29" (type TFOpLambda):
  • x=['tf.Tensor(shape=(None, None, None, 16), dtype=float32)']
  • y=3.0
  • name=None`

[2022-06-11 19:42] MATTYGILO commented on #980
Ok now I am setting minimalist to True and getting this error:

`RuntimeError: Layer rescaling_2:<class 'keras.layers.preprocessing.image_preprocessing.Rescaling'> is not supported. You can quantize this layer by passing a `tfmot.quantization.keras.QuantizeConfig` instance to the `quantize_annotate_layer` API.`

[2022-06-11 19:46] MATTYGILO commented on #980
Ok this seems to work:

[code]

[2022-06-11 19:47] MATTYGILO commented on #980
Additionally, I have noticed that this also seems to work for MobileNetV3Small even though in the article earlier it only states MobileNetV3Large

[2022-06-11 19:58] MATTYGILO commented on #980
Ok now I run this code:

[code]

and get this error:

`RuntimeError: tensorflow/lite/kernels/conv.cc:357 input_channel % filter_input_channel != 0 (1 != 0)Node number 1 (CONV_2D) failed to prepare.`

for both int8 and uint8.

I have ran it without full int 8 quantisation and it works. But I need full int 8!!!

[2022-06-13 12:22] rino20 commented on #975
Hi @YannPourcenoux

Since you haven't set the pruning parameters, the default option is applied - ConstantSparsity, with pruning frequency 100. https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule.py#L141

That means, your model will be pruned at every 100 steps. Your example will run less than 100 steps, (1000/64*2

[2022-06-13 12:26] rino20 commented on #973
Sorry for the confusion. We wished that "Only" in the sentence implies it, but that might not be enough.

[2022-06-13 19:06] niciwalter99 commented on #975
Okay that makes sense. But why does the 'frequency' argument exist at all in the ConstantSparsity function? It's useful in the PolynomialDecay function, but isn't it useless to have a frequency, when you just want a constant sparsity pruning and fine tune afterwards?

[2022-06-13 19:49] #753 closed

[2022-06-14 01:34] Xhark commented on #980
Hi the model input shapes are (224, 224, 3), so you can try size=(1, 224, 224, 3) on representative_dataset function. Thanks.

[2022-06-14 01:35] inho9606 commented on #980
@Xhark hark Hi Jaehong, can you help fix the runtime error?

[2022-06-14 01:48] inho9606 commented on #977
@Xhark could you review this thread?
Thanks

[2022-06-14 01:52] inho9606 commented on #979
@rino20 Hi Rino, could you help fix this issue?

[2022-06-19 09:11] Ben-Yee commented on #940
When I was trying to prune,I got the similar issue:

Please initialize `Prune` with a supported layer. Layers should either be supported by the PruneRegistry (built-in keras layers) or should be a `PrunableLayer` instance, or should has a customer defined `get_prunable_weights` method. You passed: <class 'tensorflow.python.keras.layers.convolutional.Conv1DTranspose'>

[2022-06-22 08:39] YannPourcenoux commented on #979
Can I get some help on this? This is one of your tutorials and 1x1 Convs are one of the most used layers in Deep Learning for computer vision

[2022-06-23 09:07] jamwar01 commented on #979
@YannPourcenoux We have found the source of the problem and are now working towards a solution.

[2022-06-23 09:23] YannPourcenoux commented on #979
Great! Thanks! Looking forward to hearing from you again 😁

[2022-06-27 19:05] ashwinv99 commented on #377
HI @frytoli, what changes did you make in apply quantisation function to apply quantisation to submodules (conv layers) of upsample and downsample blocks too?

[2022-06-28 14:20] fPecc commented on #634
Are there any updates in this? I would also like to use block_size with more dimensiones for CONV2d layers

[2022-06-28 14:28] fPecc commented on #732
Hello, any updates on this topic?

[2022-06-29 02:33] WillLiGitHub commented on #524
quant_model.load_weights(model_path)

[2022-06-29 10:47] Lotte1990 commented on #524
@WillLiGitHub What do you mean? Could you explain a bit more?

[2022-06-30 17:18] jamwar01 commented on #979
Hi @YannPourcenoux a PR has been created for the issue (linked above). In the meantime, if you like, while waiting for it to be merged, you may download the patch and see for yourself if you get the desired behaviour with the 1x1 kernel sizes. Thanks for drawing attention to this bug :)

[2022-07-06 00:26] AmoghDabholkar opened #987 "Non-uniform sparsity layer-wise with PolynomialDecay scheduler"
**System information**

- TensorFlow version (you are using): 2.9.1
- Are you willing to contribute it (Yes/No): Yes

**Motivation**

Instead of assuming that the initial and final sparsity are uniform across layers, is it possible to add a feature where the user can feed in either a custom sparsity map or a sparsity distribution generated using ERK (like in @evcu 's Rigl codebase - https://github

[2022-07-06 23:15] eangius opened #990 "Cannot joblib serialize pruned models"
**Description**

I have a `scikeras` estimator used in a pipeline that trains, deploys & predicts successfully for my needs but as soon as I implement model pruning as per this [documentation](https://www.tensorflow.org/model_optimization/guide/pruning/comprehensive_guide), the model can no longer serialize with `joblib` & raises the following messages:
[code]
Seems like something within [PruneLow

[2022-07-07 03:03] #990 closed

[2022-07-07 05:10] chococigar commented on #987
Hi AmoghDabholkar@, thanks for your input!
We haven't considered this feature yet in tfmot sparsity, but will consider this to be included in our next batch of updates.

Thanks!

[2022-07-07 08:46] WillLiGitHub commented on #977
model: original model
        model_q: quantized model

        for ly in model.layers:
            name = 'quant_' + ly.name
            if len(ly.variables) > 0:
                lly = model_q.get_layer(name)
                for var in ly.variables:
                    for vvar in lly.variables:
                        if var.name == vvar.name:
                            var.assign(tf.Variable(v

[2022-07-07 09:16] doomooo commented on #977
@WillLiGitHub Thanks！ I have extracted weights in this way.

[2022-07-13 02:19] publioelon opened #991 "Quantization aware training for a Transfer Learning MobileNet model"
Hello, I have a MobileNetV2 That I am trying to use for image classification by means of transfer learning, although apparently seems to not work.  Initially, I perform transfer learning on my model as follows:

[code]

I then followed the steps here to perform model quantization: https://colab.research.google.com/github/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc

[2022-07-13 18:46] hunse opened #994 "Allow quantization of tied weights"
**System information**

- TensorFlow version (you are using): 2.6.0 (TFMOT 0.7.2)
- Are you willing to contribute it (Yes/No): Potentially, with some advice on how to implement it

**Motivation**

Numerous common networks use tied weights of some kind, for example autoencoders or language models with shared embedding/deembedding weights. Currently, these models are not supported for quantization b

[2022-07-14 11:32] lzcchl opened #995 "1"

[2022-07-19 00:47] js1010 commented on #994
Hi hunse@, thanks for your input!
We haven't considered this feature yet in shared layers, but will consider this to be included in our next batch of updates.

Thanks!

[2022-07-19 07:17] tinghua-code opened #996 "subclass"
I have one subclass A, which contains another subclass B inside it. I find subclass B in fact didn't get quanted.
class A ():
    self.layers=[]
    self.layers.append(Dense)
    self.layers.append(class B)

class A_quant(A):
    self.layers[0]=QuantizeWrapperV2(Dense, quant_config)
     _config=B.get_config()
    quant_layer=B_quant.from_config(_config)
    self.layers[1]=quant_layer

Well, every

[2022-07-20 01:43] lzcchl opened #997 "about the Quantize layer when trans model"
I have two model, which is mobilenetv1 for classification.
the first model, it's download from google: https://storage.googleapis.com/download.tensorflow.org/models/tflite/mobilenet_v1_224_android_quant_2017_11_08.zip

the second model, it's ctreat by myself, I make its layers same to first model, it is train by keras and Post-training quantization(PTQ) to get tflite model which input/output are '

[2022-07-21 16:01] gcunhase commented on #868
This bug **can be closed** for `DepthwiseConv2D`.
For `Conv2DTranspose` and `SeparableConv2D`, please move the discussion [here](https://github.com/tensorflow/model-optimization/issues/964).
Thank you!

[2022-07-23 14:24] touristourist opened #1000 "bilinear upsampling layer cannot be 8-bit quantized correctly"
**Describe the bug**

Hello, I want to do full 8-bit quantization(input, weight all 8-bit) to the network with a bilinear upsampling layer. The fake QAT result in validation set is closed to FP32 result, but when I converted the QAT model to full 8-bit tflite model, the result in validation set decreased significantly, almost no accuracy. So I wonder whether I made a mistake or tflite doesn't supp

[2022-07-26 13:10] Garstig opened #1002 "Post-training integer quantization for SSDMobileNet - poor detection accuracy"
Hi there

**Describe the bug**
I used [Convert TF Object Detection API model to TFLite](https://colab.research.google.com/github/tensorflow/models/blob/master/research/object_detection/colab_tutorials/convert_odt_model_to_TFLite.ipynb) and tried to modify it, so it is fully int 8 quantized. [Here](https://colab.research.google.com/drive/1XuWniYM6q_0Uffp6SqSC5GUoS4Bd78RM?usp=sharing) is my version.

[2022-07-27 16:05] gcunhase commented on #638
@daverim is there any update on this?

I saw that there's a [new blog from TensorFlow](https://blog.tensorflow.org/2022/06/Adding-Quantization-aware-Training-and-Pruning-to-the-TensorFlow-Model-Garden.html) saying that Subclassed models are now supported, but not much information is given on how this is done exactly. Is there a more in-depth link for this?

Thank you!

[2022-07-28 18:02] Jwy-Leo opened #1003 "Input and resource quantization"
**System information**

- TensorFlow version (you are using): tensorflow 2.9.1
- Are you willing to contribute it (Yes/No): No

**Motivation**
The input and resource need interface for customer layer quantization,
Normalization is a basic structure in the DNN, but we cannot quantize it easily.
1. No input quantization interface in customer configuration, it will make quantization mul-add structure

[2022-07-30 03:40] dansuh17 commented on #996
@Xhark could you take a look at this issue?

[2022-07-30 04:18] dansuh17 commented on #1002
Hi @Garstig, thanks for the detailed description.

One quick question about the model in the examples: is Model 2 the model quantized with 200 representative samples?

Selecting the representative dataset is a subtle art. Could you try the following and see if the performance improves?

* Use a subset of the training dataset (instead of the validation dataset) for the representative dataset.
* Use

[2022-07-30 04:29] dansuh17 commented on #997
@sngyhan Could you take a look at this?

[2022-07-30 04:46] dansuh17 commented on #1000
Hi @thaink , I think this is a question about quantizing the UpSampling2D layer. Could you take a look?

[2022-07-30 19:33] Garstig commented on #1002
Hi @dansuh17, thanks for your answer!

Model2 was the model with  only 2 representative samples. So yes, there were cases were the model with less representative samples performed better than the one with more.

I just tried everything you suggested. Unfortunately the results are still quite bad. I even used the same images for testing as for the representative dataset, as I thought it should work

[2022-08-01 01:24] thaink commented on #1000
Jaehong is better in QAT and Keras-related things. @Xhark Could you take a look?

[2022-08-01 09:27] Xhark commented on #638
We still not fully supports subclass model yet. The model we mentioned on that blog post means we wrote some code to supports a kind of subclass model, which implemented in tensorflow official (https://www.tensorflow.org/tfmodels#official) vision model.

To support that, we also export some APIs to enable them. but still we need to implement model specific code to support them. Here is a model spe

[2022-08-01 16:31] sngyhan commented on #997
Hi @lzcchl, our new quantizer that uses MLIR does not officially support uint8. You need to use TOCO converter. Could you check with this change:
[code]

[2022-08-03 19:21] gcunhase commented on #638
Thank you for the reply @Xhark! Is there an ETA on when Subclassed models will be supported? Thanks!

[2022-08-08 07:10] Garstig commented on #1002
Hi @dansuh17 , do you have any chance too look into it again? Or do you know someone who could help? I would really appreciate that!

[2022-08-08 16:35] Xhark commented on #996
Hi, Would you please explain how did you make Q_quant more details?
Is that quantized if you only use B_quant class?

[2022-08-08 16:45] Xhark commented on #1000
I think there's two possibilities:
1. Quantize model highly recommended to use `nearest` because `bilinear` has some gap between TF and TFLite at this moment. (we quantize output of the layer on TF QAT model, but it moved to input side after convert to TFLite model.)

2. The model itself can contains some redundant fake-quant. Would you please try to convert that model as float without quantizatio

[2022-08-08 16:48] Xhark commented on #1003
Hi, would you please give us some examples? We usually assume BNs would be folded (fused) to nearby layer for optimization. I'd like to know some use-cases that when it required. Thanks.

[2022-08-09 20:58] evcu commented on #987
I agree it would be nice to support this. I've implemented ERK in a hacky way in one of our recent projects. The tricky thing is the layer parameter shapes required before the calculation, thus often requires initialization and key matching. It would be much easier if an initialized model is wrapped after the fact.

https://github.com/google-research/rigl/blob/0f029735f84e0120df05512244510e8ed48a4

[2022-08-12 18:31] gcunhase commented on #964
Any update?

[2022-08-12 19:05] gcunhase commented on #991
Any updates on this?

[2022-08-14 00:38] Apprisco commented on #638
Just noting that subclassed layers don't work with tf.function, nor do subclassed models.
This is a very weird bug: if the function called directly in the training loop is a tf.function, the GPU will not be utilized (although tensors are logged to the gpu). If we separate the gradienttapes into different functions with separate tf.functions, it will work.

[2022-08-19 12:26] rino20 commented on #1002
Your representative dataset generation function is not aligned with your preprocess_image_cv() function.

especially, I think image = image * 255 is missing. what about just call the preprocess_image_cv() in _representative_dataset_gen_full ?

[2022-08-22 15:51] Garstig commented on #1002
Whoops, I closed it by accident. I just wanted to comment.

[2022-08-23 09:24] zhuyu14 opened #1010 "Post training quantize TTS model fastspeech2 and failed"
Hi Everyone,

I tried  to post quantize fastspeech2 model of TensorFlowTTS ,but got the error message, I was wondering if anyone knows the detials of this error and how to fix this ? Thanks!

Use python version : 3.8.10
Use tensorflow version : 2.8.0

test code:
`
import tensorflow as tf
import yaml
import numpy as np
from tensorflow_tts.configs import FastSpeech2Config
from tensorflow_tts.models

[2022-08-27 10:32] jjmattathil commented on #362
Any update on this?

[2022-08-30 00:35] thaink commented on #1010
error: illegal scale: INF
That probably mean there is INF value in one tensor in the model.

[2022-08-30 01:00] zhuyu14 commented on #1010
hi thaink , is there any way to know which tensor get the illegal value when quantize the model ?

[2022-08-30 03:22] thaink commented on #1010
It seems not straight forward now, the model is converted to tflite before quantization so we might have to add log somewhere in the calibration part.

I wonder, there seems to be TensorflowTTS model for TFLite (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/cpptflite). Isn't that suitable for your case?

[2022-08-30 08:55] zhuyu14 commented on #1010
hi @thaink , yes the model is from the site you showed and the model there is float tflite model ,but in my case , I need int8 tflite model to accelerate inference speed .

[2022-08-31 00:12] thaink commented on #1010
I see. @sngyhan TTS model will require dynamic-range quantization, right?
Can you guide @zhuyu14 how to do that?

[2022-09-21 14:00] gcunhase commented on #964
Any update?

[2022-10-04 19:48] gcunhase commented on #964
Any update?

[2022-10-11 08:55] daverim commented on #964
Also, i'm not sure what `quantize_model` is doing, but basically, there are
some tensors that are outside the function def that you want to save. The
code I presented encapsulates all the data inside a function.

If you are using QAT api then there is a transform that converts a
separable conv to a conv2d and depthwise conv2d with a
quantize_and_dequantize between the two -- if you are using this

[2022-10-13 16:00] frost-is opened #1017 "Pruning error for transfer learning models from TF/Keras API"
**System information**

TensorFlow version (installed from source or binary): 2.10

TensorFlow Model Optimization version (installed from source or binary): 0.7.3

Python version: 3.8

**Bug**

Hi,

I have been experimenting with ILSVRC2012 lately, and tried pruning pre-trained models that I took from the Keras/TF API. I used the pruning examples from the tfmopt documentation and it worked well fo

[2022-10-15 13:18] dansuh17 commented on #1017
Hi @rino20 , could you take a look at this issue?

[2022-10-21 08:28] danielmimimi commented on #438
@LLNLanLeN could you upload your code how you did the adjustment on the Default8BitConvWeightsQuantizer and the actual usage ?

I have trouble doing it the way you described.

Thanks

[2022-10-22 01:24] LLNLanLeN commented on #438
@danielmimimi hey, I have moved away from TF framework for a while now , hence I cannot recall the issue I've come across here.

[2022-10-25 10:32] cpadeiro commented on #838
Hi,

Any improvement on this issues? I am still stuck on QAT on OD model using TensorFlow version 2.6!
https://github.com/tensorflow/models/blob/master/official/projects/qat/vision/README.md

[2022-10-26 08:31] rino20 commented on #838
Hi, it is not officially available yet, but you can find some OD qat configs in https://github.com/tensorflow/models/tree/master/official/projects/qat/vision/configs/experiments/retinanet

[2022-10-28 13:35] divyajaincs opened #1018 "Model Pruning with Yolo Object Detection Model"
Is there any way to use tfmot for Keras Yolov3-v4  model pruning, or any other object detection model.

[2022-11-02 08:17] sushreebarsa commented on #833
@arm-ssingh Could you refer the comment above and let us know if it helps?
Thank you!

[2022-11-04 02:31] rino20 commented on #1018
Hi Divya,

Sorry, there is not yet an official repository using Pruning to object detection models. But of course, you can try one with Tensorflow Model garden models.

There are some object detection models w/ RetinaNet, https://github.com/tensorflow/models/tree/master/official/vision/configs/experiments/retinanet

And you can apply the pruning similarly in image classification examples.
https://

[2022-11-04 03:02] rino20 commented on #1017
Hi, sorry for late reply.

I think there are probably some updates in keras layer dependencies but it is not well applied in PruneRegistry. Will take a look when the updates are settled down, we will update it.

Before that, you can temporarily use below code to enabling your pruning work.
def get_prunable_weights():
  return []

for layer in mobilenet_small.layers:
  if layer.__class__.__name__ i

[2022-11-04 18:52] Seeeeeyo commented on #546
Has anyone been able to find a solution?

[2022-11-07 01:55] james77777778 commented on #546
I met the same issue and ended up replacing MobileNetV3-Small with EfficientNet-lite0 which fully supports PTQ and QAT.
(Also I saw big quantization error from SE blocks of MoblieNetV3-Small)

https://www.tensorflow.org/lite/api_docs/python/tflite_model_maker/image_classifier/EfficientNetLite0Spec

[2022-11-10 16:30] swapnilsayansaha opened #1026 "'Pruning in Keras' Example: Unable to fine-tune pruned model on GPU (TF 2.9.2)"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2022-11-11 15:32] rino20 commented on #1026
Hi, it seems like an issue of floormod op on GPU rather than Pruning API's issue. It is weird since the similar bug is already fixed an year ago - https://github.com/tensorflow/tensorflow/issues/46887

Could you double check your tensorflow version? If it exists in recent tensorflow version, we may need to reopen the above issue.

[2022-11-11 16:17] swapnilsayansaha commented on #1026
Tf version is tf2.9.2 (GPU)

[2022-11-16 15:34] zoythum commented on #173
Is there any update on this topic? What's the correct way to improve the inference time of a model with pruning?

[2022-11-25 07:03] james77777778 commented on #733
It is common to use `tf.keras.layers.Multiply` but it lacks support from tfmot.
[https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py#L162](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8