[2020-09-15 23:09] #534 closed

[2020-09-16 04:23] nutsiepully commented on #513
@psunn - Thanks for the suggestions. These are all fundamental changes to the API, and wouldn't quite work.

We designed the QAT API to be flexible enough to handle changes. We haven't exposed some of this yet, but we could to make your work easier. The plan was for `quantize_model` and `quantize_apply` to expose a `QuantizationScheme` param which allows users to customize both the transforms, and

[2020-09-16 09:09] psunn commented on #513
@wwwind for visibility

[2020-09-18 06:11] debapriyamaji opened #549 "Conv2d+BN+ReLU folding"
Hi,
 I am trying to add some constraints to the weights and activations in quantization aware training.  E.g. I want to make them power of 2. That is weights/activations can take values of 0.125, 0.25, 0.5, 1, 2, 4, 8, e.t.c. I changed the range calculation to achieve this constraints.

  It works well for standalone Conv or FC layers.  Figure below shows an example: of a conv layer with scale of

[2020-09-18 08:47] psunn commented on #513
@nutsiepully Thanks for sharing the ongoing work and future changes.
I guess we can have a flag `QuantizationScheme.preserve_sparsity`, when QAT API updated.
To enable prune-preserve QAT, user can:
[code]

For experimental and feature approval, probably this is ok for now:
`tfmot.quantization.keras.experimental_prune_preserve.quantize_annotate_layer(keras_layer)`

what do you think?

[2020-09-18 15:05] madarax64 commented on #362
Hi @nutsiepully,
Great work! Can you provide an example of this please?
Thanks

[2020-09-20 14:16] Mattrix00 commented on #431
Any news about support for QAT model ?
To run the script is necessary to build tf from source ??

[2020-09-20 15:23] LLNLanLeN commented on #431
@Mattrix00  I believe the only way to run the script is to build from source ( I built from sources)

[2020-09-21 01:06] debapriyamaji opened #550 "Pattern matching messes the network architecture wih custom quantization"
Hi,
 I am trying to perform custom quantization for a n/w with Conv+BN+ReLU pattern. As expected, this pattern is matched and then replaced. E.g. Consider the following model definition

![image](https://user-images.githubusercontent.com/12505801/93706443-ea451d00-fb43-11ea-9f24-41878323584f.png)

With custom  quantization, this model architecture is completely messed up as shown below. Here I am

[2020-09-21 05:24] debapriyamaji opened #552 "CONV+BN+ReLU doesn't get merged with custom quantization"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2020-09-21 05:42] debapriyamaji commented on #438
Hi @LLNLanLeN,,
If you are still stuck with the merging issue, please refer to this :https://github.com/tensorflow/model-optimization/issues/552

[2020-09-22 07:18] corvoysier commented on #431
This issue has always been about the spurious Dequantize/Cast/Quantize in the middle of the converted model and never about the lack of support for integer inputs/outputs that I was well aware of at the time I created it.

The real fix to my issue was to statically set the input shape to (1, w, h, c), as I posted here: https://github.com/tensorflow/model-optimization/issues/431#issuecomment-646539

[2020-09-22 07:32] LLNLanLeN commented on #438
@debapriyamaji  Thank you for notifying me. I've found an alternative solution, but I'll still check the post

[2020-09-22 07:35] LLNLanLeN commented on #552
@debapriyamaji When you made this change, does the QAT process still worked as expected? (meaning that when you provide a custom config for QAT, does Batchnorm get folded after converting to tflite?)

[2020-09-22 08:45] debapriyamaji commented on #552
@LLNLanLeN , yes they will get merged.  This line of code ensures that conv and bn gets merged.
conv_layer_node.layer['config']['activation'] = \
      keras.activations.serialize(quantize_aware_activation.NoOpActivation())

[2020-09-22 09:40] #541 closed

[2020-09-22 17:12] nutsiepully commented on #362
https://github.com/tensorflow/model-optimization/blob/48c08d13629ff062ce1720d53a035bbfa0331b83/tensorflow_model_optimization/python/core/quantization/keras/default_8bit/quantize_numerical_test.py#L112

[2020-09-22 17:43] alanchiao commented on #550
Hi @debapriyamaji: regarding the indexing error itself (as opposed to issue as a whole), it'd be good if you could upgrade your version of TFMOT. It's been fixed in the [0.4.0 release](https://github.com/tensorflow/model-optimization/releases/tag/v0.4.0), with the note on "Fixed Sequential model support for BatchNorm layers that follow Conv/DepthwiseConv".

[2020-09-24 04:37] debapriyamaji commented on #550
Hi @alanchiao ,
  The issue seems to be there in 0.4 release. However, it is resolved in 0.5 release. Thanks.

[2020-09-24 07:58] jackjhliu commented on #438
Hi @LLNLanLeN ,
I have the same issue. Could you please share your solution?

[2020-09-24 08:30] debapriyamaji commented on #549
Hi @alanchiao ,
  Will you please be able to answer this?

[2020-09-24 08:32] debapriyamaji commented on #535
Hi @alanchiao ,
Is it possible to share some training script for quantization aware training?

Regards - Debapriya

[2020-09-24 12:53] LLNLanLeN commented on #552
Thank you, I'll try it as soon as possible and get back to this thread :D. I was looking for this line since I first try to fold the Batchnorm, but glad that someone found it eventually. Just want to double check, what version of `nightly build` are you using?

[2020-09-24 12:55] LLNLanLeN commented on #438
@jackjhliu  hey, I recommend you try the solution posted by @debapriyamaji above (there should be a thread leading to it). And if that method works, please comment on that thread and let us know. If it still doesn't work, I can recommend another solution, it's a bit trickier to do and a require a bit more time for sure.

[2020-09-24 13:03] jackjhliu commented on #438
@LLNLanLeN
Ok, I will try. Thank your for your reply.

[2020-09-24 14:06] jackjhliu commented on #552
Hi, have you tried this method for per-tensor quantization?
Even with the above modification, in my TFLite model the BatchNorm still cannot be folded into the Conv2D layer before it.
It looks like this:
![擷取](https://user-images.githubusercontent.com/61812963/94155937-16e59580-feb2-11ea-9633-d04068c62360.JPG)

[2020-09-25 03:46] debapriyamaji commented on #552
Hi @jackjhliu ,
 Can u please check whether those lines are getting executed by placing a breakpoint inside this function? If possible can you share the quant configuration as well? I will have a look . I have tested it for per tensor quantization.

I can see that no fakequant layer is placed between Conv and BN. Hence,  they should have been ideally merged.

BTW, which version  of TFMOT are you u

[2020-09-25 05:03] jackjhliu commented on #552
Hi @debapriyamaji
Those lines have indeed been executed.
I am using TFMOT 0.4.0 .
This is my quantization config:
[code]

[2020-09-25 09:26] FredHuang16 opened #556 "AttributeError: 'NoOpActivation' object has no attribute '__name__'"
Traceback (most recent call last):
  File "train_mobilenetv2_quantization.py", line 368, in <module>
    base_model = quantize_model(base_model)
  File "/home/huangfei/anaconda3/envs/ImageSearch2/lib/python3.6/site-packages/tensorflow_model_optimization/python/core/quantization/keras/quantize.py", line 138, in quantize_model
    return quantize_apply(annotated_model)
  File "/home/huangfei/anacond

[2020-09-27 15:12] amitport opened #558 "AdaptiveEncodingStageInterface decode should be able to receive and update a state"
**System information**

- TensorFlow version (you are using): 2.2.1
- Are you willing to contribute it (Yes/No): Maybe

**Motivation**

What is the use case and how does it broadly benefits users? Prioritization and whether a feature is added is based on how it
helps the community and the feature's maintenance costs.

The benefit is more communication effeient ML and more consolidated research in

[2020-09-28 05:34] Ratansairohith commented on #534
@eyebies are you able to solve the issue?? I am facing the same issue!

[2020-09-28 23:51] nutsiepully commented on #438
I'm afraid conversion is not guaranteed or supported for custom quantization. Conversion only works for the default quantization spec.

[2020-09-28 23:57] nutsiepully commented on #552
Hi @debapriyamaji,

Please refer to [this](https://github.com/tensorflow/model-optimization/issues/438#issuecomment-650471700).

QAT by default supports the TFLite quantization [spec] (https://www.tensorflow.org/lite/performance/quantization_spec), which treats Conv2D layers as per-channel.

The API allows the user to play with different techniques and modifications for quantization, but does not

[2020-09-28 23:57] #552 closed

[2020-09-29 00:02] nutsiepully commented on #513
Hi @psunn,

The goal of the API is to allow users to plug in their own `QuantizationScheme` objects. Within them you can add whatever field you want, and you can also modify behavior how you want.

It'll simply be `tfmot.quantization.keras.quantize_model(keras_model, custom_quantization_scheme)`. The `custom_quantization_scheme` is where you can choose to do what you want.

[2020-09-29 00:02] #513 closed

[2020-09-29 08:10] psunn commented on #513
Hi @nutsiepully, thanks for confirm.

Do you know when `custom_quantization_scheme` will be available with master branch, is it available now with a public branch so that I can take a look?

[2020-09-29 14:31] DiscretePython commented on #372
I've run into this problem as well. I believe this is the only layer stopping QAT for my detection model. Any updates?

[2020-09-29 16:15] PiotrowskiD commented on #362
Hi, could you elaborate on the workaround for Conv1D? Also is there any, at least approximate, ETA for the Conv1D support?

[2020-09-29 20:59] nutsiepully commented on #513
@psunn - I haven't added it yet since the need didn't come up. But I can add it if you need it.

[2020-09-29 21:10] nutsiepully commented on #362
Adding support for `Conv1D` standalone should be fairly simple. `Conv1D` internally uses the `Conv2D` op which is basically supported through training and conversion. You just need to write a test to verify the numerics, and also update the registry entry for it.

Conv1D with BatchNorm and that handling would need some more work - The transforms would need to be updated to match Conv1D and ensure

[2020-09-29 23:49] LLNLanLeN commented on #552
@jackjhliu I'm wondering if you have managed to resolve your issue. If not, I can offer an alternative solution

[2020-09-30 00:56] jackjhliu commented on #552
Hi @LLNLanLeN
I haven't found a suitable solution. Please share your solution.

Regards,
Jack Liu

[2020-09-30 10:15] NilakshanKunananthaseelan opened #559 "Saved model parameters in quantize aware training for ResNet50"
I've created a model file for  ResNet50 pretrained model with tf model optimization tool kit. I've customized config with 8 bit for activation and 5 bits for weights.

`
import tensorflow_model_optimization as tfmot

LastValueQuantizer = tfmot.quantization.keras.quantizers.LastValueQuantizer
MovingAverageQuantizer = tfmot.quantization.keras.quantizers.MovingAverageQuantizer
class DefaultConv2DQuan

[2020-09-30 10:34] NilakshanKunananthaseelan commented on #559
![model](https://user-images.githubusercontent.com/25349618/94674971-9c47ca80-0336-11eb-9549-ba95dfd2782e.png)

[2020-09-30 10:56] amitport opened #560 "support all number types in BitpackingEncodingStage"
**System information**

- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): Yes

**Motivation**

currently, `BitpackingEncodingStage` only supports float32 and float64. Is there any reason not to support int8, int32, etc., in the same way float32 is supported?

[2020-09-30 15:23] LLNLanLeN commented on #552
@jackjhliu  I'm not sure if you have try anything like this.

But the problem stem from the fact that BatchNorm doesn't get folded after QAT. I believe Batchnorm were per-tensor support, while Conv2d were per -channel (TF 2.0 default).  Hence, when you add the configuration for Conv2D to become per-tensor QAT, it couldn't get folded properly.

The solution I'm opt for might not be the best, but it

[2020-10-01 02:39] jackjhliu commented on #552
Hi @LLNLanLeN
Thanks for your advice.
This ideas give me a lot of inspiration.
I will try to follow your method.

[2020-10-01 02:46] LLNLanLeN commented on #552
@jackjhliu  you can view this github for an idea how to fold batchnorm with convolution:

https://github.com/yaysummeriscoming/Merge_Batch_Norm

It doesn't work directly because it's keras, but if you read over it, you can sort of understand. Please let me know how it goes. I hope you successfully get what you set out to do.

[2020-10-01 04:49] jennakwon06 commented on #362
Does the "workaround" for Conv1D involve defining a subclass of QuantizationConfig as explained in this guide?

https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide#experiment_with_quantization

[2020-10-01 05:28] nutsiepully commented on #362
@jennakwon06 - Yes. For Conv1D, it should be the same as the Conv2D option. Internally there's just a conv2d op, no conv1d op.

[2020-10-01 05:56] jennakwon06 commented on #362
I see. So I take that as I can reuse the QuantizationConfig of Conv2D for Conv1D.

We do have Conv1D then BatchNorm though. So would QuantizationConfig of Conv1D have to account for that?

[2020-10-01 06:42] nutsiepully commented on #362
No, it won't be able to. You'll have to write custom transforms for that, similar to the Conv2D BatchNorm transforms. And you would have to ensure that the converter is able to handle that.

[2020-10-01 15:06] jennakwon06 commented on #362
I see. Thank you for the reply.

That must be subclassing `tensorflow_model_optimization.python.core.quantization.keras.graph_transformations.transforms.Transform`, as done here https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py#L171 , correct? I will take a shot at implementing this

[2020-10-01 18:42] nutsiepully commented on #362
Yes, you can use the Conv2D one as a guide. Perhaps, even start with modifying it. Might just work with that.

Thanks!

[2020-10-02 04:45] jennakwon06 commented on #363
@nutsiepully , would you explain why the code you provided (not quantizing dense, then quantizing only the outputs in batch norm) would produce close-to-optimal results?

Thank you!

[2020-10-07 06:32] weidongshao commented on #549
@debapriyamaji  just curious, how did you enforce weight constraints of power-of-2? through a lambda function? Did you consider a custom quantizer with power-of-2 quantization?

[2020-10-07 06:46] weidongshao commented on #528
you may want to read this first [https://www.tensorflow.org/model_optimization](https://www.tensorflow.org/model_optimization)

[2020-10-07 07:53] malimora commented on #412
@nutsiepully I am getting same error when trying to convert QAT pretrained Mobilenetv2 keras model to tflite with ```converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]```. My minimal code:
[code]

[2020-10-08 19:15] psunn commented on #513
https://github.com/tensorflow/model-optimization/pull/568 raised for QAT with sparsity preservation.

[2020-10-10 18:55] prakhar5aug commented on #374
I tried this but getting the error 'go_backwards' could please elaborate on how to further use this for pruning

[2020-10-13 03:30] Kaede93 opened #570 "weights pruning with tfmot"
I'm trying the [official demo](https://tensorflow.google.cn/model_optimization/guide/pruning/pruning_with_keras) of tfmot for keras model weights pruning, I followed every steps of the guideline but there are some problems confusing me.

1. Why the size of pruned model (.h5) doesn't change unless compressing to .gz? Is that means the weights pruning can not accelerating the inference (almost same

[2020-10-13 12:26] debapriyamaji commented on #549
@weidongshao , yes I had to create a custom quantizer with power of 2 quantization.

[2020-10-13 23:05] alanchiao commented on #570
Did you see the comments at https://tensorflow.google.cn/model_optimization/guide/pruning/pruning_with_keras#create_3x_smaller_models_from_pruning?

It tries to explain the things that confuse you.  Specifically: "Applying a standard compression algorithm is necessary since the serialized weight matrices are the same size as they were before pruning. However, pruning makes most of the weights zero

[2020-10-14 13:11] sunzhe09 commented on #372
I met the same problem

[2020-10-14 22:29] abhishekbalu opened #572 "pruning model from model zoo"
Hey, I am working on model optimization and would like to know if there is a way to prune models from the model zoo. It would be great if anyone can help me out.

[2020-10-16 05:16] joyalbin opened #574 "4bit trained model with TFMOT not able to convert to tflite with 4bit data range"
Hi
facing an issue with TfLiteConverter.

Created a mode through QAT using TFMOT framework with 4bit training.
While converting the model to tflite using TfLiteConverter, the model parameters still in INT8 data range

We need to convert the model with 4bit data range and its type in INT8.

Expected Result:
1. 4bit model, data range [-7, 7]
2. weights data type INT8

Actual Result:
1. 4bit model, d

[2020-10-16 06:18] car1hsiung commented on #412
@nutsiepully INT8 TFLite is not work, but FP32 TFLite is work.

**Describe the bug**

1. Can not convert quantization aware model to INT8 TFLite.
2. `converter.inference_input_type = tf.int8` and `converter.inference_output_type = tf.int8` are not work.
3. FP32 TFLite is work.

**System information**

TensorFlow version: tf-nightly (2.4.0-dev20201015)

TensorFlow Model Optimization version: 0.5.0

[2020-10-20 11:45] fengxiuyaun commented on #372
I met the same problem

[2020-10-21 14:14] #215 closed

[2020-10-21 23:32] ej159 commented on #559
I would also like to know of a way of extracting quantized weights from quantization aware models. I guess there is a route to get them by converting to a TFLite model and then reading the buffer there but that is a bit hacky.

If I dig into the model non_trainable_weights I can see the `optimizer_step`, `kernel_min`, `kernel_max`, `post_activation_min` and `post_activation_max` variables. How can

[2020-10-27 06:56] NilakshanKunananthaseelan commented on #559
I observed that Tensorflow's Model Optimization Toolkit did range based linear quantization, in which  FP waits are taken and mapped in the desired range(quantizing to INT) and again dequantized using the quantization parameter obtained, to FP values.

So I had dumped the h5 file and manually quantize again from the quantized values.

`
import h5py
import numpy as np
import torch
import torch.nn a

[2020-10-28 09:44] seshuamrita commented on #425
after installing also same error occurs , what to do now

[2020-11-04 01:43] #372 closed

[2020-11-06 18:41] sushruta commented on #40
hello, so what's the correct way of getting past the above error -

[code]

when we use `model.add(...)`

I get the same error when I try to define the layers I need for pruning efficientnet-B6.

--------

What I do is the following -

* I load Efficientnet-B6 with `weights` as `Imagenet`
* I freeze the first 150 layers as non-touchable
* From 151st layer onwards, I set `layer.trainable` as `True`

[2020-11-07 00:39] Ansaya opened #589 "Missing custom input quantization"
Currently implemented quantization aware training algorithm gives the chance to test different types of quantization on a model by implementing a custom Quantizer and annotating layers with custom QuantizeConfig classes, but this capability is highly limited by the fact that a default 8bit quantization layer is added after the input layer of the model.
This extra layer will always quantize inputs

[2020-11-08 02:50] JinLi711 opened #590 "Unable To Prune Subclassed Keras Model With Custom Loop"
I'm unable to prune a subclassed keras model with a custom loop. I followed the code [here](https://www.tensorflow.org/model_optimization/guide/pruning/comprehensive_guide).

Here's my code:

[code]

The error that I'm getting is:

[code]

I don't know if this is a bug or I'm implementing the code incorrectly. There isn't much documentation on using both subclasses models and custom training loops

[2020-11-17 13:15] Lotte1990 opened #594 "Unable to get tfmot version from API"
**Describe the bug**
I'm unable to get the tfmot version from the API. I can get the version by using `pip list`, but I would like to get the version using the API. The __version__ variable is defined in the following file (see link), but somehow it does not work. https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/version.py

**System information

[2020-11-18 09:15] eladc4 opened #595 "Model: Quantization Aware Training"
**Describe the bug**
Running model_quantize fails because I set the model outputs as a dictionary. tfmot assumes it's a list (see .../tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer.py at _get_output_consumers

TensorFlow version: 2.3.1

TensorFlow Model Optimization version: 0.5.0

Python version: 3.7

**Describe the expected behavior**
simple

[2020-11-23 22:16] pl-ang opened #599 "After quantization aware training, the inference time of the int8 tflite model is slower than float32 in the CPU"
**Describe the bug**
For the int8 tflite model created by quantization aware training, the inference time is very slow. I got the int8 and flaot32 tflite models by [training example](https://colab.research.google.com/github/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc/guide/quantization/training_example.ipynb). And I run both on the [TFLite Model Benchmark Tool](ht

[2020-11-24 06:30] anilsathyan7 opened #600 "Quantization aware training with full integer quantization support in tf.keras API"
**System information**

- TensorFlow version (you are using): tf-nightly, 2.3.0
- Are you willing to contribute it (Yes/No): No

The quantization aware training [example](https://www.tensorflow.org/model_optimization/guide/quantization/training_example) shows us how to perform the quantization in tf,.keras, without affecting the accuracy of the model. However the trained model still accepts float

[2020-11-24 12:53] limbtio commented on #372
Is there any update on the Conv2DTranspose QAT support?

I'm working with version 2.5.0-dev20201123, and getting this error:
RuntimeError: Layer decoder_stage0a_transpose:<class 'tensorflow.python.keras.layers.convolutional.Conv2DTranspose'> is not supported. You can quantize this layer by passing a `tfmot.quantization.keras.QuantizeConfig` instance to the `quantize_annotate_layer` API.

[2020-11-25 12:17] tu1258 opened #601 "Polynomial decay for pruning schedule doesn't prune the weight"
`tfmot.sparsity.keras.PolynomialDecay` can be run but the weight is still non-zero. When I change it to `tfmot.sparsity.keras.ConstantSparsity` it just works fine. Is there any advice?

[2020-11-27 13:13] sachinkm308 commented on #390
@alanchiao is right, I faced the same problem and I compiled the pruning model again with the optimiser and the issue was fixed.

[2020-11-30 09:18] ZhouKai90 opened #602 "layer is not supported for Quantization aware training"
**System information**

- TensorFlow version (you are using): tensorflow-2.3.0
- Are you willing to contribute it (Yes/No):No

RuntimeError: Layer tf_op_layer_ResizeNearestNeighbor:<class 'tensorflow.python.keras.engine.base_layer.TensorFlowOpLayer'> is not supported. You can quantize this layer by passing a `tfmot.quantization.keras.QuantizeConfig` instance to the `quantize_annotate_layer` API.
R

[2020-12-02 06:40] sunzhe09 commented on #602
I met a problem is Layer subtract is not  supported.You can quantize this layer by passing a tfmot.quantization.keras.QuantizeConfig instance to the quantize_annotate_layer API.

[2020-12-02 08:48] ZhouKai90 commented on #602
Can you give me some example for quantizing this layer?

[2020-12-02 08:52] sunzhe09 commented on #600
I also need the feature ！！

[2020-12-02 10:31] anilsathyan7 commented on #600
It looks like the feature is supported on tf 2.4 rc1 or above if you set **converter._experimental_new_quantizer = True**, during tflite conversion.
Refer: https://github.com/tensorflow/tensorflow/issues/42082#issuecomment-737074024

[2020-12-03 11:29] andrewstanfordjason opened #603 "Cannot restore a checkpoint on a pruned model without 'Unresolved object in checkpoint: (root).optimizer.*'"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2020-12-03 11:58] andrewstanfordjason commented on #603
Found a work around at https://gist.github.com/yoshihikoueno/4ff0694339f88d579bb3d9b07e609122 (modified)

[code]

[2020-12-04 15:26] leochan2009 commented on #6
same problem here with Timedistribute layer in model optimization. any progress?

[2020-12-07 07:59] pjin257 opened #605 "Converting model to tflite without optimization option"
**Describe the bug**
I converted saved models to tflite without any optimization option. That's like,

`model = tf.keras.models.load_model('saved_model')`
`converter = tf.lite.TFLiteConverter.from_keras_model(model)`

I assumed above conversion is done under "default" optimization setting below:
`converter.optimizations = [tf.lite.Optimize.DEFAULT]`

However, I got a different result when I explic

[2020-12-08 00:28] #605 closed

[2020-12-09 06:00] car1hsiung commented on #412
It worked with tf 2.4.0rc1:

[https://github.com/tensorflow/tensorflow/issues/44079](https://github.com/tensorflow/tensorflow/issues/44079)

[https://github.com/tensorflow/tensorflow/issues/42082](https://github.com/tensorflow/tensorflow/issues/42082)

[2020-12-09 08:50] hhass commented on #527
I am interested in the same feature.
Once a model is quantized for quantization-aware training (QAT), there is no way to set `model.layer.trainable = False`
This is only possible for non-quantized keras models

[2020-12-11 06:49] willbattel commented on #471
Can we get some official documentation about using TFA features with TFMOT, since they're both official TensorFlow libraries that developers will often want to use together?

[2020-12-12 21:44] andrewstanfordjason commented on #206
I have been using tfmot to prune my models and would like to checkpoint along the way. Thus far I have been unable to save partially pruned models using checkpoints. Is there a way to see the weights of a model before the training is complete?

[2020-12-16 08:49] #600 closed

[2020-12-16 15:16] indhu26 commented on #133
Hi,
Currently trying to prune Mobilenet V2 model for classification. Can you point to the integrated training script that you used to get the results ?

[2020-12-19 13:10] j-o-d-o commented on #426
Is there any workaround for tf 2.2 for this? I am using conda to install tensorflow and currently only version 2.2 is available for linux.

[2020-12-20 08:18] rohanmuplara opened #606 "TFJS Support"
Are you willing to contribute it (Yes/No): Willing

**Motivation**

What is the use case and how does it broadly benefits users? Prioritization and whether a feature is added is based on how it

Right now quantization aware based training is focused on tflite but I was hoping to add support for tfjs. The Tfjs converter does not support parsing the quantization aware nodes.

[2020-12-22 10:02] atabakp commented on #590
You need to build the model first.

[2020-12-23 13:02] chiraggirdhar95 commented on #530
Hi @akarmi , any update on making the "weight clustering" compressed TFLITE model files public?

[2020-12-23 15:49] akarmi commented on #530
Hi @chiraggirdhar95, we are working on making some of them available. I will update here in January.

[2020-12-23 17:46] chiraggirdhar95 commented on #530
thanks a lot @akarmi

[2020-12-23 18:25] MeghnaNatraj commented on #431
The issue is resolved with TF 2.4 (the current default TF version in colab). From the [gist](https://gist.github.com/corvoysier/e4d9c6b96b103928544a57054917aace) in [comment1]( https://github.com/tensorflow/model-optimization/issues/431#issue-641064608)
![mnist_integer tflite](https://user-images.githubusercontent.com/8790823/103025491-edeba400-4577-11eb-8423-b9a81fa2b85a.png)

[2020-12-23 18:37] #431 closed

[2020-12-29 12:17] js14083 commented on #173
Hi, are there updates on this?

[2021-01-01 14:38] j-o-d-o opened #608 "Can not use load_model() for quantized models (.pb format)"
**Describe the bug**
When trying to use `model: tf.keras.models.Model = tf.keras.models.load_model(model_path, compile=False)` and `model_path` points to a quantized model, I get this error message:
[code]

**System information**
OS: Linux Mint 19.3
TensorFlow version (installed from source or binary): 2.2.0 from binary (using conda)
TensorFlow Model Optimization version (installed from source or

[2021-01-04 21:35] j-o-d-o commented on #608
Using H5 format works, only using the SaveModel has this issue. So I would claim this is a load_model() issue and is not related to the model optimization itself.

[2021-01-04 21:35] #608 closed

[2021-01-06 18:29] ectg commented on #206
Hi, Do you have any updates on this?

[2021-01-08 11:13] sachinkmohan opened #610 "From which tensorflow version onwards can quantization be applied?"
Hi Team,

I am currently using tensorflow 1.14 for pruning, but I am not sure if I can apply quantization on the same version. Please help.
On pruning tensorflow guide page, the below was mentioned

But this part is missing in the quantization page.

This [page](https://www.tensorflow.org/lite/performance/post_training_quantization) mentions explicitly that _post training quantisation_ can be appl

[2021-01-08 20:43] ectg opened #611 "Pruning does not reduce inference time."
**System information**

- TensorFlow version (you are using): 2.3.0
- Are you willing to contribute it (Yes/No): No

**Motivation**
Currently pruning in tensorflow_model_optimization  does not result in a reduction in inference time. Even though the pruned model is sparser than the original, the inference time remains the same. (This was tested on a Resnet model.)

**Describe the feature**  Prunin

[2021-01-11 10:02] psunn commented on #332
TESTs pass now, thanks.

[2021-01-11 10:02] #332 closed

[2021-01-11 10:52] sachinkmohan commented on #611
I am currently facing the same problem, I did pruning on the SSD model and the inference time is the same. Pruning guarantees model size compression. For this reason I am exploring quantization. Quantization atleast reduces CPU and GPU latencies which should improve the inference time I guess.

[2021-01-11 22:33] drubinstein commented on #1
Any updates on this? I would also be interested in a colab.

[2021-01-18 07:26] rilut commented on #534
@eyebies @Ratansairohith Yes I still face the same issue, cannot train using sigmoid for binary classification model. Do you have any workaround for this?

@tensorflower-gardener Hi is #569 merged in pip/pypi version?

[2021-01-19 12:05] shpq commented on #546
Same issue!

[2021-01-20 14:12] sachinkmohan opened #620 "ValueError: Unknown layer: AnchorBoxes quantization"
**Describe the bug**
I am applying quantization to a SSD model. The [gist](https://colab.research.google.com/gist/sachinkmohan/3e2a5563a80099ce4ee489d6cd5f38e5/tf_quantization_gist.ipynb?authuser=3) is attached. There is a custom object called "AnchorBoxes" which is added while loading the model. This works fine when I don't do quantization. But when I apply quantization, this custom object is not

[2021-01-20 22:02] PhoeniXuzoo opened #621 "Is it possible to implement post-training pruning?"
**MacOS**

- TensorFlow version (you are using): 2.3
- Are you willing to contribute it (Yes/No): No

**Motivation**

The document just shows how to prune the model during training. Each time, we need to call model.fit. During the process, other weights will be modified. We just want to set some weights to zero. In the meantime, don't change other weights.

The feature have been implemented in [Py

[2021-01-21 02:02] cuongdv1 commented on #556
@FredHuang16,
Have you solved this issue?

[2021-01-21 11:11] khaebler commented on #376
@alanchiao thanks for the clarification, but I cannot find a usage of Quantize Config which allows an LSTM layer to be used in a keras model. Could you confirm or deny if this is even possible (ie use an LSTM layer given a certain Quantize Config)?

Here is my Quantize Config

`LastValueQuantizer = tfmot.quantization.keras.quantizers.LastValueQuantizer
MovingAverageQuantizer = tfmot.quantization.k

[2021-01-21 16:54] ectg commented on #611
@sachinkmohan, did quantization work?

[2021-01-22 22:32] drubinstein commented on #6
Similarly, I see this issue for the ClusterRegistry,
[code]

[2021-01-25 09:23] guls999 opened #622 "After QAT and TFLite converter, the type of input and output of averagepooling2d node is not same"
I use QAT to finetune inceptionv3 model. I save models when model fit the datas. Then I load model.h5 to restore model. When I convert h5 to tflite, there is a node that the type of input is int8  and output is float32. So, I meet the error when I use tflite model to infer.

2021-01-25 09:00:36.746994: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic libr

[2021-01-26 00:11] drubinstein opened #623 "0.5.0 in Pypi does not match the zip in github releases"
**Describe the bug**
I was trying out 0.5.0 locally and found that the whl installed from [pypi](https://pypi.org/project/tensorflow-model-optimization/#files) seems to match the 0.4.0 release.

**System information**

TensorFlow version (installed from source or binary): 2.4

TensorFlow Model Optimization version (installed from source or binary): 0.5.0

Python version: 3.6, 3.8

**Code to reprod

[2021-01-26 02:45] qiyangzhang0329 commented on #622
Having the same problem, under watching

[2021-01-27 07:22] rilut commented on #534
@nutsiepully hi I see your PR #569, very cool. do you know when will tensorflow_model_optimization release new version in pypi? thanks

[2021-01-27 17:40] Hackerman28 commented on #620
Hi. I am using the same repo to generate quantised SSD model. I've been able to run the QAT using this:
quantize_scope = tfmot.quantization.keras.quantize_scope
with quantize_scope({'AnchorBoxes': AnchorBoxes}):
  quant_aware_model = tfmot.quantization.keras.quantize_apply(annotated_model)
My training has not completed so I can't comment on whether the training works but model fit throws no errors

[2021-01-27 21:23] sachinkmohan commented on #620
@Hackerman28 Thanks a ton bro!!! :) You just saved me a lot of work and hassle!! Wish you an awesome day ahead!! :)
Such a silly mistake I did, how dumb! :/

The mistake I did is as below.

[code]

Instead you are right, the correct code is below

[code]

[2021-01-27 21:23] #620 closed

[2021-01-27 22:24] Xhark commented on #372
@limbtio Now we supports TransposeConv: https://github.com/tensorflow/model-optimization/commit/4f4e5d02db5424d5cfcb822a8965023bf8d2011e

But it also requires up-to-date TFLite kernel: https://github.com/tensorflow/tensorflow/commit/f98a42d0a09cb71a9d2e6f36a4cbc29389ee5483

Please report a bug if you have any problem with it.

[2021-01-28 11:24] sunzhe09 commented on #622
me too

[2021-01-28 20:24] nutsiepully commented on #534
Thanks @rilut. Glad you found it helpful.

@daverim @Xhark would know when a new release is coming.

[2021-02-03 19:54] Hackerman28 opened #626 "How to get quantized weights from QAT model?"
Hi all. I've recently trained a keras implementation of ssd-keras. I've managed to run QAT training on the model and got desired the accuracy. I wanted to get the quantised weights from the QAT model saved as a H5 model. There's no support or documentation regarding this in the tensorflow website. How can I get the quantised weights from the saved model after QAT?
I tried converting it to TFLite b

[2021-02-04 09:15] akarmi commented on #530
The tflite files of the clustered KWS models are now available [here](https://github.com/ARM-software/ML-zoo/tree/master/models/keyword_spotting/ds_cnn_large).
We are also looking at making the code to reproduce those models available in the next few months.

[2021-02-07 12:24] jiafulow commented on #623
The 0.5.0 version on [pypi](https://pypi.org/project/tensorflow-model-optimization/#history) seems to point to this https://github.com/tensorflow/model-optimization/commit/525accb4d3ed3bc6d345143fb0fa1d8faa0ce23d (Sep 13, 2020). But the 0.5.0 [tag](https://github.com/tensorflow/model-optimization/tags) on this GitHub repo points to https://github.com/tensorflow/model-optimization/commit/973f5b394a

[2021-02-11 12:07] SaoirseARM opened #627 "Possible tolerance issue for transpose_conv"
**Describe the bug**
The following unit test is failing due to a possible tolerance issue with the addition of the transpose_conv to QAT:
https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/quantization/keras/default_8bit/quantize_numerical_test.py#L177

**System information**

TensorFlow version (installed from source or binary): tf_nightly

Tens

[2021-02-12 15:51] akarmi commented on #627
@daverim, @nutsiepully, can you please check this test?

[2021-02-16 11:28] FSet89 opened #628 "Cannot quantize model with Batchnorm, but MobilenetV2 can"
Tensorflow v2.3.0
I defined a model using tf.keras and I want to perfrom quantization aware training in this way:

[code]
I get this error:

**RuntimeError: Layer batch_normalization_2:<class 'tensorflow.python.keras.layers.normalization_v2.BatchNormalization'> is not supported. You can quantize this layer by passing a 'tfmot.quantization.keras.QuantizeConfig' instance to the 'quantize_anotate_lay

[2021-02-17 14:12] johan-gras opened #631 "Sparsity is not correctly checked in pruning integration test"
**Describe the bug**
This is a bug located in [prune_integration_test.py](https://github.com/tensorflow/model-optimization/blob/4f4e5d02db5424d5cfcb822a8965023bf8d2011e/tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py).

This [specific function](https://github.com/tensorflow/model-optimization/blob/4f4e5d02db5424d5cfcb822a8965023bf8d2011e/tensorflow_model_optimiza

[2021-02-19 12:45] johan-gras opened #633 "OOM errors when running tests with bazel"
**Describe the bug**
I had a lot of Out of Memory errors when running pruning tests with bazel.

This is what I tried on two different hardware (see below for configuration):
- `bazel test tensorflow_model_optimization/python/core/sparsity/keras/...`
  It gave me either a **GPU->CPU Memcpy failed Fatal Python error: Aborted** or a **CUDA OOM** on both hardware.
- `bazel test tensorflow_model_optim

[2021-02-22 09:20] eejlny opened #634 "block_size for pruning 3D weights"
**System information**
Ubuntu 18.02
- TensorFlow version (you are using):
2.4.1
- Are you willing to contribute it (Yes/No):
Yes
This relates to the pruning optimization

"block_size: The dimensions (height, weight) for the block sparse pattern
        in rank-2 weight tensors."

Currently it seems that the block_size feature during pruning only works for 2D weights and this seems to limit the app

[2021-02-22 20:53] skyw opened #635 "Symmetric quantization returns nonzero value for 0 on GPU"
**Describe the bug**
In symmetric quantization, after (fake) quantization, 0 should be exactly 0.
But model-optimization uses the fake quantization API designed for asymmetric quantization so that it could return nonzero values under certain conditions.

**System information**
Ubuntu 16.04
Tesla V100-DGXS-32GB
Tested in container `tensorflow/tensorflow:nightly-gpu`

TensorFlow version (installed f

[2021-02-23 17:08] alejandroariaszuluaga commented on #425
Hello, I'm having the same issue, a simple `pip install -q tensorflow-model-optimization` on Colab worked for me, but on my local environment it doesn't seem to solve the issue, followed the detailed instructions on the link above. Maybe it's because I don't have a GPU available?

Appreciate any help!

[2021-02-24 03:19] dathudeptrai commented on #173
@alanchiao any update process?

[2021-02-24 14:58] johan-gras opened #636 "prune_low_magnitude is not working on tf<2.4"
**Describe the bug**
tfmot.sparsity.keras.prune_low_magnitude is not working at all on tf version 2.3 and 2.4:

TypeError: true_fn and false_fn arguments to tf.cond must have the same number, type, and overall structure of return values.

**System information**

TensorFlow version (installed from source or binary): 2.3 and 2.2 (working on 2.4)

TensorFlow Model Optimization version (installed from

[2021-02-24 18:54] liyunlu0618 commented on #173
This is currently available as an experimental feature.

For sparse CNNs, it needs to run with the XNNPack delegate. Please refer to [this](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/xnnpack).

For sparse RNNs and transformers, TFLite has built-in support. [This](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/ex

[2021-02-24 21:05] #530 closed

[2021-02-25 06:49] dathudeptrai commented on #173
@liyunlu0618 thanks for your information, I will play around it a bit :D. Do you know when the documentation will be finished ?

[2021-02-26 00:01] yycho0108 opened #638 "Support for nested `tf.keras.layers.Layer`"
**System information**
- `Ubuntu 16.04`

- TensorFlow version (you are using):
Tried both `2.3.0` and `tf-nightly`(`==2.5.0-dev20210223`)

- Are you willing to contribute it (Yes/No):
I have tried, but to no avail - maybe with some help?

**Motivation**

Distanetly related to #155 , but instead of nested models this is a request for supporting nested layers. Perhaps the necessary steps for develop

[2021-03-01 03:12] aa12356jm commented on #173
mark

[2021-03-01 08:00] tcrossley17 opened #640 "Creating a saved_model_dir in google colab? -- Converting pb model to tflite"
**Describe the bug**
I am trying to run the following code in Google Colab to convert my model to tflite, but I am new to google colab and I am not sure how to create this directory since I am simply uploading my saved model to this program.

from google.colab import files
pbfile = files.upload()

%tensorflow_version 1.x
!pip install -U "tensorflow==1.15"
import os
import tensorflow as tf
print(tf

[2021-03-01 14:22] eejlny commented on #173
Hello,

I was wondering if there is the intention of adding structural prunning support for conv layers (in addition to dense layers) ? Is this something possible to do or some fundamental issue prohibits it ? Thanks

[2021-03-01 18:40] Tessil commented on #523
I looked a bit into the issue and it seems the problem comes from TFMOT and not TFLite (there is another similar issue in the TF repository https://github.com/tensorflow/tensorflow/issues/45887).

From what I understand, when a layer is annotated with `quantize_annotate_layer` a `FakeQuantWithMinMaxVars` node is added after the annotated layer during the `quantize_apply` call. A `FakeQuantWithMinM

[2021-03-04 17:38] sachinkmohan opened #643 "Error creating graph: Invalid argument: Input 0 of node quant_conv1/cond/LastValueQuant/AssignMinLast was passed float from quant_conv1/cond/LastValueQuant/AssignMinLast/Switch:1 incompatible with expected resource"
TF version - 1.15

I applied quantization on the convolutional layers on an SSD model. [Link](https://github.com/sachinkmohan/ssd_keras)

Here is what I did

1. Trained a Model & saved the model.
My `model.summary()` for the Model looks like this

[code]

2. Loaded the same model using `model.load()` & applied quantization on the convolutional layers in the model. Now the quantized  `model.summary

[2021-03-05 19:07] wenjielu123 commented on #376
Try `layer.cell.recurrent_kernel`?

[2021-03-09 13:31] Hackerman28 commented on #155
Hi @nutsiepully. I am currently having problems with pruning nested keras models. My model is based on the matterport's mask-rcnn [repo](https://github.com/matterport/Mask_RCNN). I have a model which contains an inner model which is called multiple times within the outer model but has shared weights.
The inner model definition is defined [here](https://github.com/matterport/Mask_RCNN/blob/3deaec5d

[2021-03-10 01:36] sayakpaul opened #644 "Problem regarding loading a QAT SavedModel"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-03-10 03:33] iamweiweishi opened #645 "Support for pruning kernels?"
I am using custom layers instead of Keras Layers/Models, so is it possible to prune the kernels/weights separately like 'Model pruning' in tf1.X.

conv = tf.nn.conv2d(images, pruning.apply_mask(weights), stride, padding)

[2021-03-11 04:19] daverim commented on #644
Seems that this issue is due to the student model not being saved correctly. Does the non-quantized version of the model have the same issue?

[2021-03-11 05:13] sayakpaul commented on #644
No, it does not have the same issue. A more serious problem is that the predictions of the QAT model are spurious.

[2021-03-11 08:44] daverim commented on #644
I'm having trouble recreating your issue, I tried with some random data in a simple test and it seems to work fine.
Just to check, your input is using the same preprocessing for the evaluation
```normalization_layer = experimental.preprocessing.Rescaling(1./127.5, offset=-1)```
?

[2021-03-11 08:51] sayakpaul commented on #644
Yes, I am using the same preprocessing layer.

Can you elaborate a bit more as to where the problem is coming from when you are trying to reproduce the issues?

[2021-03-11 23:54] daverim commented on #644
I uploaded your notebook, for a simple test, I just quantize the get_student_model() directly and train one epoch with some generated data. While I can't test accuracy, it seems to load and save fine. I also tried with the distiller using the float model as the teacher and there was no issue with load and save (using just the CPU device)

I will try today with GPU and see if there is an issue caus

[2021-03-12 01:26] sayakpaul commented on #644
@daverim thank you. The bucket is publicly accessible.

[2021-03-13 11:24] sayakpaul opened #647 "quantize_model() not unable to convert known layers"
I am trying to apply `quantize_model()` on a model that consists of all known layers. But it still throws:

[code]

Here's my [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/d323d69e88b77c98e70dfd6dcfd089a6/scratchpad.ipynb).

[2021-03-15 16:38] #647 closed

[2021-03-15 21:31] jleape commented on #425
Same issue here

[2021-03-16 01:07] daverim commented on #645
If you are using a custom keras layer, you could switch to `conv = prune_low_magnitude(tf.keras.layers.Conv2D(weights, strides=stride, padding=padding)(images))`,

Otherwise we don't have any support for tf1 layers.

[2021-03-16 01:09] #645 closed

[2021-03-16 05:49] daverim commented on #644
Hi was able to run training although only for one epoch. I did notice you are not using the student loss, and only the distillation loss. When you say the model is spurious, do you mean that the student model predictions are bad or that the student model predictions are not the same as during training?

[2021-03-16 05:51] sayakpaul commented on #644
Yeah student loss is not required in our training. When I say they are spurious I mean they predict the same output always.

[2021-03-16 05:54] daverim commented on #643
Hi sorry for the delay, were you able to quantize this?

Did model.save not work for you?

[2021-03-16 05:56] daverim commented on #638
Seems reasonable -- we are planning on adding this soon.

[2021-03-16 06:28] daverim commented on #636
Hi sorry for this, we are working towards a new release that fixes this.

You can try to build from source
https://www.tensorflow.org/model_optimization/guide/install#installing_from_source

If you need to fix this sooner.

[2021-03-16 07:16] daverim commented on #621
Currently we are working on this @fredrec has more details

[2021-03-16 07:20] daverim commented on #628
The main reason is that you provided an activation to conv. The structure of your model should probably be more like
[code]

[2021-03-16 07:20] #628 closed

[2021-03-17 11:09] sachinkmohan commented on #643
Thanks for writing back, @daverim ! I was able to quantize this. But in my project, the requirement is to load the `quantized_model.pb` file instead of `quantized_model.h5`.

`quantized_model.h5` file works fine when I am doing the inference. The problem is only when I convert it from `.h5` to `.pb`

Also, this problem exists only when I apply quantization to the "Conv2D" layers. If I apply quanti

[2021-03-19 07:42] daverim commented on #643
When you say load from quantized_model.pb, I am assuming you are using freeze_graph?
You might want to try
[code]
Then after loading the frozen model you can do

[code]

[2021-03-19 07:50] daverim commented on #640
Seems like more of an issue with colab, you might want to ask here: [https://stackoverflow.com/questions/ask?tags=google-colaboratory](https://stackoverflow.com/questions/ask?tags=google-colaboratory)

However, if you click the folder icon on the left panel next to the table of contents, you can toggle on the file browser view.
There you can create directories by right-clicking.

You also might wa

[2021-03-19 07:50] #640 closed

[2021-03-19 07:54] daverim commented on #636
Hi Xhark@, can you take a look? Seems to be working for me with current builds, but would be good to follow up.

[2021-03-19 08:03] daverim commented on #627
@xhark, I believe you're more familiar with this, please take a look

[2021-03-19 09:14] daverim commented on #626
Assuming you have implemented the default 8 bit scheme

[code]

Where `dequantize` is specific to the quantizer based on the options there, for example for `num_bits = 8, per_axis = False, symmetric = True, narrow_range = False`:

[code]

[2021-03-19 09:45] daverim commented on #523
Hi,

Sorry for the delay. I am submitting some code to make this less confusing, but for now a workaround is
[code]

[2021-03-22 06:17] sunzhe09 opened #650 "QAT training support strided_slice"
**System information**

- TensorFlow version (you are using):2.3.2
- Are you willing to contribute it (Yes/No):

**Motivation**

What is the use case and how does it broadly benefits users? Prioritization and whether a feature is added is based on how it
helps the community and the feature's maintenance costs.

As examples:

1. Instead of, "Enable the technique for my model," "Enable this techniqu

[2021-03-23 13:58] sachinkmohan commented on #643
Thanks @daverim ! I need to check this. I will let you know. Appreciate it! :)

[2021-03-24 05:10] daverim commented on #635
Hi sorry for the long delay. We saw this internally, and able to recreate using tensorflow-2.4, but issue seems to have been resolved with tf-nightly. We are looking at changing to `quantize_and_dequantize_v2` in the meantime, but need to verify nothing breaks existing code. Could you verify if able to reproduce in tf-nightly?

[2021-03-25 12:58] fredrec commented on #650
Hi @sunzhe09,

Could you please elaborate ? Possibly with an example illustrating the missing feature.

Thanks

[2021-03-26 01:53] Bimde commented on #367
Has there been any progress on this? I'm dealing with this same issue using the latest release of tfmot + tf 2.4.1.

[2021-03-26 03:08] sunzhe09 commented on #650
@fredrec
   left_top=Subtract()([locations,wh[...,:2]])
    right_bottom=Add()([locations,wh[...,2:]])
    pred_boxes=Concatenate(axis=-1)([left_top,right_bottom])

here is my usecase

[2021-03-29 11:14] shayanjoya commented on #173
@liyunlu0618  I want to apply post training pruning for lower on-device latency of a UNet like model for a reconstruction task. Target hardware are CUDA supported or ARM CPUs. Can you please suggest how this optimization can be applied. Thanks

[2021-03-30 07:42] FSet89 opened #652 "TypeError: tf__call() got an unexpected keyword argument 'name'"
**Describe the bug**
I built a custom model for SSD object detection and I tried to quantize it, but I got an error:
**TypeError: tf__call() got an unexpected keyword argument 'name'**

**System information**

TensorFlow version (installed from source or binary): 2.4.1 binary

TensorFlow Model Optimization version (installed from source or binary): 0.5.0 binary

Python version: 3.6

**Describe the

[2021-04-01 03:44] PonyYeh opened #655 "can not quantize SeparableConv2D layer for QAT"
**Describe the bug**
I load Xception model using tf.keras and I want to perform quantization aware training for  SeparableConv2D layer, and then I got this error :
**File "/opt/conda/envs/tensorflow2_0/lib/python3.6/site-packages/tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py", line 485, in replacement
    conv_weights['bias:0'] = sepconv_weigh

[2021-04-01 16:57] xhae commented on #655
@PonyYeh, can you provide the checkpoint file so I can actually use the code to reproduce?
@daverim can you take a look on this? Guess some of the SeparableConv2D doesn't have weights[2].

[2021-04-02 04:15] xhae commented on #652
Hi, thanks for the report. @Xhark is actively working on this issue.

[2021-04-02 04:25] xhae commented on #601
Hey, sorry for the long delay. @Xhark can you take a look on this?

[2021-04-02 04:28] xhae commented on #599
Hi, sorry for the huge delay. Currently TFLite is optimized on ARM instruction only, we're now working on x86 to make this faster. Going to update the bug once we landed x86 acceleration.

[2021-04-02 04:42] xhae commented on #655
Guess landing https://github.com/tensorflow/model-optimization/pull/607 would fix this, working in progress.

[2021-04-02 04:45] xhae commented on #594
Hey, sorry for the huge delay. This is a great suggestion, @daverim how do you think about adding version scheme on tfmot?

[2021-04-02 04:53] xhae commented on #595
Hi, sorry for the huge delay on this. Can you provide more details to reproduce this? Maybe a simple code calling model_quantize would be helpful.

[2021-04-02 04:57] xhae commented on #590
Closing the bug for now. Feel free to open this anytime if you still have something in your mind. :)

[2021-04-02 04:57] #590 closed

[2021-04-02 05:00] xhae commented on #574
Hi sorry for the huge delay. TFLite working on 4bit quantization, but I doubt currently TFLite can support this with options. @daverim any ideas?

[2021-04-02 06:45] FSet89 commented on #652
I fixed the prblem by replacing tf operations with keras operations (e.g. tf.reshape -> keras.layers.Reshape)

[2021-04-02 06:48] xhae commented on #652
Awesome!

[2021-04-02 06:48] #652 closed

[2021-04-02 08:22] eladc4 commented on #595
closing as I can't reproduce the bug now (seems to work fine in TF 2.3.1)
Thanks

[2021-04-02 08:22] #595 closed

[2021-04-05 19:23] ameyparanjape opened #656 "Pruning models from tf.keras.applications (efficientnet, resnet etc)"
I am finetuning the tf.keras.applications model on my data for the problem of image classification. I was able to complete training and test results look good. In order to deploy the model, I wanted to perform some pruning and optimization. I tried following the Keras Pruning tutorial, but I could not figure out how to enable pruning on the efficientnet layer. If we could have a tutorial on this o

[2021-04-05 20:46] xhae commented on #589
@Xhark Guess we can add this as a TODO, wdyt?

[2021-04-05 21:04] xhae opened #657 "Full integer acceleration on x86"
**System information**

- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): Yes

**Motivation**

Currently full-integer quantization runs fast only under ARM architecture. Having acceleration on x86 would be helpful.

[2021-04-05 21:06] xhae commented on #657
@daverim, I remember you were related to this topic. Creating this topic to track the progress, there was a bug report related to this(https://github.com/tensorflow/model-optimization/issues/599). Can you update this when available?

[2021-04-05 21:07] xhae commented on #599
Closing this for now, created a separate feature request for this: https://github.com/tensorflow/model-optimization/issues/657

[2021-04-05 21:07] #599 closed

[2021-04-05 23:47] daverim commented on #574
Hi, xhae@ is correct, we don't have a 4bit scheme in TFLite, however, it sounds like you want to convert your 4bit weights to 8bits with the range fixed to -7 to 7. We don't have a feature that can do this because the TFLite converter converts float weights to 8 bit regardless of the configured number of bits in the fake_quant, using only the min/max range.

TLDR: we don't support your use-case cu

[2021-04-05 23:47] #574 closed

[2021-04-06 01:58] PonyYeh commented on #655
Hi @xhae , I appreciate that you try to figure out this problem.
Yes, here is the [checkpoint file](https://drive.google.com/file/d/1jbHB6Ehxz0XLEQtn57kgGakf_ktGYKc-/view?usp=sharing) to download. Thanks!

[2021-04-06 17:25] Xhark commented on #656
Hi liyunlu0618@, Would you please take a look?

[2021-04-06 17:51] liyunlu0618 commented on #656
Can you follow the example of pruning the whole model and try prune_low_magnitude(your model)? Then post the model summary or let us know if you run into any issues. Thanks!

[2021-04-06 18:47] Xhark commented on #627
I think it's just a temporal error. Please reopen this issue if it happens for recent version.

[2021-04-06 18:47] #627 closed

[2021-04-06 20:40] ameyparanjape commented on #656
Thank you @liyunlu0618 , I have tried following the tutorial, here is the model.summary() and the error I get on using prune_low_magnitude() on my model:
`model.summary()`
[code]
**Error**
`ValueError: Please initialize 'Prune' with a supported layer. Layers should either be a 'PrunableLayer' instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.python.keras.engine.

[2021-04-07 01:22] liyunlu0618 commented on #656
Thanks for reporting the error. I'm working on a change to support pruning a model recursively. Will let you know once it's checked-in.

[2021-04-07 01:57] ameyparanjape commented on #656
Thank you @liyunlu0618

[2021-04-07 10:12] LucasStromberg commented on #626
@daverim does TensorFlow have any documentation on how one should specify the `dequantize` operator for other cases? For example, if I'm using per-tensor, asymmetrical, narrow range, 3 bit quantization, how should I define my scale and zero point variables? I currently have a makeshift implementation where the equations for scale/zp don't have any motivation, it would be nice to see how TF does it

[2021-04-07 17:09] metinsuloglu opened #659 "Clustering wrapper will not build with more than one clusterable weight"
**Describe the bug**
When using a layer with more than one clusterable weight, the model will not build.

**System information**

TensorFlow version: 2.6.0.dev20210330

TensorFlow Model Optimization version: 0.5.0.dev20210407

Python version: 3.7.10

**Describe the expected behavior**
The wrapped layer with more than one clusterable weight should build successfully and should be able to accept inp

[2021-04-07 17:42] liyunlu0618 commented on #656
The PR is merged.
https://github.com/tensorflow/model-optimization/pull/658

You can try later with a nightly build and let us know if it works. Thanks!

[2021-04-07 18:34] Xhark commented on #659
Hi akarmi@, Would you please take a look this issue?

[2021-04-07 21:41] ameyparanjape commented on #656
Thank you @liyunlu0618 , I am trying to get the `tf-nightly` installed and running. (never used `tf-nightly` before, always used `stable`)
Here is what I am doing:
1) Uninstall current stable `tensorflow-2.4.1`
2) Install tf-nightly (`tf_nightly-2.6.0.dev20210407`)

I got an error, I'm not sure if I am missing any additional step to get the installation right.
Here is what my output log looks like

[2021-04-08 01:32] daverim commented on #657
This issue is fixed to some degree in tf-2.5 -- nightly versions were using reference implementations but now using optimized paths. On x86 some float models may be faster, but there shouldn't be a big discrepency.

[2021-04-08 01:32] #657 closed

[2021-04-08 02:01] ameyparanjape commented on #656
Not sure how exactly, but now the `tensorflow-nightly` seems to be installed correctly. (I made sure by printing the version of tensorflow)
I am still getting the same error. It seems like there might be difference between the `<class 'tensorflow.python.keras.engine.functional.Functional'>` objects and Recursive sequential layers object(I peeked into the PR). Also I am wondering that, since Prunin

[2021-04-08 12:44] wwwind commented on #659
Hi @metinsuloglu Your use case is similar to the use case that is enabled by this PR: https://github.com/tensorflow/model-optimization/pull/616
It is not merged to tfmot currently. Please take a look.
Thanks!

[2021-04-08 16:08] liyunlu0618 commented on #656
Can you try a nightly build of tf-mot?

[2021-04-08 18:06] ameyparanjape commented on #656
Do you mind addressing how to use/install tf-mot nightly? I could not find any documentation on that.

[2021-04-09 08:39] metinsuloglu commented on #659
@wwwind that PR does look like it solves the issue, thanks.
Any idea when it will be merged?

[2021-04-09 09:13] metinsuloglu opened #661 "Cannot quantise a model with a MultiHeadAttention layer"
**Describe the bug**
When using the default Keras MultiHeadAttention layer in a model, even if you are not quantising the attention layers, the `quantize_apply` function leads to an error.

**System information**

TensorFlow version: 2.6.0.dev20210330

TensorFlow Model Optimization version: 0.5.0.dev20210409

Python version: 3.7.10

**Describe the expected behavior**
The model is quantised success

[2021-04-09 09:20] wwwind commented on #659
Hi @metinsuloglu
I will let you know once it will be merged. We are working on this. Thanks.

[2021-04-09 15:43] Xhark commented on #661
Hi, Thanks for reaching out!
I'm working on custom layer supports, it contains the case that layer has weights with names that end with same string.
Please wait a bit. Thanks!

[2021-04-12 01:40] Xhark commented on #661
The fix is merged: 3d73ed2e8676ff2585a7086e283a01fb155c3580
Would you please try with this fixes?

[2021-04-13 08:41] metinsuloglu commented on #661
Hi @Xhark, that seems to have solved it, thanks!

[2021-04-14 02:54] iamweiweishi opened #662 "Error reported when prunning one tf-keras layer"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-04-14 09:23] teijeong commented on #6
Hi @nutsiepully, can you update?

[2021-04-14 09:26] teijeong commented on #29
Hi @haozha111, is there some updates?

[2021-04-14 09:32] teijeong commented on #317
Hi @kalaluthien, sorry for the long delay. Is this still an issue for you?

Hi @nutsiepully, can you update?

[2021-04-14 09:33] teijeong commented on #362
Hi @jennakwon06, can you update?

[2021-04-14 09:38] teijeong commented on #367
Hello @HauserA, sorry for extremely delayed response.

If you don't mind, can you try again with recent TF version?

[2021-04-14 09:48] teijeong commented on #376
Hi @Xhark, can you take a look?

[2021-04-14 10:03] teijeong commented on #377
Hi @Xhark, can you comment if nested model is supported now?

[2021-04-14 18:30] nutsiepully commented on #317
@Xhark recently submitted a fix for this. He should be able to point to it.

[2021-04-14 19:08] thecosta commented on #426
This issue is happening for me on tf 2.4.1:

`
with tfmot.quantization.keras.quantize_scope():
    model = tf.keras.models.load_model('saved_model')

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-18-1b242c6bcc3d> in <module>
      7
      8 with tfmot.quantization.keras.quantize

[2021-04-14 21:06] nutsiepully commented on #426
Thanks @thecosta. We are investigating this.

[2021-04-16 06:28] teijeong commented on #381
Hi @anidh , sorry for really late response.

Just want to check if this still bugs you before we start triage.

[2021-04-16 06:29] teijeong commented on #403
Hi @captainproton1971, sorry for really late response.

Just want to check if this still bugs you before we start triage.

[2021-04-16 06:37] Xhark commented on #377
We don't support fully recursively, but now you can apply quantize the model contains sub-model.

e.g)
q_base_model = quantize_model(base_model)

original_inputs = tf.keras.Input(IMG_SHAPE)
x = q_base_model(original_inputs)
x = tf.keras.layers.GlobalAveragePooling2D()(x)
output=tf.keras.layers.Dense(1)(x)

model = tf.keras.Model(inputs=original_inputs, outputs=output)

q_aware_model = quantize_mod

[2021-04-16 06:45] Xhark commented on #317
Yeah This bug is fixed, it might run without error now.

But If you want to quantize custom layer, you have be careful to put Quantizer. Because QAT Transforms and TFLite converter are only accept very optimistic quantization patterns.

Now you can try your own quantizer, but I can't guarantee it works properly.

We are preparing an example for it. (Custom layer case) Please wait a bit!

[2021-04-16 06:50] teijeong commented on #409
Hi @dd1923 , sorry for really late response.

Just want to check if this still bugs you before picking up this again.

[2021-04-16 06:51] teijeong commented on #412
Hi @marjanemd , closing this as it seems to be resolved. please reopen or file a new one if this is still a problem.

[2021-04-16 06:51] #412 closed

[2021-04-16 06:52] teijeong commented on #38
Hi @liyunlu0618 , can you update?

[2021-04-16 06:53] teijeong commented on #46
Hi @johnwang416 , sorry for really late response.

Just want to check if this still bugs you before picking up this again.

[2021-04-16 06:55] teijeong commented on #132
@Xhark can you update?

[2021-04-16 06:57] teijeong commented on #133
Hi @liyunlu0618 , can you update recent status? Feel free to close this

[2021-04-16 07:12] teijeong commented on #155
Hi @liyunlu0618 , can you check the current status?

[2021-04-16 07:13] teijeong commented on #206
Hi @liyunlu0618 , can you check?

[2021-04-16 07:55] teijeong commented on #448
MOT toolkit needs TensorFlow version at least 1.14, so it won't work with TF 1.8 anyway. Closing this

[2021-04-16 07:55] #448 closed

[2021-04-16 12:52] captainproton1971 commented on #403
Hi, thanks @teijeong .  I'll check this weekend to see if it's still causing problems and post a reply.

[2021-04-16 23:25] nutsiepully commented on #377
Thanks @Xhark.

Seems to me the last line `q_aware_model = quantize_model(q_base_model)` is not needed. `q_base_model` is already quantized, right?

[2021-04-18 07:26] teijeong commented on #450
Hi @ZhiyiLan , sorry for delay - can you provide update?

[2021-04-18 07:29] teijeong commented on #456
Hi @liyunlu0618 ,  can you check?

[2021-04-18 07:39] teijeong commented on #522
Hi, sorry for late response. Seems it's related to generic [post-training quantization](https://www.tensorflow.org/lite/performance/post_training_integer_quant). Will close this as it's not about specific model optimization techniques (e.g. QAT, pruning) in this repo. Please file a new issue if you indeed need those techniques.

[2021-04-18 07:39] #522 closed

[2021-04-18 07:44] teijeong commented on #524
Hi @Lotte1990 , sorry for late response. Want to check if this still bugs you, before taking a look into this.

[2021-04-18 07:48] teijeong commented on #525
Hi @joyalbin , sorry for late update.

Is this still an issue for you? If so, can you clarify the steps? seems you want to quantize activations first, and then quantize activations & weights.

Also, it would be better for you to ask questions in StackOverflow to get more detailed and prompt answers :)

[2021-04-18 08:02] teijeong commented on #550
Seems to be resolver, closing the issue.

[2021-04-18 08:02] #550 closed

[2021-04-18 08:04] teijeong commented on #535
Seems to be a duplicate of #133 . Let's consolidate efforts on that bug.

[2021-04-18 08:04] #535 closed

[2021-04-18 08:18] teijeong commented on #528
Closing this due to inactivity. If your issue is not resolved yet, please file a new one with details. :)

[2021-04-18 08:18] #528 closed

[2021-04-18 08:21] teijeong commented on #572
Hi @abhishekbalu, sorry for late response.

Want to check if you're still working on this issue before we can look this over. Also, it would be great if you can be more specific about your requirements - which model, and what is your goal?

[2021-04-18 08:22] teijeong commented on #559
Hi @NilakshanKunananthaseelan , sorry for late response.

Can you confirm if this is still an issue for you before we start to take a look now?

[2021-04-18 08:25] teijeong commented on #603
Hi @andrewstanfordjason , sorry for late response.

Before we start working on this, can you confirm if this problem still happens in the latest versions of TF & TF-MOT?

[2021-04-18 08:34] teijeong commented on #570
Closing as the question seems to be answered.

[2021-04-18 08:34] #570 closed

[2021-04-18 08:39] teijeong commented on #610
Hi @sachinkmohan , I think the best way to resolve this is to upgrade your model to be compatible with TF 1.15, or 2.x+ for even better support. Please file issue on TensorFlow repo, or post question in StackOverflow if there are some issues preventing you from upgrading your model.

[2021-04-18 08:39] #610 closed

[2021-04-18 08:45] teijeong commented on #546
Hi @ejcgt, can you confirm if this issue still happens on latest version?

[2021-04-18 08:45] teijeong commented on #556
Hi @FredHuang16 , @cuongdv1 , can you provide steps to reproduce this issue?

[2021-04-18 08:48] teijeong commented on #623
Hi @daverim , can you take a look?

[2021-04-18 08:53] teijeong commented on #631
Hi @johan-gras , sorry for late response, and thanks for reporting!

Are you willing to file a PR for fixing this?

[2021-04-18 08:56] teijeong commented on #644
Ping @daverim  :)

[2021-04-18 09:04] teijeong commented on #636
Hi @johan-gras , can you try and confirm?

[2021-04-18 09:06] teijeong commented on #643
Hi @sachinkmohan , have you tried this? :)

[2021-04-18 09:07] #661 closed

[2021-04-18 21:07] ArnaudHureaux opened #668 "Converting a pruning model in a TFlite model"
**Describe the bug**
When i try to convert a pruned model in a TFlite model i get this error : InvalidArgumentError: Input 0 of node pruned/prune_low_magnitude_conv2d_2/AssignVariableOp was passed float from pruned/prune_low_magnitude_conv2d_2/Mul/ReadVariableOp/resource:0 incompatible with expected resource.

**System information**

TensorFlow version (installed from source or binary): 2.3 and 2.

[2021-04-19 00:41] daverim commented on #594
Sorry for the delays. We will definitely address this in our next release.

[2021-04-19 03:40] NilakshanKunananthaseelan commented on #559
@teijeong, actually I  tried to create quantized weights manually. Then moved to use distiller library for quantization purpose. It solved my issues then.

[2021-04-19 03:40] NilakshanKunananthaseelan commented on #559
@teijeong, actually I  tried to create quantized weights manually. Then moved to use distiller library for quantization purpose. It solved my issues then.

[2021-04-19 06:51] Lotte1990 commented on #524
@teijeong @Xhark Yes, I can confirm this is still an issue using tf-nightly (2.6.0.dev20210418) and tensorflow-model-optimization 0.5.0. Please look into this issue.

[2021-04-19 08:56] daverim commented on #623
Hi looks like the release was tagged a few weeks after the pip was updated. Unfortunately, we can't update pypi releases, only create new ones. You can find the matching release under 0.5.0.dev0 now:

`pip install tensorflow-model-optimization==0.5.0.dev0`

We could also update the tag, but this might break people who are checking out the tag, so seems like least bad solution.

[2021-04-19 08:56] #623 closed

[2021-04-20 12:18] teijeong commented on #622
Can you share steps to generate those two files - `inception_v3.h5` and `inception_quant.h5` ?

[2021-04-20 16:05] teijeong commented on #622
I tried with this [colab](https://colab.research.google.com/drive/1CTddx6PZr_cY4CqRzoj3B1DJVuqWDqZ2?usp=sharing), but can't reproduce the issue.

Meanwhile, it looks strange that some layers are not quantized - I'll take a look.

[2021-04-20 21:06] liyunlu0618 commented on #668
Can you try calling the strip_pruning API after you're done with training and before converting to TFLite?

[2021-04-20 21:28] liyunlu0618 commented on #656
You may have to build from source at the moment:
https://www.tensorflow.org/model_optimization/guide/install#installing_from_source

Will let you know once we have a new release.

[2021-04-20 21:38] liyunlu0618 commented on #611
Using quantization instead is definitely an alternative solution.

You can also check out this blogpost:
https://ai.googleblog.com/2021/03/accelerating-neural-networks-on-mobile.html

For CNN models, you can use pruning to train the model and deploy it with TFLite + the XNNPack delegate enabled. There's certain restrictions on the graph architecture, documented here:
https://github.com/tensorflow/

[2021-04-20 21:43] liyunlu0618 commented on #542
The pruning API already allows you to configure block structure in the pruning parameters. TFLite also relies on that to achieve inference speed-up on ARM cpus.

If there's something else you're asking for in this feature request, can you list them out more explicitly? For example the target hardware, the specific block structure, etc.? Thanks!

[2021-04-20 22:26] liyunlu0618 commented on #456
This is intended. Our goal is for the model-level serialization/deserialization to work properly. With this fix, you're going to hit this error:
https://github.com/keras-team/keras/blob/master/keras/utils/generic_utils.py#L551

[2021-04-20 22:26] #456 closed

[2021-04-20 22:34] liyunlu0618 commented on #38
Duplicate of https://github.com/tensorflow/model-optimization/issues/634.
Will use that to track the feature request.

[2021-04-20 22:34] #38 closed

[2021-04-20 22:40] liyunlu0618 commented on #6
It's intended behavior. The pruning wrapper currently doesn't check recursively for prunable layers. Since you have a work-around of adjusting the order of wrappers, will close this for now. Thanks!

[2021-04-20 22:40] #6 closed

[2021-04-21 00:01] #631 closed

[2021-04-21 01:01] sayakpaul commented on #542
An example would be great.

So, does the current support allow us to speed up the sparse training on supported hardware like the A100 since they have better support for it?

[2021-04-21 04:51] Bimde commented on #556
I got this same issue. Finally realized it was because I was using the toolkit with TF 1.14. Using TF 2.4.1 made this go away for me.

[2021-04-22 20:02] wwwind commented on #659
Hi @metinsuloglu The PR has been merged. Could you please try now ? Thanks.

[2021-04-23 07:59] kalaluthien commented on #317
Thank you for your reminder. I'll share this patch to our company.
BTW, I have workaround this issue by porting every internal custom layer to the bunch of functional layers.

[2021-04-23 08:04] #317 closed

[2021-04-25 09:00] mg262 opened #684 "Small values leaking through pruning"
The documentation for ConstantSparsity and PolynomialDecay suggest that by default, `frequency=100` so that pruning is only applied every 100 steps. This presumably means that the parameters which are pruned to zero will drift away from zero during the other 99/100 steps. So at the end of the pruning process, unless you are careful to have an exact multiple of 100 steps, you well end up with a mod

[2021-04-29 14:13] qiyangzhang0329 commented on #655
@xhae similar problem. could you give me a answer?

[2021-04-29 22:28] metinsuloglu commented on #659
Thanks for letting me know, it seems to have fixed the issue.

[2021-04-30 07:33] akarmi commented on #659
Thanks @metinsuloglu.

[2021-04-30 07:33] #659 closed

[2021-05-03 01:53] PengchengAi commented on #589
@Ansaya Hi, do you have any workaround or custom code for the issue?

[2021-05-05 13:32] Lotte1990 commented on #524
@teijeong @Xhark Any updates on this?

[2021-05-06 12:50] noamgot commented on #425
+ Same here
@nutsiepully please consider re-opening this issue...

[2021-05-07 19:42] Etienne-DUPUIS commented on #409
Hi, I can confirm that the issue still exist
[code]

[2021-05-10 09:38] cha-noong opened #704 "Does unstructured-pruning of tensorflow model optimization improve latency?"
**System information**

- TensorFlow version (you are using): tf 2.3 ~2.5
- Are you willing to contribute it (Yes/No): Yes

**Motivation**

Even if I apply tfmot to my own model, the speed is the same as the existing model.

Even the sparse pre-trained model of Fast Sparse ConvNets(https://github.com/google-research/google-research/tree/master/fastconvnets) (e.g. mobilenetv2) has the same speed as

[2021-05-10 17:58] liyunlu0618 commented on #155
We recently added support for pruning nested models, see this [PR](https://github.com/tensorflow/model-optimization/pull/658).

For subclass models, since keras doesn't support cloning, we still don't have a model-level API. You can still re-construct the model and wrapper the layers to prune with the pruning API.

[2021-05-10 19:12] liyunlu0618 commented on #684
This callback is what you're looking for:
https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks.py#L64

It makes sure to apply the mask when training finishes.

[2021-05-10 19:12] #684 closed

[2021-05-11 00:38] cha-noong commented on #704
The latency measurement code is as follows:

###################
from tflite_runtime.interpreter Import Interpreter
import cv2
import numpy as np
import time

interpreter = Interpreter(model_path='./mbv2_200_85_11-16b2_744.tflite')
interpreter.allocate_tensors()

input_details = interpreter.get_input_details()
output_details = interpreter.get_output_details()

img = cv2.imread("sample.jpg")
x = cv

[2021-05-14 09:33] #704 closed

[2021-05-14 09:54] cha-noong opened #708 "Is it possible to apply various block_sizes to the conv2d layer at this time?"
**System information**

- TensorFlow version (you are using): 2.6.0-nightly
- Are you willing to contribute it (Yes/No): yes

**Motivation**

I want to apply sparsity pruning to MobilenetV2 like a fast-sparse convnet pre-trained model.
I checked that the default block_size of (1,1) works for the CNN model, but there was no latency improvement.

I tried to apply the block size as (1x4), (1x8), etc.

[2021-05-17 01:35] daverim commented on #708
At this time, only 2d weights can use 2d block-sizes via prune_low_magnitude.

@liyunlu0618, do you have an idea as to if this should be on the roadmap?

[2021-05-17 01:44] daverim commented on #644
Sorry, this fell off my radar. My trained model does not have the same outputs for every inputs. Did you try different learning rates? The quantized student will have very different inputs. Also, upgrade to tf-2.5 to see if your problem persists.

[2021-05-17 01:45] daverim commented on #643
Closing, since we haven't gotten any feedback. Please resubmit a new bug referencing this one if the solution posted doesn't work for you.

[2021-05-17 01:45] #643 closed

[2021-05-17 01:52] daverim commented on #655
#607 is now merged, you can now try using `pip install git+https://github.com/tensorflow/model-optimization.git`

[2021-05-17 01:52] #655 closed

[2021-05-17 01:58] daverim commented on #708
Whoops, sorry, this is a duplicate of #634.

[2021-05-17 01:58] #708 closed

[2021-05-17 02:00] daverim commented on #636
Closing since no response, please resubmit with a link if this is still not working.

[2021-05-17 02:00] #636 closed

[2021-05-17 02:22] sayakpaul commented on #644
I will keep this issue open until then.

But I would suggest training this for at least 10 epochs on your end to verify the issue.

[2021-05-17 02:22] daverim commented on #626
The documentation is basically the code -- in our case we use fake_quant_with_min_max_args

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/fake_quant_ops_functor.h
we currently default to an 8bit scheme that matches tflite https://www.tensorflow.org/lite/performance/quantization_spec

I actually made a mistake here: should be
[code]
The basic idea is the same though.

[2021-05-19 08:56] FSet89 opened #713 "" Depth of input is not a multiple of input depth of filter" error when quantizing loaded model"
I want to perform quantization-aware training on a keras classification model. The first training steps are performed without quantization and the model is saved. Then, the model is quantized and the training goes on.
Now, when I call `quantize_model` on the loaded model I get the following error:
**Traceback (most recent call last):
  File "train.py", line 121, in <module>
    model = tfmot.quant

[2021-05-19 13:02] WeiHao97 commented on #559
Hi @NilakshanKunananthaseelan,
I am having the same issue. Could you point me to the distiller library for quantization purpose you used? Thank you very much!

[2021-05-19 13:34] NilakshanKunananthaseelan commented on #559
https://github.com/IntelLabs/distiller

[2021-05-19 13:34] #559 closed

[2021-05-20 00:04] phoenix-meadowlark opened #714 ".../api/quantization/keras/default_8bit missing from the pip package for version 0.5.0"
**Description**

The directory `.../site-packages/tensorflow_model_optimization/python/core/api/quantization/keras/default_8bit` is not present in the `pip` version of `tensorflow_model_optimization==0.5.0`, despite being present in the repo's [`v0.5.0` tag](https://github.com/tensorflow/model-optimization/tree/v0.5.0/tensorflow_model_optimization/python/core/api/quantization/keras). I've observed

[2021-05-21 08:41] fredrec commented on #714
Thanks for the report @phoenix-meadowlark,

Indeed it looks like that this directory is not in the pip package version `0.5.0`.
It is however present in the latest version (`0.5.1.dev0`) available [on PyPI](https://pypi.org/project/tensorflow-model-optimization/0.5.1.dev0).

`pip install --upgrade tensorflow-model-optimization==0.5.1.dev0` should fix the issue.

[2021-05-21 11:33] LucasStromberg commented on #626
Great stuff, thank you.

[2021-05-21 20:34] phoenix-meadowlark commented on #714
Great – thanks!

[2021-05-24 09:13] wwwind opened #718 "QAT for MultiHeadAttention"
**System information**

- TensorFlow version (you are using): nightly
- Are you willing to contribute it (Yes/No): Yes

**Motivation**

We would like to run QAT for transformer models.

**Describe the feature**
It will be good to have a support of MultiHeadAttention layer for QAT.

**Describe how existing APIs don't satisfy your use case (optional if obvious)**

This is the small model that fails

[2021-05-24 15:59] #714 closed

[2021-05-27 05:24] xhae commented on #718
@Xhark , can you take a look on this?

[2021-05-29 07:21] lxzheng opened #722 "Puring cannot reduce tflite model size"
**Describe the bug**
prune_low_magnitude  cannot reduce the size of tflite model.  I run the pruning with keras example (https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb). The size of pruned Keras model does be smaller than the baseline Keras model. But the size is no difference after converted to tflite model n

[2021-05-31 02:38] xhae commented on #722
@Xhark can you take a look on this?

[2021-05-31 09:45] FSet89 opened #723 "Assertion error with custom quantize config with per_axis=True"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-06-01 17:21] Xhark commented on #723
Currently, we don't supports that flag good enough. The reasons we has that flag is:
 - Support per-axis quantization for DefaultConv2DQuantizer.
 - (Some case) Custom user quantizer using per_axis=True.

I think it should be in our TODO queue. I'm going to add update if we make any progress. Thanks.

[2021-06-01 17:35] Xhark commented on #722
Due to pruning just working by wrapping the original layer, the original model weights are modified if you apply pruning and then training. Please create quantized_baseline_tflite_file right after trained original model, and then comparing. Thanks.

[2021-06-01 17:41] Xhark commented on #718
Internally it contains multiple einsum_dense layers which we don't support yet.
I'm working on applying QAT for Transformer based models like BERT, but I realize it's not trivial to support MultiHeadAttention layer. because:

 - It has multiple inputs.
 - Due to we don't have QuantizedMultiHeadAttentionOp for TFLite, we usually convert it to multiple Dense ops. In that case, we have to add multipl

[2021-06-02 00:29] lxzheng commented on #722
@Xhark Thanks. If the origninal model weights are modified, what is the difference between model_for_pruning and the origninal model after pruning?

[2021-06-03 11:10] paulds8 commented on #409
This is an issue for me as well. TF2.4.1 with 0.5 of tensorflow_model_optimization

[code]

[2021-06-06 01:59] qiyangzhang0329 opened #730 "TypeError: tf__call() got an unexpected keyword argument 'y'"
**Describe the bug**
When I use the API "**tfmot.quantization.keras.quantize_model**", there is a bug.I guess that some layers in **mobilenetV3** do not support quantization operations, such as the lamba layer. I wonder if you have encountered it?

**System information**

I am using TensorFlow 2.5 with Python 3.6 I have pip-installed TF2.4 within an anaconda environment.

**Code to reproduce the i

[2021-06-07 16:02] Arturjssln commented on #730
I have the same problem, however there is already an open issue here: https://github.com/tensorflow/model-optimization/issues/546#issue-702294037

[2021-06-07 21:47] Arturjssln commented on #546
I have the same issue, as @teijeong suggested:
with `tensorflow_model_optimization` v.0.5.0 I get the same error mentioned before
[code]

with `tensorflow_model_optimization` v.0.5.1, I get the following error:
[code]

The error seems to be related, as before, to the Lambda layers.

I am using TensorFlow 2.6 with Python 3.8.8 within an anaconda environment.

[2021-06-08 12:34] marcelroed opened #732 "Structural (filter) pruning for convolutional layers"
**System information**

- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): Yes

**Motivation**

Deciding on where to have high filter/channel counts in convnets can be difficult, and smarter reductions in these numbers can lead to faster inference time across all devices.

Pruning is currently not very useful on GPU, since sparse operations are much slower tha

[2021-06-08 14:18] rino20 commented on #722
When you refer the guide:
https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras#create_a_10x_smaller_model_from_combining_pruning_and_quantization

The pruning reduces the model size after appropriate compression (e.g, gzip).

[2021-06-10 06:00] fredrec commented on #622
I also could not reproduce the different behaviour when converting directly vs converting after loading quantized weights.
However there seem to be improperly quantized nodes in the converted TFLite model (regardless of loading quantized weights).

![Conv2d_not_quantized](https://user-images.githubusercontent.com/2177544/121472634-6a762000-c9fc-11eb-87a9-5e0ad98b6bae.png)

[Codelab to reproduce](h

[2021-06-10 12:18] FSet89 opened #733 "Support for Multiply layer"
**System information**

- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): no

**Motivation**

The implementation of some models (e.g. SENet) requires the use of the Multiply layer

**Describe the feature**

I tried to quantize a model including a Squeeze-Excitation block but I got an error:
**Layer multiply:<class 'tensorflow.python.keras.layers.merge.Multipl

[2021-06-10 14:17] mohanish3795 commented on #376
Is the issue solved ?

[2021-06-10 15:26] khaebler commented on #376
it's not solved, no. I am no longer working on this project though! Thanks.

[2021-06-10 16:06] ericqu commented on #376
Why/how the initial bug would be solved?

[2021-06-11 05:20] rino20 commented on #730
Let discuss in https://github.com/tensorflow/tensorflow/issues/50079

[2021-06-11 05:20] #730 closed

[2021-06-14 17:20] rajansaini691 opened #735 "Running MobileNet on XNNPACK"
**Describe the bug**
When using the `PruneForLatencyOnXNNPack()` policy to prune MobileNet, I get the following error:
[code]

**System information**
Training on Arch Linux with no GPU. Targeting raspberry pi's cpu for inference.

TensorFlow version (installed from source or binary): 2.5.0

TensorFlow Model Optimization version (installed from source or binary): 0.5.1-dev

Python version: 3.9.5

*

[2021-06-15 08:56] teijeong commented on #732
Thanks for your interest in contribution!

Please read [contribution instructions](https://github.com/tensorflow/model-optimization/blob/master/CONTRIBUTING.md) to take further steps. As this looks like a whole new feature, you also might want to [file an RFC](https://github.com/tensorflow/model-optimization/blob/master/CONTRIBUTING_TECHNIQUE.md)

[2021-06-24 20:47] willbattel commented on #173
Any chance we will get support for pruned CNNs on other TFLite delegates? We rely on the NNAPI and CoreML delegates for quick and efficient inference on Android and iOS, respectively, but so far it looks like XNNPack is the only supported delegate.

[2021-06-25 08:25] jerryho-quanta opened #748 "TypeError: '<' not supported between instances of 'InputLayer' and 'Sequential'"
I am trying to run model-optimization/tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb in python3.6.

  File "train_pruning.py", line 90, in <module>
    callbacks=callbacks)
  File "/home/jerry/anaconda3/envs/py3/lib/python3.6/site-packages/tensorflow_core/python/keras/engine/training.py", line 727, in fit
    use_multiprocessing=use_multiprocessing)
  File "/home/jerry/

[2021-06-27 18:02] djbacad opened #749 "Pruning Transfer Learning Models"
Essentially, I want to perform pruning to my transfer learning model.

I used efficientnetb0 as the base model for transfer learning method.
I am now following the  [guide](https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras) to pruning
[code]

But I'm getting the following error:

`ValueError: Please initialize `Prune` with a supported layer. Layers should either be sup

[2021-06-29 15:34] j-o-d-o opened #751 "Issue loading model with Conv2DTranspose"
**Describe the bug**
When loading a saved model (.h5 format and SaveModel format) with a Conv2DTranspose layer, there is an error.

**System information**

TensorFlow version (installed from source or binary): 2.4.2

TensorFlow Model Optimization version (installed from source or binary): 0.6

Python version: 3.7

**Describe the expected behavior**
The model should be loading

**Describe the curre

[2021-06-30 06:20] j-o-d-o commented on #751
Could be duplicate issue of this one :
https://github.com/tensorflow/model-optimization/issues/524

[2021-06-30 06:22] j-o-d-o commented on #524
I am still having that issue. Is there any progress on it? Did anyone maybe find some workaround for the time being?

[2021-06-30 06:23] j-o-d-o commented on #751
When I do not use the Conv2DTranspose layer (but instead a Upsample2D + Conv2D) I am getting the error from this issue:
https://github.com/tensorflow/model-optimization/issues/524

[2021-06-30 11:20] jerryho-quanta opened #752 "Tensorflow pruning without keras"
Hi,

If I only have ckpt or pb with Tensorflow 1.5 training

sess.run(tf.global_variables_initializer())
	for i in range(iteration):
		saver.save(......)
I am using the model with tf code from git-hub without keras API building model
Is there anyway to use model-optimization for pruning my model?

Thanks,

Jerry Ho

[2021-06-30 16:15] Lotte1990 commented on #524
This issue is still bothering me. Please look into this.

[2021-07-01 07:17] simon-berger opened #753 "Error processing property '_dropout_mask_cache' when using PrunableLayer with DropoutRNNCellMixin"
Hi,

using weight pruning with tensorflow_model_optimization.sparsity.keras.PrunableLayer and a custom RNN cell that implements dropout by inheriting from tensorflow.python.keras.layers.recurrent.DropoutRNNCellMixin leads to the following error:
[code]

I "fixed" it by changing the tensorflow/python/module/module.py to ignore objects of type ContextValueCache in the _flatten_module method.
[code]

[2021-07-01 07:41] daverim commented on #753
Thanks @simon-berger for reporting this. We've created a bug on our side and tracking this shortly

[2021-07-01 07:44] daverim commented on #752
Unfortunately the pruning API only supports Keras models. You can try creating a Keras model with the same structure and copy the weights manually or use distillation, but you will first have to convert your checkpoint or frozen graph to a Keras model first.

[2021-07-01 07:44] #752 closed

[2021-07-01 07:54] jerryho-quanta commented on #752
Hi @daverim ,

Thanks for your reply,
I have tried if I save with keras API save/save_model to "*.h5", and it could be Keras pruning API after Keras load_model API without re-define a Keras model.
Does it mean Keras pruning ok if I could convert your checkpoint or pb to H5  without re-define a Keras model?

Do you have any reference code or suggestion for convert ckpt/pb to H5?

Thanks,

Jerry Ho

[2021-07-01 08:15] daverim commented on #749
Rescaling is an older keras API layer which we don't support. If you want to support this, you will should try to follow this documentation: https://www.tensorflow.org/model_optimization/guide/pruning/comprehensive_guide#prune_some_layers_sequential_and_functional

[2021-07-01 22:19] daverim commented on #751
Sounds like you are having an issue with versioning. Possibly you saved the model with newer tfmot and you are loading with older version of tfmot? Could you verify your versions?

[2021-07-02 05:37] j-o-d-o commented on #751
Training and loading the model was done with the exact same docker image, no updates in between. tfmot version is 0.6.0 both times.

[2021-07-06 17:03] ikhatri opened #756 "Support for custom layers composed of standard keras layers"
I'm wondering how I can create a quantization configuration for a custom layer (which implements the keras layer class) where my custom layer is composed of other standard keras layers (such as Conv2D, BatchNorm etc.)

Assuming that every sub-layer in my custom one is either supported or can be skipped for quantization, can I supply a quantization config that just recursively checks the existing `

[2021-07-07 03:05] fredrec commented on #622
The issue has been fixed in tensorflow>=2.6.0rc0. Please upgrade.

A test has been added to prevent regression.

[2021-07-07 09:01] qiyangzhang0329 commented on #622
@fredrec How long can TensorFlow >= 2.6.0RC0 be estimated to support? Do all models support QAT?

[2021-07-09 17:17] fredrec commented on #748
Hi @jerryho-quanta,

Can you provide steps to reproduce the problem ?

Thanks

[2021-07-09 18:35] fredrec commented on #756
You could create a custom `QuantizeConfig` that delegates the config for your standard Keras sublayers to existing QuantizeConfig instances.

Instead, a simpler way would be to quantize the sublayers based on type, as in the [Quantize some layers example](https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide#quantize_some_layers). Would that work for your us

[2021-07-12 01:36] jerryho-quanta commented on #748
Hi @fredrec ,
I found it is caused by my tensorflow version1.14/1.15 and tensorflow-model-optimization 0.6.0.
I can run ok with tensorflow version1.14/1.15 and tensorflow-model-optimization 0.5.0
callbacks = [
  tfmot.sparsity.keras.UpdatePruningStep(),
  tfmot.sparsity.keras.PruningSummaries(log_dir=logdir),
]

model_for_pruning.fit(train_images, train_labels,
                  batch_size=batch_s

[2021-07-12 01:51] fredrec commented on #748
Good to hear that you were able to narrow down the cause of the issue.

Recent versions of Tensorflow Model Optimization require recent versions of Tensorflow. tensorflow-model-optimization 0.6.0 was released less than a months ago, while Tensorflow 1.15 was released in September 2019. Please update to a more recent version of Tensorflow.

Thanks

[2021-07-12 10:39] YsYusaito commented on #722
Are there any ways to obtain compressed .h5 or .tflite??

If I refered URL below. I only obtained compressed .zip file.
I want compressed .h5 or .tflite.
https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras#create_a_10x_smaller_model_from_combining_pruning_and_quantization

[2021-07-12 11:38] YsYusaito opened #760 "pruning cannnot reduce .h5 model size"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-07-12 16:24] fredrec commented on #760
Hi @YsYusaito,

**How to use pruning to reduce the (compressed) size of a model ?**

Pruning does not reduce a model size in itself. Pruning finds the least significant weights of the models (those that are close to zero) and forces them to zero. When saving a model, the weights occupy the same space whether their values are zero or not. This is why your `model1.h5` (baseline model) and `model2.h5

[2021-07-13 04:13] YsYusaito commented on #760
Hi, @fredrec .
Thank you for your reply.
Thanks to your polite explanation, I was able to understand.

Do you have a plan to reduce the model size itself by deleting 0 weights ??

[2021-07-13 15:39] fredrec commented on #760
Currently at the Tensorflow model level, the weights are still stored as a dense tensor.

Some backend, like Tensorflow Lite, use a sparse representation after conversion. Aside from the size benefits, some sparse op implementation also allow for shorter inference time. The [Pruning for on-device inference w/ XNNPACK](https://www.tensorflow.org/model_optimization/guide/pruning/pruning_for_on_devic

[2021-07-16 10:50] naruto-raj opened #763 "RuntimeError: Layer backbone.stage0.0.fuse_layersb2.1.0.0.1:<class 'tensorflow.python.keras.layers.normalization_v2.BatchNormalization'> is not supported. You can quantize this layer by passing a `tfmot.quantization.keras.QuantizeConfig` instance to the `quantize_annotate_layer` API."
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-07-18 16:41] naruto-raj commented on #763
Please let me know if any additional details are required. i am stuck with this problem for a long time.

[2021-07-19 02:37] sunzhe09 opened #764 "need support for Subtract layers QAT"
**System information**

- TensorFlow version (you are using):2.5
- Are you willing to contribute it (Yes/No):

**Motivation**

What is the use case and how does it broadly benefits users? Prioritization and whether a feature is added is based on how it
helps the community and the feature's maintenance costs.

As examples:

1. Instead of, "Enable the technique for my model," "Enable this technique

[2021-07-19 12:00] marcelroed commented on #732
Okay, I'm currently creating an RFC and finishing up my proposal. Can I use you or @Xhark as sponsor for the RFC?

[2021-07-19 17:39] xhae commented on #763
naruto-raj, sorry for the inconvenience. @Xhark can you take a look on this?

[2021-07-19 19:29] ikhatri commented on #756
Could you provide an example on how to do the first option? That's exactly what I'd like to do, but I couldn't quite figure out how I would do so.

As far as the second option goes, I gave it a try but unfortunately it ends up being quite unwieldy. Here's an example to demonstrate. I was storing the sub-layers in my custom layer object but then instead of calling the layer directly I made a functi

[2021-07-19 19:44] suttergustavo opened #765 "Convert model to full int after quantization aware training"
The [Quantization aware training in Keras example](https://www.tensorflow.org/model_optimization/guide/quantization/training_example?hl=en) mentions the following after performing quantization aware training ([here](https://www.tensorflow.org/model_optimization/guide/quantization/training_example?hl=en#create_quantized_model_for_tflite_backend)):

However, when the model is converted to TF Lite us

[2021-07-21 12:22] naruto-raj commented on #763
hi @Xhark ,Please let me know if you need any additional information .

[2021-07-22 08:48] marbortoli commented on #376
hey @ericqu, did you get any further with your issue?

[2021-07-22 08:53] marbortoli commented on #362
Hey, I am also having issues to quantize my model. I want to deploy on the edge tpu, so I just set up a simple timeseries model to test it out. Any feedback on that? Thanks

[2021-07-22 10:19] ericqu commented on #376
@marbortoli no I did not get any further with the issue. I believe the last relevant message is the one from @alanchiao in June 2020 indicating that this is a feature request and not a bug.
Hence I am only going to work on this once the feature is there.
Unless you have information indicating that the feature has been developed.

[2021-07-22 10:26] marbortoli commented on #376
@ericqu no. I am having the same issue.

[2021-07-22 12:23] jiuzhuanzhuan opened #768 "How to quant InputLayer by AllValuesQuantizer manually？"
Hi,
  After train my quant aware model on tf1.12, i want inference it on tf2.4 by recreate the model use kears.
 Except InputLayer, others have be rebuild by my weight and bias trained on tf1.12.

 I want quantize input scalemanually, but the code below don't work.
[code]
[code]

[2021-07-23 12:48] Xhark commented on #764
I recommend to add custom quantize config that only quantize the output, (It's as same as Add.) and it might be okay to convert to tflite.  Due to It's a temporal solution, we have to consider to supports more binary ops natively.

[2021-07-23 13:00] Xhark commented on #765
Yes we supports to convert to full integer model after QAT.
Basically, The functional / sequential model that only contains FP32 QAT supported keras layer can convert to full-integer model.
Would you please share model structure details more?
According to error message, I guess original model already has dequant op or QAT is not appropriately applied .

[2021-07-23 13:46] Xhark commented on #768
Instead of use quantizer directly, it might be better to apply quantize_model and then copy the quantizer weights like ~_min / ~_max by model.set_weights().
You may have to use custom quantize_config if some quantization location is different than default one.

Use quantizer directly is the last way for a part of model that uses non-keras ops. (quantize_model/quantize_config QAT API only supports

[2021-07-25 00:23] donna-jin commented on #426
I have the same issue on TF 2.3.2. I got the error: KeyError: '__inference_expanded_conv_depthwise_layer_call_fn_31750316'

[2021-07-26 11:35] sunzhe09 commented on #764
@Xhark I have success quant the Subtract layer ,now I have last layer not support quant——less，but I found it‘s support in quant spec list。which Api should  I use?

[2021-07-28 02:20] jiuzhuanzhuan opened #771 "wrong inference results of qat int8 model with Conv2DTranspose."
Tensorflow == 2.4.0

Below is my image compression model which have two Conv2DTranspose layers.
[code]
After quant aware train the model,  calculate MSE between inputs and outputs, inference result of tflite is totally wrong.
inference Keras with fake quant op: MSE is 1.6923981
inference  tflite : MSE is 4376.958.

After debug, the error is caused by Conv2DTranspose. Just inference the last deconv

[2021-07-28 02:48] jiuzhuanzhuan commented on #768
Thank u for your kindly reply， that work！

[2021-07-28 02:48] #768 closed

[2021-08-03 14:33] n3011 opened #773 "ValueError: Unknown object OutputOnlyConfig"
**Describe the bug**
I have trained a custom keras model using QAT training. When trying to load using keras, it throws an unknown custom object error
[code]
Error
[code]

**System information**

TensorFlow version (installed from source or binary): 2.5.0 (binary)

TensorFlow Model Optimization version (installed from source or binary): 0.6.0 (binary)

Python version: 3.8

[2021-08-04 11:26] CvHadesSun opened #775 "Tflite full Integer quantization bug."
<em>Hi, I am trying to quantize my own tf-keras model for NNAPI delegate. First the origin tf-keras model size is 5.6MB,and quantized int8-tflite model size is about 1.8M, that is not 4X times. And more important is :  i am trying to run the quantized int8-tflite model on this test benchmark (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark), the result is : use

[2021-08-04 23:14] TaeheeJeong opened #776 "pruning example code for GNMT"
**System information**

- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): Yes

**Motivation**

There is pruning result of GNMT EN-DE and GNMT DE-EN on https://blog.tensorflow.org/2019/05/tf-model-optimization-toolkit-pruning-API.html and https://www.tensorflow.org/model_optimization/guide/pruning.

However, I could not find any example code how to prune GNMT

[2021-08-05 02:03] teijeong commented on #775
Hi @CvHadesSun ,

Seems mostly working as intended. lmk if I get you wrong.

1. model size issue - only weights are expected to be reduced by 4x, and as biases are quantized to int32, the size would remain the same for biases. In addition to that, there are model graph information in the model too, so that the resulting size would have some overheads.
2. NNAPI do support int8, but it depends if yo

[2021-08-05 03:28] CvHadesSun commented on #775
Thx your reply @teijeong :
1.first i understand the model size issue, thank you.
2. I test serval quantized-int8 model in my NPU with nnapi delegate, which are all slower than without nnapi delegate. But i found the official model in https://www.tensorflow.org/lite/guide/hosted_models, that are unit8-quantized tflite model. So ,I want to quantized my model into uint8 to test the inference time on

[2021-08-05 04:40] teijeong commented on #775
Can you try setting `converter.inference_type = tf.uint8` ? (and `converter.inference_input_type` and `converter.inference_output_type` if needed)

[2021-08-05 07:55] kfiros1 opened #777 "Disable quantization range during training"
Hi,

As the paper (https://arxiv.org/pdf/1712.05877.pdf) refereed by Tensforflow states:

I would like to disable activation during the first iterations, Is there a way to do it in Tensorflow?

[2021-08-05 08:22] CvHadesSun commented on #775
Thx reply.
1.Now , I am sure my NPU only support uint8 nnapi delegate, and I try setting converter.inference_type = tf.uint8 and inference_input_type and inference_output_type are tf.uint8, but I quantize all SavedModel format keras model , the model weights are always int8 ,not unit8, and quantization code and log are:
[code]
log:
[code]

2. following scripts, I quantized the example frozen graph

[2021-08-07 03:03] yangcheng commented on #775
@teijeong I found there is a note on https://www.tensorflow.org/lite/performance/quantization_spec stating uint8 is for old tools, do you happen to know which version did the change happen and where can we find the old documentation?
Thanks

[2021-08-08 23:43] #773 closed

[2021-08-09 00:11] teijeong commented on #777
I think that can be done by training the model without QAT first, and then apply QAT to model and run training again.

Adding @Xhark for confirmation.

[2021-08-09 02:06] MeghnaNatraj commented on #775
The `inference_type` flag doesn't exist in the V2 converter. The reason it was removed is listed here: https://github.com/tensorflow/tensorflow/issues/38285#issuecomment-635533037

Is your model trained in TF1? If yes, you can convert your TF1 SavedModel model in TF2 by using the TF1 APIs as follows:

[code]

[2021-08-10 08:46] wwwind commented on #718
Hi @Xhark Sorry to bother, but I would like to check the status of this issue. Is it still in development or is it postponed due to issues ? Thanks!

[2021-08-10 10:19] LevLavy commented on #362
It would be very useful for me as well to have conv1d and also 1d pooling supported, should be very simple to implement and would save time and make the embedded solutions more complete. This makes a lot of sense as in embedded systems that needs the quantization many cases has 1d time series of sensor measurement.

[2021-08-11 02:52] CvHadesSun commented on #775
@MeghnaNatraj  , I trying your advice, modeling the tf1.13.1 model ,  and get the uint8 quantized tflite model, thank you.
And tf1.x quantization api need  ```converter.default_ranges_stats```, if I don't take the Quantization-aware training method, is there another way to find the default_ranges_stats(min and max value)?
Thx.

[2021-08-11 05:27] MeghnaNatraj commented on #775
You don’t need the ‘default_range_stats’ flag for quantization. It’s an
optional field that we discourage users from using if possible.

Is there anything missing in your model? Are you are looking to modify it
further - and in what way?

On Tue, Aug 10, 2021 at 7:52 PM CvHadesSun ***@***.***> wrote:

--
Thank you,
Meghna Natraj |  Software Engineer |  Tensorflow Lite |  ***@***.***

[2021-08-12 10:05] Lemiron24 opened #784 "Use TensorFlow Lite quantize RetinaFace get wrong result"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- TensorFlow installation (pip package or built from source):docker pull
- TensorFlow library (version, if pip package or github SHA, if built from source):tensorflow:2.4.1-gpu

### 2. Code
**this is my script which intend to convert float32 to int8 type:**

import tensorflow as tf
import numpy

[2021-08-13 10:57] GhaziXX opened #786 "Quantization Aware Training support for KerasLayer"
**System information**

- TensorFlow version: latest

**Motivation**

Trying to combine Quantization Aware Training with transfer learning.
I am using feature vectors from tfhub, so when I download the feature vector it comes as a hub.KerasLayer.
following this tutorial **https://www.tensorflow.org/model_optimization/guide/combine/cqat_example**, Clustering is working well on the model but when it

[2021-08-13 11:17] FatumR commented on #408
@yfthu You can replace `tf.add` and `tf.multiply` with `tf.keras.layers.Add` and `tf.keras.layers.Multiply`. But, you still need a config for `tf.keras.layers.Multiply`, the config below worked for me, please note I did int8 qunatization, probably for some cases you need keep there int32.

[code]

Basically, the `tf.keras.layers.Multiply` is quite simple, no weights and activations, so you don't n

[2021-08-16 21:27] lucapericlp opened #788 "Tensorflow Lite interpreter `invoke()` hangs upon attempting int8 quantization with convertor"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.1

### 2. Code

Collab based on the provided reference collab:

https://gist.github.com/lucapericlp/8773916d530c2e9ca4d2dcd2b6a023c0

[2021-08-17 07:12] rino20 commented on #753
HI @simon-berger , a fix for this has been pushed - https://github.com/tensorflow/model-optimization/commit/cad07f36b6aa0b3092c0c9cd0e7a9d74b8c36c48

Please check if it works to you.

[2021-08-17 11:50] JunHyunjae opened #791 "Tensorflow lite INT8 Convert Issue"
### 1. System information

Ubuntu 18.04
pip3 install tensorflow-gpu==2.2.0
pip3 install tensorflow-addons==0.10.0
onnx == 1.7.0

onnx model link (https://github.com/onnx/models/blob/master/vision/classification/resnet/model/resnet50-v1-7.onnx)

Conversion works well, but errors occur when performing.

### 2. Code

# onnx -> pb
onnx_model = onnx.load("./onnx_resnet/resnet50-v1-7.onnx")
tf_model_pat

[2021-08-17 13:38] Abhishekvats1997 commented on #626
@daverim Thanks for the great explanation above. I had a leading doubt on this, suppose I wanted to fold all the batchnorms in the convolution after qat , this will alter the weights of the kernel. After doing so if I use the min max stored to quantize the weights is this appropriate/similar to Tflite's implementation of batchnorm folding ?

[2021-08-17 13:50] rajeshdhanda opened #792 "ValueError: Cannot feed value of shape (12, 128, 64, 3) for Tensor 'Const:0', which has shape '(1, 128, 64, 3)'"
i tried to convert deep_sort >tools >  mars_small128.pb to its tflite version. which I used in to generate_detections.py file.
[https://github.com/nwojke/deep_sort](https://github.com/nwojke/deep_sort)
`
class ImageEncoder(object):

    def __init__(self, checkpoint_filename, input_name="images",
                 output_name="features"):
        self.session = tf.Session()
        interpreter = tf

[2021-08-17 14:18] YannPourcenoux opened #793 "loc("model/FPN/FPN/FPN//Concatenate_p_1/concat"): error: 'tfl.concatenation' op quantization parameters violate the same scale constraint: !quant.uniform<i8:f32, 9.9999999999999995E-7> vs. !quant.uniform<i8:f32, 4.9130543629871681E-5:-128>"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.1

### 2. Code and initial problem
I am trying to quantize a model of which I do not want to show the code, however, I can share [a non-quantized T

[2021-08-18 01:13] daverim commented on #626
That is right, the stored min max will be incorrect if collected before folding, but used after folding batch norms. It is probably simplest to just get the values after folding and recalculate the min and max (numpy.max(...)). However,  if you really want to do this calculation beforehand, the below code is basically how the min and max should be adjusted after folding is handled.

https://github

[2021-08-18 03:37] Abhishekvats1997 commented on #626
@daverim Is this kind of folding emulation currently implemented during QAT? I was just wondering will there be a significant loss in accuracy of the network if emulation is not simulated during qat but done post training.

[2021-08-18 08:56] carryzhang123 opened #794 "Tensorflow1.15 and TensorFlow2.4 were used for int8 precision quantization of the same Pb model, and the quantization results were different. Where, the BIAS of float32 bit is the same, but the weight of int8 bit convolution kernel is different"
### 1. System information
tensorflow1.15  、tensorflow2.4

### 2. Code
[code]

[2021-08-18 09:16] daverim commented on #626
No there is no folding emulation during training any more -- this is deprecated code but still useful in understanding the calculation. This is now calculated during batchnorm folding in the tflite converter as you can see in the code example, it is a straight-forward float calculation. The folding itself should not lead to loss of accuracy as it is a linear operation.

[2021-08-18 10:36] DLPerf opened #795 "Performance issue in the program"
Hello, I found a performance issue in the definition of `encode`, tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/kashin.py, [tf.cast](https://github.com/tensorflow/model-optimization/blob/d1559484e6e2f7147e38077813d1b0511d407117/tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/kashin.py#L201) will be calculated repeatedly during

[2021-08-18 17:40] rajeshdhanda commented on #792
Issue resolved: error coming from batch_size.
(batch_size overwritten by a different code)

[2021-08-18 17:40] #792 closed

[2021-08-19 02:48] daverim commented on #626
Sorry, edited the last comment to point to the current release tag. As I mentioned, that folding is no longer done in TF. However, the calculation is essentially the same in the TFLite converter

[2021-08-19 04:17] yahuuu opened #796 "Integer tflite model slow than float32 model"
### 1. System information

- quantized integer tflite model in Window10(without Nvidia GPU)
- TensorFlow installation method pip installed tensorflow-gpu-2.2.2 and tensorflow-2.2.2.
- try to run quantized model in mobile phone (Mi 9 with built-in GPU and DSP).
- MI 9: android 9
- nnapi-delegate tool version: 2.5.0
- gpu-delegate tool version:   2.5.0
- android.tools.build:gradle:    4.1.3
- compil

[2021-08-19 05:05] yahuuu commented on #796
@mohantym  Glad to receive a reply soon.
whether I should try to use tf2.6 stable version to quantize the model or use tf2.6 to compile the nnapi-delegete?

[2021-08-19 12:12] yahuuu commented on #796
Looking forward to more help :)

[2021-08-20 06:48] SkylerZheng opened #797 "TFLite quantization, the int tflite model is much slower than the float tflite model"
I converted Pytorch model to onnx model, and then to tensorflow model, I convert tensorfloat model to float tflite model and int tflite model(with post training quantization). Currently, my int tflite model is much slower than my float tflite model.

BTW, my model is based on transformer architecture.

Here are the comparisons:

Pytorch: 0.04s, 0 mse, 439 MBs
ONNX-Ori: 0.02s, 2.062e-12 mse, 437 MB

[2021-08-20 17:34] SkylerZheng commented on #796
Hi @yahuuu , I also have this int tflite slower than float tflite, and mine is much slower actually. I checked my model with Netron, and except the input and output are uint8, the rest of weights and activations are int8. Do you have the similar problem as well?

[2021-08-20 22:27] MeghnaNatraj commented on #796
@yahuuu yes you can by using TF 1.15. The code might looks like this ([source](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/r1/convert/python_api.md))

[code]

[2021-08-23 02:22] daverim commented on #788
Hi @lucapericlp , thanks for reporting this. Sorry for the delay.

There is a buffer overrun in the depthwise kernel, which is due to efficientnetb4/block7b using an output depth of 2688, the max is currently 2048.

I've reported the issue and should be fixed soon. In the meantime, the conversion is correct.

[2021-08-23 02:34] daverim commented on #791
Could you post the tflite model -- it appears pad was not converted with correct type constraints.

Could you also try adding the flag

[code]

Thanks

[2021-08-23 02:37] daverim commented on #793
Hi, there was a recent fix to the quantizer that prevented some issues with same scale constraint.

Could you try the conversion with tf-nightly?

[2021-08-23 02:39] daverim commented on #794
Hi could you provide an example?

TF1.15 may have had some issues with bias overflow that have been fixed by adjusting the weight scales.

[2021-08-23 02:43] daverim commented on #795
@DLPerf, it would be great if you can send a PR our way. @PraChetit, could you reply as I don't have any insight on this.

[2021-08-23 03:12] daverim commented on #797
Hi @SkylerZheng,

Please provide more details, including model and reproduction code if possible.

If it is x86 CPU, there is an issue with per-channel quantized dynamic range quantization in interpreters built in TF < TF2.6.
Try the newest tf-nightly and add flag
[code]
during conversion.

On mobile CPU, it is possible you do not have newest optimizations -- try the latest tflite binary.
For othe

[2021-08-23 03:52] yahuuu commented on #796
In my model, the input and output are fp32, and only conv2d weight is of int8. My model has a relatively small number of convolutions, and the model is about 7% slower after quantization.

[2021-08-23 06:31] SkylerZheng commented on #797
@daverim Hi, thank you very much for your help. Yes, I'm using x86 CPU, and I'm using the latest tf-nightly. I have a question, I installed tf-nightly with pip, do I have to build tensorflow from source with Bazel to get faster inference on x86 CPU? Also, how should I know which ops does not support quantizaiton and have to do convert int8 to to fp32 when the Op is operated?

I'm doing int8 quanti

[2021-08-23 07:05] SkylerZheng commented on #797
while I was doing the tflite quantization, I saw this

"This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags."

Does it mean I have to build tensorflow from source?

[2021-08-23 07:35] daverim commented on #797
It is possible to build tensorflow from source but if you are running TFLite, you probably only care about mobile performance, no? In this case, you should test performance of TFLite on device.

After disabling per-tensor quantization, is your model still slower?

[2021-08-23 09:07] JiashuGuo opened #798 "Quantization aware training with mask_rcnn model error: tensorflow.python.framework.errors_impl.NotFoundError: Key SecondStageFeatureExtractor_1/InceptionV2/Mixed_5a/Branch_0/Conv2d_0a_1x1/act_quant/max not found in checkpoint [[{{node save/RestoreV2}}]]"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 1.15.5

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

Pretrained model: [mask_rcnn_inception_v2

[2021-08-23 09:31] YannPourcenoux commented on #793
Hi, thank you for your answer.
When I convert using `tf-nightly==2.7.0-dev20210822`, the conversion goes through and gives
[this tflite model](https://github.com/tensorflow/model-optimization/files/7030753/model.zip).
However, when running the benchmark I encounter the following error:
[code]
Do you have any idea what could be causing this problem?

[2021-08-23 10:09] carryzhang123 commented on #794
![image](https://user-images.githubusercontent.com/15059458/130429850-4a054413-fd22-4443-beac-4a58719b4063.png)

[2021-08-23 18:18] SkylerZheng commented on #797
I'm using tf-nightly right now (2.7 version), I tried with other stable versions, like 1.9 or 2.4, ended up with conversion errors. So I used the latest tf-nightly in the end, and the tf-nightly works well during conversion and quantization.

My question here is: is the slow inference speed caused by the tensorflow build method? I'm afraid that if I build tensorflow from source, I could end up wit

[2021-08-23 19:39] tisma opened #799 "[clustering] Possible wrong implementation of get_weight_from_layer"
**Describe the bug**
A clear and concise description of what the bug is.

**System information**

TensorFlow version (installed from source or binary):
Installed with `pip`, `tensorflow-gpu                2.6.0`

TensorFlow Model Optimization version (installed from source or binary):
Installed with `pip`, `tensorflow-model-optimization 0.6.0`

Python version: `Python 3.6.9`

**Describe the expect

[2021-08-24 06:42] PraChetit commented on #795
It would not be calculated multiple times if you are in graph mode (i.e. when you have `tf.function` decorator somewhere). But even in eager mode, this would be a negligible difference. Nevertheless, feel free to send PR if that helps.

[2021-08-25 10:44] Lemiron24 opened #801 "Is there a way to do symmetric quantization for activations in post-training quantization"
https://tensorflow.google.cn/lite/performance/quantization_spec
from this document we can see the post-training quantization do asymmetric quantization for activations, do symmetric quantization for wieghts.

I follow this guide: https://tensorflow.google.cn/lite/performance/post_training_integer_quant do full int8 quantization for my network mode is OK, as the above said the weights is symmetric

[2021-08-25 18:16] AnastGerus opened #803 "[RNN] Stateful LSTM can't be converted to TF Lite with Integer Quantization"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- TensorFlow installation (pip package or built from source): **pip package**
- TensorFlow library (version, if pip package or github SHA, if built from source): tf-nightly **2.7.0.dev20210819**

### 2. Code
Please check my code below. Please put 'LSTMlayer.onnx' file into folder 'path' (or modify

[2021-08-25 19:47] bayesian-mind opened #802 "Activity Regularizer not working with quantization aware training (QAT)"
**Describe the bug**
Activity Regularizer not working with quantization aware training (QAT). On further evaluation I also saw that it creates a tensor of type `<class 'tensorflow.python.framework.ops.Tensor'>` for Actvity regularization loss where as for bias and kernel regularization loss it creates eager tensor which is easy to access.

**System information**

TensorFlow version (installed from

[2021-08-26 02:35] freedomtan opened #805 "MLIR-based PTQ have MEAN ops with with different quantization scales for inputs and outputs."
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): platform agnostic
- TensorFlow installation (pip package or built from source): when MLIR-based post-training quantization is used
- TensorFlow library (version, if pip package or github SHA, if built from source): when MLIR-based post-training quantization is used

### 2. Code

Post-training quantization ([PTQ](

[2021-08-30 01:06] abattery commented on #805
@renjie-liu could you take a look at this? This is a good example case where the quantization + NNAPI is involved.

[2021-08-30 01:46] renjie-liu commented on #805
Hi Freedom, do you have a tflite model we can debug internally? thanks!

[2021-08-30 02:42] freedomtan commented on #805
@renjie-liu you can find the PTQ resnet50 tflite generated by the aforementioned PTQ script at
https://drive.google.com/file/d/1af1ucoBg4zQ0KJdcyEfVSWyqcXYJdOym/view?usp=sharing

[2021-08-30 06:51] ai1361720220000 opened #808 "Depthwise convolution min_max dimension"
Hello,
i met a new issue when i tried to translate the weight of a pytorch model after QAT to a keras model.
My model contains a depthwise convolution layer and it's weight shape is 3*3*480*1 as showed in .h5 file. In QAT stage, the fake noded will be construced according to this shape, so the dimension of depthwise_kernel_min and depthwise_kernel_max will be 1. I found it is because the Default8B

[2021-08-30 10:00] kweisamx opened #809 "Tensorflow Lite convert not support UINT8 inference type anymore?"
With Tensorflow 1.x, I can set tensorflow converter with inference_type uint8, therefore all op and weight will quantize to uint8

But In Tensorflow 2.x, I can't not set any config to uint8 anymore, It seems only int8,
I check the document only support change uint8 on input_inference type and output_inference type, but it's still use int8 op with whole model.

If tensorflow converter doesn't suppo

[2021-08-30 11:40] fredrec commented on #799
Hi @tisma,

Thanks for your report and especially for the code to reproduce the issue.
We are looking into this.

[2021-08-30 12:24] abattery commented on #809
To understand your contexts, why do you need to use the uint8 quantization technique over the int8 quantization?

[2021-08-30 13:10] lintian06 commented on #803
For the limitation 1, it is because the latent variable is turned into constants, and cannot handle control flow correctly. Can you try *stateless* Keras LSTM?

If you stick to *stateful* Keras LSTM, for C++ code, you can extract the subgraph of TF models with only one step ("without for-loop"), and use C++ code to loop the LSTM state. However, you have to handle TFLite conversion in details.
- On

[2021-08-30 13:45] godhj93 opened #810 "Dynamic Quantization latency Issue about Convolution layer in Tensorflow LITE"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubunt

[2021-08-30 17:05] kweisamx commented on #809
Hi @abattery , I have some experiment code use uint8, so I just want to ensure the UINT8 still support now,

[2021-08-31 03:35] abattery commented on #809
Currently, we do not support uint8 quantization at the recent TensorFlow version. We found that the signed integer quantization generally performs better than unsigned integer quantization.

If you want to generate the uint8 quantization model, you can use the old TensorFlow version.

[2021-08-31 03:35] #809 closed

[2021-08-31 07:15] kweisamx commented on #809
HI @abattery
Thank you, I got it.

[2021-08-31 15:48] renjie-liu commented on #805
Hi Freedom, https://github.com/tensorflow/tensorflow/commit/8c90a182b8e200a870ddc5dc4fb9d7ee10f04cbe

Can you try `bazel  run //tensorflow/compiler/mlir/lite/experimental/tac:tac-translate -- <INPUT_MODEL> -o=<OUTPUT_MODEL> --device-specs=NNAPI`

And see if it works for you case?

Note we are replacing the mean with a avg_pool -> requantize, that may cause accuracy issue so it would be great to ge

[2021-08-31 22:31] abattery commented on #810
Have you tested the performance comparisons on android? Most of TensorFlow Lite kernels are optimized for arm architecture.

[2021-09-01 02:04] freedomtan commented on #805
@renjie-liu Thanks. So far, it works for all the models I tested functionally. I'll check accuracy later.

[2021-09-01 03:26] godhj93 commented on #810
@abattery
Not yet, but i have a plan to deploy tensorflow model on devices which have arm achitectures such as nvidia xavier, raspberrypi.
to be specific, i'm going to compare performances of quantizaion between X86 devices, arm devices and GPU.

if i deploy the model on arm devices , will dynamic quantization work well?

Thanks!

[2021-09-01 03:27] abattery commented on #810
Yes, they are working on-device well if your model is converted to TensorFlow Lite.

[2021-09-01 03:30] #810 closed

[2021-09-01 03:34] abattery commented on #808
@Xhark could you take a look?

[2021-09-01 04:32] SkylerZheng opened #811 "model written with tf2.6.0 (not using keras) cannot find instructions to do quantization aware training, only keras model based quantization example can be found"
I wrote my code with tensorflow 2.0, some of my code used tf.compat.v1, I'm trying to do quantization aware training for my model, however, I cannot find any functions except keras related quantization functions. My question is to do quantization aware training, do I have to write my model using Keras?

[2021-09-01 07:19] ai1361720220000 commented on #808
I have another question, does tensorflow2.3 support folding op of conv+BN+Relu or conv+BN in QAT like pytorch?
My model contains a lot of conv+BN+relu, but when i  use
`quant_aware_model = tfmot.quantization.keras.quantize_apply(annotated_model)`
i found this function can't translate the conv+BN+relu into Conv2DBatchNormReLUFold layer.
If there is a way to fold these options for model, and perform

[2021-09-01 07:58] ai1361720220000 commented on #552
Does tfmot support conv per layer QAT now?

[2021-09-01 08:09] ai1361720220000 commented on #438
hello, does Conversion now support per layer quantization for Conv2D??

[2021-09-01 12:49] abattery commented on #811
Current QAT feature is based on the Keras API. See the following document as well:

https://www.tensorflow.org/model_optimization/guide/quantization/training

[2021-09-01 14:18] lovodkin93 opened #812 "quantization is supported only to Sequential mode?"
Hello,
I wish to use your quantization model, but looking at your example. I have tried to follow your example, but it was done only on a Sequential mode of a model. The problem is, I wish to add the quantization to a Resnet50 model, which due to the residual parts isn't really Sequential. So, I was wondering if the Quantization model can be also used with a Functional Model, and if so, could you

[2021-09-02 03:52] freedomtan commented on #805
FYI. Yes, there is accuracy loss, but seems to be acceptable for image classification. For this resnet case, verifying with  [TFLite image classification evaluation tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/evaluation/tasks/imagenet_image_classification).
The one with MEAN:
[code]
For MEAN replaced with avg_pool + requant
[code]

[2021-09-02 03:52] #805 closed

[2021-09-02 03:55] abattery commented on #812
Currently, the quantization aware training supports sequential and functional based models but it does not support the subclassed models.

[2021-09-02 03:56] abattery commented on #812
https://www.tensorflow.org/model_optimization/guide/quantization/training#api_compatibility

[2021-09-02 07:28] lovodkin93 commented on #812
Hey, what do you mean by "subclassed models"?

[2021-09-02 07:33] lovodkin93 commented on #812
Thanks!
This is exactly the demo I worked with, but it only has an example of a sequential based models, and no example nor explanation how to incorporate the quantization into functional based model.
Could you maybe share such  an example?
Alternatively, I saw you posted performace of ResNet50 with Quantization-Aware Training - could you maybe share the code of the model (as ResNet50, which is wh

[2021-09-02 08:55] #812 closed

[2021-09-02 08:57] lovodkin93 opened #813 "WARNING:tensorflow:AutoGraph could not transform <tensorflow_model_optimization.python.core.quantization.keras.quantizers.AllValuesQuantizer object at 0x7f92927f3f90> and will run it as-is."
Hey,
I am using the quantization Wrapper and keep getting the following warning:
[code]

has anyone encountered it? Does it have any impact on the training process?
Thanks!

[2021-09-02 10:49] jimch3n opened #814 "modify_model_interface removing input float tensor is not completed, memory allocator occupied this dummy tensor"
### 1. System information
TFLM
Tensorflow r2.5

### 2. Code
code in tensorflow\tensorflow\lite\tools\optimize\modify_model_interface.cc

Function: RemoveInputTensor
`code: c
 // Removes the input tensor and the related operator.
  for (auto tot : inputs) {
    SubGraphT* subgraph = model->subgraphs.at(tot.subgraph_index).get();
    TFLITE_DCHECK(tot.input_index < subgraph->tensors.size());
    TFL

[2021-09-02 12:49] AnastGerus commented on #803
Hi @lintian06 ,

I have tried to do something similar by "fixing" the size of the input variables this way (code based on [collab](https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb)):

[code]
Still, it doesn't work with Integer Quantization (only Float and DynamicRange). It can work if you

[2021-09-02 21:09] abattery commented on #814
Thanks for filing the feature request! Would you mind uploading an affected TFLite model file or sharing the reproducible steps?

[2021-09-02 21:11] abattery commented on #813
@Xhark any thoughts on this?

[2021-09-03 08:41] jimch3n commented on #814
- [feedback_google.zip](https://github.com/tensorflow/model-optimization/files/7104473/feedback_google.zip)

Here are the models before an after convert using modify_model_interface

- Reproduce command is

bazel run -c opt //tensorflow/lite/tools/optimize:modify_model_interface_main -- check_point_epoch0029_qua.tflite v28_check_point_epoch0029_main_v.tflite int8 int8

- below figure is the screen

[2021-09-03 10:29] jakobwowy commented on #803
@AnastGerus I have the same problem converting a model with stateful LSTM layers.

Have you seen this:
https://github.com/tensorflow/tensorflow/issues/48282

I think this should be a work around. But didn't figure out how to handle the hidden states of multiple LSTM layers?

[2021-09-03 15:29] AnastGerus commented on #803
Hi @jakobwowy,
Thank you for this link, I'll try it.

Regarding NN with multiple LSTM layers: I had a similar problem in the onnx_tf convertor and I used a workaround by splitting my NN into a few NNs each with only one LSTM layer and made the inference sequentially. I hope it will help you!

Thanks,
Anastasiia

[2021-09-03 17:55] abhiagwl4262 opened #820 "Quantization aware training on untrained model"
Can I train a model from scratch using Quantization aware training? Or It can only be used as fine-tuning method ?

[2021-09-03 18:04] AnastGerus commented on #803
Unfortunately, this solution didn't help me because I need to work with format converted from ONNX (TensorFlowRep) - it's not Keras...

[2021-09-06 10:57] bhbruce opened #822 "Weight in fully connected layers don't follow tensorflow quantization spec (zero-point!=0)"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04.5 LTS
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): tensorflow2.5.0

### 2. Code

Provide code to help us reproduce your issues using one of the following options:
1)  Demonstrate how to build you

[2021-09-06 10:58] abattery commented on #822
@thaink @teijeong @daverim for the visibility.

[2021-09-06 18:12] dash-myelin opened #823 "Model with SeparableConvs not converting to QAT"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-09-06 21:23] lgeiger opened #824 "Support `float16` input for `tf.quantization.fake_quant_*` ops"
**System information**
- TensorFlow version (you are using): 2.6, nightly
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Currently `tf.quantization.fake_quant_*` ops do not support `float16` input. E.g.:
[code]
would fail because there is no kernel implementation available for `float16` input on either GPU or CPU.

Checkout [this noteboo

[2021-09-07 23:42] lgeiger commented on #824
@abattery Thanks for taking a look! I am not sure why this issue was transferred to TF-MOT though, since it is not directly related to TF-MOT. The issue lies not in the Python code of this repo, but in the lacking support of fp16 in the core fake quantisation op of TensorFlow (in fact I am personally not even using TF-MOT for the training aware quantisation I was referring to above).

[2021-09-08 08:50] dash-myelin commented on #823
@tensorflowbutler
When am I supposed to get a response on this?

[2021-09-08 19:02] Xhark commented on #822
The weight input for FC op is not a weight. That's why we don't use symmetric.
I think this is a corner case that TF EinsumDense convert to some TFLite FC ops because TFLite doesn't have matmul op. but it seems violate quantization spec.
@teijeong Do you have any idea why it starts not working on TF 2.6+?

[2021-09-08 19:55] Xhark commented on #823
It's a bug caused by interaction between SeperableConv and TFOpLamba. (tf.split)
It's not a right fixes for this bug, but https://github.com/tensorflow/model-optimization/pull/825 (under review) potentially fixed this bug.

You can try this fix if you use the command as below:
!pip install git+https://github.com/tensorflow/model-optimization.git@fd5bc4a9202642c7d5536f0542f65cf09cae4713

Thanks!

[2021-09-09 03:30] Tingzou opened #827 "https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras when sparsity.UpdatePruningStep() is added in the callbacks list, the following error is shown:"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-09-09 03:30] #827 closed

[2021-09-09 12:01] AnastGerus commented on #803
Hi @lintian06,
Could you please provide an example of <<defining a signature_def specifying inputs and outputs when exporting a saved model>> when I don't have a Keras model? Only the ONNX model or TF frozen graph are available in my case...

Thank you,
Anastasiia

[2021-09-10 04:06] daverim commented on #799
Hi @wwwind, do you think you can take a look at this issue?

[2021-09-12 12:33] lovodkin93 opened #829 "quantization not happening?"
Hello,
I have tried to make my model comaptible with QAT, according to your guideline.
I started with defining a QuantizeConfig class:
[code]

Then I applied the quantization:
[code]

Finally, I chose one of the Conv2D layers, which evidently was quantized:
![image](https://user-images.githubusercontent.com/57570615/132987646-df13db8f-a527-407e-ae1f-bc2c1c5ff9ef.png)

and looked at its weights, an

[2021-09-13 16:51] lovodkin93 opened #832 "perform inference after QAT"
Hello,
I would like to train my model in a QAT scenario.
But from what I understand, during QAT, only the Forward pass calculations are done in quantized mode, whereas the weights that are saved are in the original format (for example if I plan on quantizing from 32 to 4 bits, then only the Forward pass is done in 4bits, whereas the weights are saved in 32bits). So, in a normal situation, in infer

[2021-09-13 19:33] Xhark commented on #829
QAT model is only for training. So the weights for QAT model is a float form. For 8 bit quantization, we do actual quantization during TFLite conversion. (inference also just simulate quantized model, but it's not actual quantized. we use float32 ops with fake-quant to simulate.)

You can get fake quantized weights manually, but it still dequantized float32. (from fake-quant)

unquantized_weight,

[2021-09-13 19:37] Xhark commented on #832
If you run inference for a QAT model, it already simulate 4bits with fake-quant.
Only difference is we use float32 op. Basically, input and weight is quant-dequant by injected fake-quant. Does this simulation on inference mode is suitable for your case?

[2021-09-13 19:44] lovodkin93 commented on #829
@Xhark
Ok, I think I understand.
So I have a followup question - is the validation done using the quantized version of the model (with the fake-quant weights), or is it done with the unquantized weights?

[2021-09-13 19:49] lovodkin93 commented on #832
@Xhark
What I want is to have quantized weights during inference.
In fact, I am comparing it to post-train quantization, therefore I need the weights to be quantized.
So I didn't quite understand if in the QAT scenario, using the Quantizer wrapper, the weights are indeed quantized during inference.
In other words, is it comparable to post-train quantization, without any extra quantization during i

[2021-09-14 08:50] lovodkin93 commented on #829
@Xhark
So I tried what you suggested, and it appears the `quantizer` parameters (the second one in q_aware_model.layers[2]._weight_vars[0]) is None. This is weird, given the model is wrapped in the Quantizer Wrapper, and it does have min_var and max_var values.
Do you happen to know what might cause the `quantizer` parameter to be None?

[2021-09-14 10:43] lovodkin93 commented on #829
@Xhark
So after checking, it appears that when saving the model and then reloading it as follows: `q_aware_model= tf.keras.models.load_model(model_path)`, the quantizer is None, in contrast to accessing the trained model prior to saving it.
Do you happen to know what might cause this behaviour?

[2021-09-14 20:37] arm-ssingh opened #833 "Is it possible to have quantised fused_tanh (with add op ) via TFlite converter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):
Source
- TensorFlow version (or github SHA if from source):
2.6.0

**Provide the text output from tflite_convert**

![image](https://user-images.githubusercontent.com/64504846/133289267-1c7ca814-6784-43dd-96b3-059957e6be3b.png)

When comparing against

[2021-09-15 09:57] arm-ssingh opened #834 "Is it possible to have quantised fused_tanh (with add op ) via TFlite converters"
Is it possible to have an ADD operator with a fused TANH activation in TFL ? Such quantized int16 model is producing wrong results compare to Keras output ?
Model:

=====
input = tf.keras.layers.Input(shape=  (1, 128, 3), batch_size=1)
add = tf.keras.layers.Add()([input, input])
act = tf.keras.layers.Activation(tf.keras.activations.tanh)(add)
model = tf.keras.Model(inputs=input, outputs= act)
====

[2021-09-15 10:46] abattery commented on #834
Closing this due to the duplication.

[2021-09-15 10:46] #834 closed

[2021-09-15 13:50] Winndy opened #835 "TypeError: unsupported operand type(s) for +: 'NoneType' and 'float"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-09-15 21:50] abattery commented on #835
Please reopen this issue after including the reproducible steps.

[2021-09-15 21:50] #835 closed

[2021-09-16 14:47] wwwind commented on #799
Hi @tisma, The function `get_clusterable_weights` in your implementation does not return what is expected by the clustering algorithm.
It should be
[code]
We have a tutorial for ClusterableLayer [here](https://www.tensorflow.org/model_optimization/guide/clustering/clustering_comprehensive_guide#cluster_custom_keras_layer_or_specify_which_weights_of_layer_to_cluster).

[2021-09-17 04:28] vanajareedy0426 opened #836 "Issue with tflite interpreter"
Hi,
In DTLN model, I did some changes in separation kernel which looks as given below
`` x = keras.layers.Conv1D( B, 1,use_bias=False )(x)

    y =  keras.layers.Conv1D(N, 1,use_bias=False  )(x)
    y =  keras.activations.relu(y, alpha = 0.01 )

    y =  InstantLayerNormalization()(y)
    y =  keras.layers.Conv1D( N, kernel_size=P,  strides=1, padding= "causal", dilation_rate=2**0, groups=N,use_bi

[2021-09-17 05:52] Gojo1729 commented on #621
So pruning doesn't work if we are not able to retrain the model after adding the prune_low_magnitude layer ?

[2021-09-17 06:20] lzc16 commented on #803
Hi @AnastGerus ,
I have the same problem when convert torch->onnx->tflite. Have you solved the problem?

It seems tensorflow=2.6.0 or tf-nigthtly can convert to tflite but it log error when try to network forward.

[2021-09-17 09:29] dash-myelin commented on #823
@Xhark
The only thing this patch solves is saving the model. The inference times and the output are all much worse for regular models when compared to the same models saved with tf-nightly.

[2021-09-18 02:41] jhelsas opened #837 "Can't run prunning with XNNPack"
I am having the following error trying to prune an Efficientnet B1 network, but I am unable to understand even what it is referring to:

    Could not find `Conv2D 3x3` layer with stride 2x2, `input filters == 3` and `VALID` padding and preceding `ZeroPadding2D` with `padding == 1` in all input branches of the model

I am calling tfmot.sparsity.keras.prune_low_magnitude with the following args:

[2021-09-18 14:35] AnastGerus commented on #803
Hi @lzc16 ,
Unfortunately, no. Issue isn't solved.
In my stage failure is in the process of conversion.

[2021-09-20 15:11] tisma commented on #799
Oh, I see the problem in my implementation of `get_clusterable_weights`
[code]
First problem, return value of `weight.read_value()` is of type `<class 'tensorflow.python.framework.ops.EagerTensor'>` instead of `<class 'tensorflow.python.ops.resource_variable_ops.ResourceVariable'>` so it should be replaced just by `weight` in that tuple creation.

Second trickier problem is that `weight.name` is n

[2021-09-20 16:42] AnastGerus commented on #803
Hi @lzc16 ,
I have managed to convert my model using the nightly version.
But I also have an error in the runtime.
[code]
Hi @lintian06 ,
Could you please recommend a way to solve it? Does it exist?

Thanks

[2021-09-22 08:43] AnastGerus commented on #803
Hi @lzc16 ,
I have the same path - 'torch -> onnx -> tflite' so I can't use keras. I just trying to find a solution or some workaround.

Best regards

[2021-09-22 08:51] lzc16 commented on #803
Hi @AnastGerus ,
Is there any suggestion that motify tensorflow.pb model manual? Or redefine the net in the tensorflow(using keras) and load the onnx model?

Thanks

[2021-09-22 16:25] tensorbuffer opened #838 "QAT for object detection models?"
**System information**

- TensorFlow version (you are using):2.6
- Are you willing to contribute it (Yes/No):

**Motivation**

Need to run OD models on device, after QAT.

**Describe the feature**

Currently QAT only supports sequential and functional model, as stated in https://blog.tensorflow.org/2020/04/quantization-aware-training-with-tensorflow-model-optimization-toolkit.html
I looked into OD

[2021-09-22 16:31] tensorbuffer commented on #292
@alanchiao Can you elaborate what are the "fundamental reasons we cannot support them well"? Do you have a timeline when QAT of subclassed model can be supported?

[2021-09-23 12:04] lzc16 commented on #803
Hi @AnastGerus

I got the explain from https://github.com/tensorflow/tensorflow/issues/52041.

[2021-09-23 16:40] tisma commented on #799
@wwwind This was just a simple example of the model. What if I have a more complex model which is composed of several layers? How can I add those weights that are part of the nested layers to the `clustered_weights` list []?
This is the output of the `model.summary()` and all the weights that are part of `stereo_net` layer
[code]
[code]

[code]

[code]

[2021-09-24 10:10] wwwind commented on #799
Hi @tisma To pass to the clustering algorithm what should be clustered in your layer, you need to take a look at attributes with weights. This is an advanced usage, so it might be not so convenient, but I would put a breakpoint to see where weights are stored. For example, for MHA layer we have 4 types of weights. To pass them for clustering I would re-define my function like this:

[code]

[2021-09-25 22:21] leandro-gracia-gil opened #840 "tf.quantization.quantize fails when converting to TFLite"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installation (pip package or built from source): from pip package tf-nightly
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.7.0-dev20210922

### 2. Code

I'm exporting a TFLite model with multiple signatures provided as concrete functions. In

[2021-09-26 10:39] lovodkin93 opened #841 "problem with quantizing the BN layer"
Hello,
I am trying to perform a QAT on a ResNet50 network with BN layers, and I keep getting the following error:
[code]

I tried to isolate each of the BN layers, and it appears they all cause the same error.

Here is the code I am trying to run:
[code]

What am I missing?

[2021-09-27 06:44] teijeong commented on #841
Hi @lovodkin93 , can you share a colab so we can reproduce easily?

Also please let us know which TF and TF-MOT versions you're using.

[2021-09-27 07:06] teijeong commented on #840
Hi @leandro-gracia-gil ,

As you observed, `tf.quantization.quantize` is not converted to TFLite op. You can try [fake_quant_with_min_max_args](https://www.tensorflow.org/api_docs/python/tf/quantization/fake_quant_with_min_max_args) to actually quantize and dequantize the value, but I can't recall a op that is converted to TFLite quantize op. Note that TFLite's quantize op quantizes uniformly with

[2021-09-27 07:16] teijeong commented on #833
Hi @arm-ssingh ,

I can't reproduce colab as I don't have the input file. Meanwhile, can you confirm that the model is 16x8 quantized? Need to inspect the model, but seems it's not running quantization pass appropriately.

To do int16x8 quantization appropriately, please see the guide: https://www.tensorflow.org/lite/performance/post_training_integer_quant_16x8

[2021-09-27 07:19] teijeong commented on #824
Hi @Xhark , do you think it should be handled by MOT team or TF core team?

[2021-09-27 08:23] leandro-gracia-gil commented on #840
Hi @teijeong,

I'm trying to export a TFLite model with 2 signatures, now that multiple of them are supported in tf-nightly. One signature uses integer quantization and takes quantized inputs. The other is not quantized, but needs to produce quantized outputs that the first signature can consume. These quantized outputs would also be saved separately, so making the quantized signature take floats

[2021-09-27 14:32] rino20 commented on #838
Hi,

could you share more info about the OD model? I am confused whether the model is keras model or not. You said that it is not a keras model, but the layers are keras layer and _is_graph_network is for tf.keras.Model.

If the model is keras model, you may be able to utilize quantization annotation, see examples in https://www.tensorflow.org/model_optimization/api_docs/python/tfmot/quantization/

[2021-09-27 15:32] rino20 commented on #837
Hi  @jhelsas, Thanks for reporting this.

The Pruning policy you are using (PruneForLatencyOnXNNPack) is customized for a specific subgraph structure as shown in the guide's example. It searches for a specific conv2d 3x3 layer after Zeropadding2D, so the error message was generated regardless of your model.

Just remove the pruning policy, and follow the further steps in the guide document. I thin

[2021-09-27 15:37] tensorbuffer commented on #838
I did this according to OD's tutorial: #https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tf2_colab.ipynb

Next is I want to do QAT of the model. If I do like this:
quantize_model = tfmot.quantization.keras.quantize_model
q_aware_model = quantize_model(model)

I will get an error, which comes from: https://github.com/tensorflow/mo

[2021-09-27 16:02] lovodkin93 commented on #841
sure thing:
https://colab.research.google.com/drive/1o9hbgv4Toc59DTkM3h5PaBY1G1duiIdE?usp=sharing
Thanks!

[2021-09-27 18:06] bayesian-mind commented on #802
@google-admin  It's been more than 30 days with no response. Please bring this to the attention of the concerned personal.

[2021-09-27 20:20] bayesian-mind opened #842 "Activity Regularizer not working with quantization aware training (QAT) TF 2.6"
**Describe the Issue**
Activity Regularizer not working with quantization aware training (QAT). TypeError: An op outside of the function building code is being passed
a "Graph" tensor. It is possible to have Graph tensors
leak out of the function building context by including a
tf.init_scope in your function building code.

**System information**

TensorFlow version (installed from source or binar

[2021-09-28 01:23] leandro-gracia-gil opened #843 "Fix the integration of TFLite models with multiple signatures and quantization"
**System information**
- TensorFlow version (you are using): tf-nightly
- Are you willing to contribute it (Yes/No): No, this has a broader impact in the TFLite conversion & quantization API design.

**Describe the feature and the current behavior/state.**

TensorFlow 2.7 is finally adding support for multiple signatures in TFLite models as described [here](https://www.tensorflow.org/lite/guide/si

[2021-09-28 08:27] lovodkin93 commented on #841
So I tried to replace every `x = Activation(activations.relu)(x)` line with `x = Activation(ReLU)(x)`, and now I get the following error (which is the reason I worked with `x = Activation(activations.relu)(x)` in the first place):
[code]

Do you happen to know why this might occur?
Thanks!

[2021-09-28 14:45] rino20 commented on #776
Sorry, the example code is not available at this moment.

Btw, I cannot imagine any specific issue on applying Pruning API to GNMT model, so what about trying it similar to the guide in https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras ? (but with GNMT model)

If you need any further assistance, please let me know.

[2021-09-30 13:36] lovodkin93 opened #853 "quantizing to int values"
Hello,
I have used your QAT model to quantize to different bitwidths, but I saw that the quantizations were always to FP values, even if they were quantized (e.g., if I quantized to 4bit, then all my weight were quantized to 16 discrete values, but they were not integers but rather FP values, namely non-integers.

I was wondering if there is a way to perform the QAT with a quantization-technique t

[2021-10-01 09:18] AnastGerus commented on #803
Hi @lzc16,
I can see from that [issue ](https://github.com/tensorflow/tensorflow/issues/52041) that the problem was in onnx-tf conversion.
In my case, the TF model works ok, and the TFLite model with float16 or Dynamic Range quantizations also works fine. So the problem is specific to Integer quantization.

Could you please recommend the way to modify tensorflow.pb model manually?

Thanks

[2021-10-01 09:30] bhbruce commented on #822
@Xhark Thanks for your response!
@teijeong Is there any update for this issue?

[2021-10-02 00:53] lolz0r commented on #793
I see the same error messages under the same condition running tfnightly==2.8.0-dev20211001

[2021-10-02 08:34] armkevincheng opened #856 "TFLite converter fails at post-training quantization with16bit x 8bit conv2d"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04.1-Ubuntu
- TensorFlow installation (pip package or built from source): Built from source.
- TensorFlow library (version, if pip package or github SHA, if built from source): e028aedeb0f49980180a7efe48b76fdc6562c244
I tried to sync with nightly on 10/1 when reproducing the bug. I can confirm this used to wor

[2021-10-03 22:53] DavidvSon1 opened #857 "Segmentation fault when invoking TFLite interpreter on basic quantized model"
### 1. System information
Operating System: Ubuntu 18.04.5 LTS
Kernel: Linux 5.4.0-60-generic
Architecture: x86-64
GPU: 2x Nvidia Quadro RTX8000
cuda: v11.0

Tensorflow v2.4.0 (installed through pip)
Also tested on TF v2.5.0

### 2. Code
from tensorflow.keras import layers
from tensorflow.keras.losses import SparseCategoricalCrossentropy
from tensorflow import keras
import tensorflow as tf
import

[2021-10-05 07:23] jasonchenPJ opened #858 "Issue for the FAKE_QUANT result"
Hi,
For the example:
  `  a=tf.fake_quant_with_min_max_vars([-1.0,0.0,1.0], min=-1, max=1)`
  `  sess=tf.Session()`
  `  sess(a)`
The result is array([**-0.9960785**,  0. ,  **1.0039215**], dtype=float32)

But according to the source code "fake_quant_ops_functor.h":
it define the:
  `  *scale = (max - min) / (quant_max_float - quant_min_float);`
  `  zero_point_from_min = quant_min_float - min / *

[2021-10-05 11:32] Narduzzi opened #859 "Convert quantized model to full int model"
**System information**

- TensorFlow version: 2.6.0
- Are you willing to contribute it (Yes/No): Yes

**Motivation**

It would be great to have a function that converts the model to full-int representation after quantization, in order to export the weights as integers.

**Describe the feature**

The pseudo-code would be:
[code]

**Describe how the feature helps achieve the use case**

I achieved y

[2021-10-08 01:56] smohan10 opened #863 "Set zero_debias=True for Quantization Aware Training"
Hi,
I see that TF version 1's QAT library uses **zero_debias** as True. However, the TFMOT's quantization library calls the following in the quant_ops.py:

_assign_min = moving_averages.assign_moving_average(
        min_var, range_min, ema_decay, **zero_debias=False**, name='AssignMinEma')
assign_max = moving_averages.assign_moving_average(
        max_var, range_max, ema_decay, **zero_debias=Fal

[2021-10-12 04:28] abattery commented on #863
@Xhark could you take a look at this one?

[2021-10-12 09:10] Xhark commented on #863
Would you please provide more details?
Did you try to use TF1 QAT on TF1 model but it raise that error?

[2021-10-12 09:36] yahuuu commented on #796
@MeghnaNatraj
I try to modify the input data type to int8 when I quantize the model, but meet error :
"""
Cannot set tensor: Got value of type UINT8 but expected type FLOAT32 for input 0, name: input
"""
I see that there are many uint8 models in [this link](https://www.tensorflow.org/lite/guide/hosted_models), and there are no quantize or dequantize operators!
I am very curious how the official qu

[2021-10-13 03:35] jasonchenPJ commented on #858
Thanks for your reply.
In current implementation, does it mean the **_zero_point_from_min_** will be 127.5 or 127.49999 at different desktop?
It will directly affect the result of fake_quan.

Actually, I insert the FQ at the front of DNN during QAT stage.
So the  value range processing:
0 to 255 (org. image value) ==> -1 to 1 (after normalize) ==>  -0.9960785 to 1.0039215(after FQ) --> DNN

I just

[2021-10-14 04:53] NonlinearNimesh commented on #40
Hi, I have a trained frozen model, is it possible to prune it, Any references will be a great help

Thanks.

[2021-10-14 10:43] somum opened #864 "Pruning error of transfer learning model MobilenetV3 Large !"
Trying to prune MobilenetV3 Large model after training but showing an error of -

**ValueError: Please initialize `Prune` with a supported layer. Layers should either be supported by the PruneRegistry (built-in keras layers) or should be a `PrunableLayer` instance, or should has a customer defined `get_prunable_weights` method. You passed: <class 'tensorflow.python.keras.layers.preprocessing.image

[2021-10-18 23:40] bayesian-mind commented on #372
@Xhark I am still having issues with the ResizeBilinear Layer using the `tf.image.resize` or `tf.keras.layers.Resizing`. Are these layers going to be addressed too? I checked the PR and the code and did not find anything solving these layers.

[2021-10-19 03:15] MeghnaNatraj commented on #796
The models might be quite outdated (from TF1). Please use models from TF Hub eg: https://tfhub.dev/s?deployment-format=lite&module-type=image-classification&q=quantized

[2021-10-20 13:37] houray opened #865 "tflite converter failed to correctly convert q aware training model when set `disable_per_axis=True`"
1. System information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu-20.04
TensorFlow installation (pip package or built from source): Pip package.
TensorFlow library (version, if pip package or github SHA, if built from source): 2.6.0

2. Code
Provide code to help us reproduce your issues using one of the following options:

Option B: Paste your code here or provide a link to a c

[2021-10-20 23:56] #856 closed

[2021-10-22 00:51] hguandl opened #867 "Keras TFOpLambda may conflict with quantization"
**Describe the bug**

When we try to quantize a model containing a `TFOpLambda` layer, an AttributeError `'list' object has no attribute 'dtype'` would occur.

**System information**

TensorFlow version (installed from binary): 2.5.0

TensorFlow Model Optimization version (installed from binary): 0.6.0

Python version: 3.9.6

**Describe the expected behavior**

Should return a quantized model with

[2021-10-22 06:37] peri044 opened #868 "QAT model saving bug : KeyError: '__inference_depthwise_conv2d_layer_call_fn_126"
**Describe the bug**
Please download the scripts to reproduce from : https://drive.google.com/drive/folders/15cajAZ9sAZ2Uyix8sDVSYku6QCqDCec7?usp=sharing

Command to run : python sample_qat.py.

I have a simple model with input layer and a depthwise conv2d layer. I quantize this model by adding quantize_and_dequantize nodes at the input of depthwiseconv2d layer (commented in the code). When I save

[2021-10-26 09:39] FSet89 opened #869 "Quantizing model at runtime during training results in non-learned quantization"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-10-28 13:00] HOLYlmx opened #874 "QAT in Keras, the layers.Concatenete op is not supported !"
TensorFlow version (installed from source or binary): 2.3
TensorFlow Model Optimization version (installed from source or binary): 0.5.0
Python version: 3.x
Reffering the Issue at https://github.com/tensorflow/model-optimization/issues/419#issue-632871569, I tried the mentioned method, but another error comes :

The code is as follows:

[code]

[2021-10-29 03:22] #874 closed, assigned to nobody

[2021-11-01 04:18] daverim commented on #869
Hi FSet89@. Sorry for your inconveniences. I just tried out your code on a very simple convolutional model and seems to be running fine. Are you running in eager mode?

The variables should be set by assignment during execution of the model. `probs = model(x, training=True)`. There were some issues with multi-input calls before tfmot==0.6.0, could you try upgrading to 0.7.0 or showing the output o

[2021-11-01 05:42] daverim commented on #868
Hi peri044@ and Jia-HongHenryLee@

I'm looking into it now, but there are a couple of workarounds.
First, it seems to save correctly if you use

`model.save('export_dir', save_format='h5')`

I think this is caused by incorrect shape handling for the depthwise kernel quantization parameters, which results in functions not being traced/merged correctly.

Thanks for reporting this.

[2021-11-01 06:10] daverim commented on #867
Hi this is true, however, we generally do not support quantize_model for lambda operations. This is because the expectation is that quantization will be applied to supported ops, which is not true. Instead, it throws an error -- probably should expose lack of support for Lambda ops.

Instead, you should use a custom layer instead of a Lambda and provide a quantization config for this layer instead

[2021-11-01 06:13] daverim commented on #865
Hi, you must add
``
converter = tf.lite.TFLiteConverter.from_keras_model(q_aware_model)
converter.optimizations = [tf.lite.Optimize.DEFAULT]
``
before you convert, otherwise, your model will remain in float.

[2021-11-01 10:04] starsky68 opened #875 "How to prune a custom tensor? The tensor is a recursive variable and is initialized with tf.zeros."
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-11-02 17:14] tariqMH22 opened #876 "G"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2021-11-03 04:15] hguandl commented on #867
So can I treat that as a documentation issue?

The official guide has not mentioned the incompatibility with lambda operations (only v1 and subclass are mentioned).

In addition, lambda layers are used in MobileNetV3, which is the built-in application from Keras. Developers may get confused when the quantization failed with an unclear error (#546).

Therefore I think it would be more friendly if T

[2021-11-03 05:16] daverim commented on #867
No, it is a bug -- there should be a best effort to quantize the output of the lambda layer and at least not cause a crash. I filed a bug internally with this issue as a reference. I just posted a workaround if the original model can be modified.

Will update when a fix is available.

[2021-11-07 20:17] peri044 commented on #868
Thank you @daverim for addressing this.
Can you let me know when this would be resolved or if there's an active PR for this ?
I haven't tried h5 format, since I'm using saved model format to pass it through TF2ONNX (with custom utilities) for processing.

[2021-11-08 09:07] #876 closed

[2021-11-08 15:41] fredrec commented on #875
Hi @starsky68,

Can you please provide more context ?
In particular:
- What is `self.weight` for ? It looks like it is never used in the layer.
- What prevents `b` to be a class member ? You could then return it in `get_prunable_weights(self)`

[2021-11-09 01:21] starsky68 commented on #875
I modified the above sample code again. Self. Weight can be obtained through get_ prunable_ Weights returns, but I don't know if this B is returned to get_ prunable_ Weights, hope to get help

[2021-11-09 01:22] starsky68 commented on #875
I modified the above sample code again. Self. Weight can be obtained through get_ prunable_ Weights returns, but I don't know if this B is returned to get_ prunable_ Weights, hope to get help

[2021-11-09 01:58] starsky68 commented on #875
When I use TF1, I can directly use its pruning interface apply_ Mask operates on the tensor, but the current interface seems to have changed after TF2. Such operations are no longer supported

[2021-11-10 17:52] metinsuloglu opened #881 "QAT with trainable=False does not work as expected."
**Describe the bug**

**System information**

TensorFlow version (installed from source or binary): 2.6.0

TensorFlow Model Optimization version (installed from source or binary): 0.7.0

Python version: 3.7.10

**Describe the expected behavior**
After setting `trainable=False` on layers with a quantisation wrapper applied, the weights in that layer should not change during training.

**Describe th

[2021-11-15 17:07] peri044 commented on #868
Hello @daverim, can you please suggest some pointers for me on how to fix this locally (using saved_model format)? Which files/functions to look at ? Thanks !!

[2021-11-15 19:18] ChanZou commented on #868
Hey @peri044. If your ultimate goal is to convert the model into TFLite format you can pass ConcreteFunction around. [from_concrete_functions](https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter#from_concrete_functions) of TFLiteConverter works just fine for me.

[2021-11-15 20:46] peri044 commented on #868
Hello @ChanZou My ultimate goal is to use the saved_model format (if it works) and pass it through TF2ONNX to convert it into ONNX  graph. TF2ONNX accepts saved_model format for graphs currently.

[2021-11-16 00:00] xhae commented on #881
@Xhark Can you take a look on this?

[2021-11-16 07:41] sunzhe09 opened #885 "How to use default n bit in QAT ?"
**System information**

- TensorFlow version (you are using):2.5
- Are you willing to contribute it (Yes/No):Yes

**Motivation**

What is the use case and how does it broadly benefits users? Prioritization and whether a feature is added is based on how it
helps the community and the feature's maintenance costs.

As examples:

1. Instead of, "Enable the technique for my model," "Enable this techniq

[2021-11-16 07:51] #764 closed

[2021-11-16 07:52] sunzhe09 commented on #764
I will update a new case

[2021-11-17 17:32] tensorbuffer commented on #865
@daverim When you do converter.optimizations = [tf.lite.Optimize.DEFAULT], the tflite converted is post training quantization, not QAT. Looks like tflite can't support QAT yet.

[2021-11-18 23:28] houray commented on #865
@daverim thank you for your comments.
After adding
[code]
the tflite model becomes a per channel quantized model, the conv2d_kernel min/max is a vector instead a value.

[2021-11-19 06:26] sunzhe09 commented on #885
anyone can help me？

[2021-11-20 14:32] aqibsaeed commented on #271
Any updates on this to fully support custom training loop and pruning via fit function?
@alanchiao does the example code you provided work to prune model with custom training loop?

[2021-11-21 17:32] Xhark commented on #885
We have a experimental n-bit quantization scheme here: https://github.com/tensorflow/model-optimization/tree/master/tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit

We have a plan to release an example that shows how to use this default_n_bit scheme on tensorflow official vision model. (https://github.com/tensorflow/models/tree/master/official/vision) but it

[2021-11-23 13:36] SaoirseARM opened #887 "Weight miss-match when saving a QAT model with a particular layer pattern"
**Describe the bug**

When trying to save and load InceptionV3 (see simple model which reproduces this below), there is a miss-match in the amount of weights causing the model loading to fail.

**System information**

TensorFlow version (installed from source or binary): tf-nightly

TensorFlow Model Optimization version (installed from source or binary): Installed from source

Python version: pyth

[2021-11-25 16:22] aqibsaeed opened #888 "Pruning without training"
Hi,

Is there a way to prune model without training e.g., only based on L1-norm? Thanks.

[2021-11-26 01:49] rino20 commented on #794
HI @teijeong could you take a look?

[2021-11-26 01:59] rino20 commented on #865
I guess this issue is resolved, feel free to reopen if there is any issue.

[2021-11-26 01:59] #865 closed

[2021-11-26 02:30] rino20 commented on #887
@Xhark Could you answer this?

[2021-11-26 02:44] rino20 commented on #271
Hi @aqibsaeed ,

The pruning via fit function is currently available - https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras

I think the code above from Alan is working for any custom training loop.

[2021-11-26 07:43] aqibsaeed commented on #271
Yes, it works thanks.

[2021-11-28 22:22] aqibsaeed commented on #888
@alanchiao any thoughts if it is possible ?

[2021-11-30 10:11] metinsuloglu opened #889 "Model input names are not preserved during TFLite conversion when inference_input_type is tf.int8"
**Describe the bug**
When converting a quantised model with input names to TFLite, setting `converter.inference_input_type == tf.int8` leads to different names for the inputs.

**System information**

TensorFlow version (installed from source or binary): 2.6.0

TensorFlow Model Optimization version: 0.7.0

Python version: 3.7.10

**Describe the expected behavior**
The input name should be preserve

[2021-12-02 01:55] teijeong commented on #889
I think it might be possible to use signatures instead. Assigning @abattery for confirmation.

[2021-12-02 02:01] abattery commented on #889
This problem has been fixed in the recent TensorFlow version.

[2021-12-02 05:21] teijeong commented on #794
Not sure about different first layer in 1.15 vs 2.4. For weight difference - is the left result from TF 2.4? Recent TFLite supports  per-channel quantization for conv-like ops, so that the filter would have different scale for each output dimension.

[2021-12-02 08:52] daverim commented on #888
We do have a way to apply pruning for inference latency and model evaluation only:

see https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/sparsity/keras/tools/evaluate_pruning.py

As for an accurate post-training pruning tool, we have had some thoughts based on distillation, but have not investigated it too much.

Please feel free to experiment

[2021-12-02 08:52] #888 closed

[2021-12-02 09:02] daverim commented on #859
We do have vague future plans to support "materialization" of quantized weights but not any time soon -- in the meantime, your tool looks like it is mostly working, but you will need to ensure that the output quantization is also preserved to ensure model quality. Since we don't have all the necessary functionality in TF as xhark suggested, this would only really work for weight-only quantization.

[2021-12-02 09:02] #859 closed

[2021-12-02 09:48] daverim commented on #858
Hi, this confusion is probably due to the fact that numpy/python uses round-toward-zero and c++/android uses round-away.
In your example, you probably expect `zp = 0`, but it is actually `-1`.

If you follow the logic (as well as round away from zero) you will see that the fake quant output is "correct". The nudging logic is a little bit confusing, but historically it was added to keep the zero po

[2021-12-02 09:51] daverim commented on #853
Currently, TF does not have the required kernels to run all quantized operations. So we are emulating quantization with float. In order to run this our users are generally converting to TFLite.

However, if you have custom TF kernels you would like to use on your hardware, you are welcome to create the scheme and registry required. We are working on opening up the API to allow custom quantization

[2021-12-02 11:07] metinsuloglu commented on #889
Thanks for your reply. Is there any chance you could give an example of using these signatures with TFMOT, maybe using the code I provided above? I don't really think the documentation is clear about this.

[2021-12-03 00:42] Xhark commented on #377
q_base_model is already quantized, but last line is needed to quantize outside of the q_base_model. (GAP and Dense)

[2021-12-04 14:49] yonghwan1994 commented on #732
Hello
I want structured pruning. But currently tfmot.python.core.sparsity.keras.prune.prune_low_magnitude seems to be using the unstructured pruning method.
When is structured pruning applied?

[2021-12-06 03:46] daverim commented on #889
Something like this should work:
[code]

[2021-12-06 03:47] #889 closed

[2021-12-07 10:14] Janus-Shiau commented on #426
Get same issue on TF 2.2.0, 2.7.0.

[2021-12-08 04:42] rino20 commented on #864
Hi @somum

This has been resolved in https://github.com/tensorflow/model-optimization/pull/754
Could you sync your tfmot with HEAD or nightly and re-test the code?

[2021-12-13 13:22] wellido commented on #842
Any suggestions for this problem?

[2021-12-20 14:29] duyongqi opened #901 "the API doc of prune_low_magnitude seems to be incomplete"
the API doc of prune_low_magnitude seems to be incomplete

[2021-12-21 16:09] Xhark commented on #887
It happens because of the concat operation.

We removed output quantization on input of concat op (to makes only concat output has quantization.), but due to we've added a temporal transforms before, result keras model config doesn't reflect that structure: see [default_8bit_transforms.py#L609](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/q

[2021-12-23 15:36] hunse commented on #881
I'm also encountering this problem. Part of the problem appears to be that `QuantizeWrapper` doesn't account for `self.trainable == False` in `trainable_weights` and `non_trainable_weights` (c.f. `tf.keras.layers.Layer`, which does account for this).

However, I've patched this as per below, and it still doesn't appear to stop the weights in these layers from training. Furthermore, I'm not sure ho

[2021-12-23 16:36] hunse commented on #881
I've started work on a patch here: https://github.com/hunse/model-optimization/pull/1. It works for ensuring that the layer's trainable parameters (e.g. kernel, bias) do not get trained when `trainable=False` on the layer. @metinsuloglu, it works to get your example above pretty much passing, specifically having the `trainable_weights` be empty and having the loss stay almost exactly constant.

Wh

[2021-12-24 12:03] UlionTse commented on #842
My problem in version TF2.7.

[code]

Error output:
[code]

[2021-12-24 12:22] UlionTse opened #902 "Activity Regularizer not working with `tf.function` in TF2.7"
**Describe the bug**
Activity Regularizer not working with `tf.function` in TF2.7

**Code**
[code]

**Error output**
[code]

**What difference or How to use with `tf.function`**
[code]

[2021-12-24 15:52] hunse commented on #881
OK, I've added a test to https://github.com/hunse/model-optimization/pull/1. Let me know if/when I can make a PR here (since the CONTRIBUTING.md document says not to make a PR until an issue is marked as "contributions welcome").

[2021-12-25 22:07] aqibsaeed commented on #362
Any updates on this?

[2021-12-27 12:01] ice-tong opened #903 "Learnable Scale Quantizer?"
Hi, is tfmot support or will support learnable scale quantizer such as LSQ?
Thanks!

[2021-12-28 07:53] FlamingSaint commented on #903
Hey, I am new to open source with decent knowledge in ML/DL can u point me right direction so I can start working on this issue..

[2021-12-29 10:27] mrj-taffy commented on #524
@Lotte1990  same issue for me.  did you find any workaround yet?

[2022-01-03 02:55] sngyhan commented on #903
Thanks for the feature request. We don't have a plan at this moment but contributions welcome.

[2022-01-03 02:55] #903 closed

[2022-01-03 03:15] sngyhan commented on #902
This issue is more related to tensorflow. If possible, please post this issue on tensorflow/tensorflow repo as they can resolve this issue faster. Thanks!

[2022-01-03 03:15] #902 closed

[2022-01-03 08:29] Lotte1990 commented on #524
@mrj-taffy Unfortunately not. Let's hope it will be fixed soon. Perhaps @Xhark could give an update on the situation...

[2022-01-03 16:21] rino20 commented on #901
Thanks for reporting, working on the fix.

[2022-01-06 00:56] peri044 commented on #868
Hello @daverim, any suggestions on how to resolve this would be appreciated. Thanks !!

[2022-01-06 02:04] daverim commented on #868
Hi sorry for the delay.

I just tested your sample code and it seems to be resolved now. There are some warnings about un-traced functions.

Using: tf=2.8.0-dev20210930, tfmot=tensorflow_model_optimization=0.7.0

Please try and see if it works for you.
Thanks,
David

[2022-01-07 15:23] abarajithan11 opened #911 "TFLite: Maxpool layers (ops) don't behave as intended (VGG16 example)"
**Describe the bug**
I'm exploring the behavior of operations of TFlite for custom hardware. I quantized a pretrained VGG16 (from model zoo) into int8. The scale and zero point of input and output tensors are equal for each maxpool op. Since quantization is a monotonically increasing function, I believe the output of maxpool op (int8) should be the 2x2 maxpool of the input (int8). But it is not so

[2022-01-10 12:38] dayeongl commented on #911
Hey Abarajithan, Thanks for reporting this.

What do you mean "pattern" here?
Could you show me the example for this?

Thanks!

[2022-01-11 04:09] abarajithan11 commented on #911
Thanks for responding!
From my colab (and above) code, these are the input [0,:10,:10,0] and output [0,:5,:5,0] of the maxpool op. The maxpool result I expect is max_out_custom [0,:5,:5,0], which is a 2x2 spatial maxpool as you can observe. I don't understand why the op doesn't return that.

[code]

[2022-01-12 10:28] aqibsaeed commented on #377
This works for me, may be it is useful for someone!

[code]

[code]

[2022-01-14 17:14] l-oneil opened #918 "Should the output of `Softmax` be quantized in the Default 8-bit Registry?"
**Describe the bug**
The Default 8-bit quantization registry uses the structure `_QuantizeInfo` to describe how a given layer should be quantized. Where the initialization arguments are as follows:
[code]

From what I can tell, the registry [does not appear to quantize the output of `Softmax` layers](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/

[2022-01-18 09:39] daverim commented on #918
This is a deliberate choice since the softmax min/max is always between 0 1, it can be quantized post-training. However, if quantized during training, this usually leads to very poor results since it tends to be a binary vector. We have found it better to train with float precision and quantize afterwards if required.

If you require the softmax to be quantized during training, then you can use th

[2022-01-18 09:39] #918 closed

[2022-01-18 16:28] arm-ashleybutcher opened #922 "GELU - Keras Layer"
Add support to enable QAT and PCQAT of GELU of a GELU layer or DENSE/CONV layer with GELU activation function.

[2022-01-18 17:18] metinsuloglu commented on #881
@xhae @Xhark @fredrec any updates on this?

[2022-01-19 09:02] mrj-taffy commented on #842
same problem in TF2.4.2.  any suggestion?

[2022-01-21 18:46] albertnanda opened #924 "Support for tensorflow hub layers"
**System information**

- TensorFlow version (you are using): 2.7
- Are you willing to contribute it (Yes/No): Yes

**Motivation**

Pruning and clustering both do not currently support tensorflow hub models.
Ex: ValueError: Please initialize `Cluster` with a supported layer. Layers should either be a `ClusterableLayer` instance, or should be supported by the ClusteringRegistry. You passed: <class

[2022-01-24 01:33] daverim commented on #924
Hi albertnanda@ thanks for your request -- we are currently actively researching how to support these layers. Unfortunately the hub layer is basically a wrapper for a saved model function which does not permit a search for cluster-able weights. Instead we are trying to find alternatives based on manipulating the saved model. This may take awhile.

If you inspect the model after loading and can det

[2022-01-24 01:58] daverim commented on #911
Hi @abarajithan, this confusion is caused by the fact that tflite reuses memory during execution. The discrepancy will go away if you add `experimental_preserve_all_tensors=experimental_preserve_all_tensors` to the Interpreter constructor

[code]
yields

[code]

[2022-01-24 01:58] #911 closed

[2022-01-24 10:20] abarajithan11 commented on #911
Thanks a lot! That helped a lot. Is there documentation for the exact behavior of TFlite?

[2022-01-26 00:54] peri044 commented on #868
Thanks @daverim. That works now.

[2022-01-26 16:04] abarajithan11 commented on #911
@daverim
I'm having a similar issue with the behavior of fully connected layers, even with that flag set to true. Could it be a related problem?

Colab example: https://colab.research.google.com/drive/1oD7lTTbXo434n_gZr0nN4l3sFSCvR7bA?usp=sharing

Code snippet:
[code]

Any help is much appreciated. Thanks a lot.

[2022-02-01 02:39] pinaxe1 commented on #426
@ Janus-Shiau Get same issue on TF  2.7.0. but solution proposed by @joyalbin works for me just fine.  See two line below.

 with tfmot.quantization.keras.quantize_scope():
    model = tf.keras.models.load_model('saved_model')

[2022-02-01 16:40] spoorgholi74 commented on #599
I have the same issue. Dynamic range quantization is twice faster as QAT. Any idea why?

[2022-02-04 15:29] sid1276 opened #928 "`prune_low_magnitude` can only prune an object of the following types: tf.keras.models.Sequential, tf.keras functional model, tf.keras.layers.Layer, list of tf.keras.layers.Layer. You passed an object of type: KerasTensor."
I am trying to prune espcn Superresolution model but unable to prune because of the error.

      7     inputs = keras.Input(shape=(None, None, channels))
----> 8     x =  prune.prune_low_magnitude(tf.keras.layers.Conv2D(64, 5, **conv_args)(inputs), **pruning_params)
      9     x =  prune.prune_low_magnitude(layers.Conv2D(32, 3, **conv_args)(x), **pruning_params)
     10     x =  prune.prune_low_

[2022-02-07 23:33] Xhark commented on #928
Hi, would you please try this changes?

prune.prune_low_magnitude(tf.keras.layers.Conv2D(64, 5, **conv_args)(inputs), **pruning_params)
=>
prune.prune_low_magnitude(tf.keras.layers.Conv2D(64, 5, **conv_args), **pruning_params)(inputs)

[2022-02-08 07:05] sid1276 commented on #928
Thank you so much Kim for your reply. Yeah, your suggestion has worked.

Again Thanks a lot.

[2022-02-10 09:10] sunzhe09 commented on #372
when I use QAT to training transposeconv2d，after I get the tflite，there is an tanspose layer before transposeconv2d. Is this a bug?can this   tanspose layer be folded?

[2022-02-10 09:12] sunzhe09 commented on #372
![image](https://user-images.githubusercontent.com/30410113/153374985-d99fb655-2abc-44e8-9cdf-402cccc7082f.png)

[2022-02-14 01:53] rino20 commented on #928
Thanks let us know if there is any further issue,

[2022-02-14 01:53] #928 closed

[2022-02-17 06:27] zhaoxin111 commented on #793
Hello, I have the same problem, is there any way to solve this problem?

[2022-02-24 10:20] rsanthanam-amd opened #938 "LSTMPeephole package removed: Pypi not updated"
Support for the LSTMPeephole package has been removed in response to its removal from keras.

However, the tensorflow-optimization package has not been updated in Pypi.

One of my models relies on this package and is currently broken because I am using the latest keras in tensorflow with an outdated tensorflow-optimization package.

Will Pypi be updated soon with a package containing this removal?

[2022-03-01 13:56] aserenko opened #939 "[clustering] Possible wrong call of the centroids initializer from the ClusterWeights wrapper"
An instance of the centroids initializer [expects](https://github.com/tensorflow/model-optimization/blob/v0.7.1/tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids.py#L47) to be initialized with `data_format`.
However, instead of `data_format` it gets `num_channels` here: https://github.com/tensorflow/model-optimization/blob/v0.7.1/tensorflow_model_optimization/python/c

[2022-03-03 09:41] rameshkunasi opened #940 "Not able to cluster Conv1DTranspose layer"
Hi,
**Describe the bug**
A clear and concise description of what the bug is.

Getting below error while trying to cluster the convolution layers. Is Conv1DTranspose clustering is possible or not? Can anyone suggest how to solve this.

**Please initialize Clusterwith a supported layer. Layers should either be aClusterableLayer instance, or should be supported by the ClusteringRegistry. You passed:

[2022-03-04 00:24] daverim commented on #887
This should be fixed now at head. You can use `pip install git+https://github.com/tensorflow/model-optimization.git`  to update your installations.

[2022-03-04 00:24] #887 closed

[2022-03-04 09:23] Rahn80643 opened #941 "Unsupported operations when applying tfmot"
Hi, I'm trying to apply tfmot for [an implementation of BiSeNetV2](https://github.com/VXallset/BiSeNet_V2.Tensorflow), when executing `tfmot.quantization.keras.quantize_model`, I meet errors with the following operations:

tf.reduce_mean: Layer tf.math.reduce_mean:<class 'tensorflow.python.keras.layers.core.TFOpLambda'> is not supported. You can quantize this layer by passing a `tfmot.quantization

[2022-03-08 01:15] thaink commented on #941
@Xhark Could you take a look.

[2022-03-08 01:18] thaink commented on #940
@Xhark Could you take a look.

[2022-03-11 16:09] tom-arm opened #942 "QAT support for LayerNormalization"
**System information**

- TensorFlow version (you are using): 2.8
- Are you willing to contribute it (Yes/No): Yes

**Motivation**
This would be beneficial for models that use this layer - this is for example used in Transformer models.

**Describe the feature**
Be able to run QAT on a model with the LayerNormalization layer.

**Describe how existing APIs don't satisfy your use case (optional if o

[2022-03-15 07:59] groovemaxRong opened #944 "prune_low_magnitude fail when wrapped with GRU layer, but success with conv2d and dense"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2022-03-15 08:05] groovemaxRong commented on #155
it seems subclass prune still not support in 0.7.1

[2022-03-17 09:11] gnhearx commented on #155
Good day everyone :)

I would also like to chip in to this discussion as I too have been struggling to get Nested Model Pruning to work correctly.

I couldn't help noticing that support has been added but for some reason my implementation does not seem to work.
Expected behaviour:
- Create a model that is a composition of nested models
- Define the pruning scheduling
- Clone the model layer by lay

[2022-03-17 10:23] gnhearx commented on #40
Hi everyone :)
I have a similar issue with pruning nested models, even if I apply the pruning wrappers per layer inside all the nested Functional API models, they don't prune.

Is this expected behaviour at all for nested models? Because I would think that if any layer in a model has that wrapper, then it will be pruned when the pruning callback is called in the training phase. Unfortunately, this

[2022-03-18 10:22] MounikaVaddeboina opened #950 "Unable to quantize to 4-bits"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2022-03-23 15:05] wwwind commented on #939
Hi @aserenko Thank you for the reported bug. The fix is in this PR https://github.com/tensorflow/model-optimization/pull/951

[2022-03-24 13:31] wwwind commented on #940
Hi @rameshkunasi Thank you for the reporting the problem. This PR https://github.com/tensorflow/model-optimization/pull/952 adds the requested support of Conv1DTranspose. I added  unit test based on your example - please take a look whether it works for you. Thanks

[2022-03-30 04:24] STAROFWIND commented on #570
Hi all, any updates for these questions ?
I have the same confusion that after pruning, I have the same size model and the same inference time as before pruning.
So it doesn't make sense right ? I mean pruning model is not useful ( have no advantage) or I miss something here ?
Can you tell me what can I do next with a pruned model ? like how to cut (remove) the zero-weights of the pruned model to

[2022-03-30 05:05] STAROFWIND commented on #173
I have the same issue here. After pruning, I got the same size model and the same inference time. even I convert to tflite but it can run on CPU so, the inference time is still not good. XNNPack doesn't not support my network. So, could you tell me what can I do next for improve the inference time with my pruned model ? Thank you so much !

[2022-03-30 21:09] sachinkmohan opened #955 "Unable to prune/quantize more than one type of layers at the same time"
**Describe the bug**
Unable to prune/quantize more than one type of layers at the same time

**System information**

TensorFlow version (installed from source or binary): 2.4.0

TensorFlow Model Optimization version (installed from source or binary): 0.7.2

Python version: 3.6.9

**Describe the expected behavior**
Ability to prune/quantize multiple layers like Conv2D and Dense layers at the same t

[2022-03-31 07:27] gcunhase commented on #868
@daverim I encountered the same error log for SeparableConv2D using TF 2.8.0 (no error with DepthwiseConv2D in that TF version):
[code]

Do you have any idea what caused the error in DepthwiseConv2D and if the same fix would work for SeparableConv2D?
Thank you!

[2022-04-04 10:29] STAROFWIND opened #956 "Quantize naive !!!"
Hi all,
I am working on quantization. I have a .h5 model. I want to convert the weights from float 32 to int8 or float16. It seem to be " post training quantization". How can I do that without converting to tflite ?

I tried:
import os, argparse, json, cv2
# Import necessary items from Keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation, Dropout, UpS

[2022-04-06 16:38] frytoli commented on #377
Any tips on quantizing the Pix2Pix generator? I've used [this official tutorial](https://www.tensorflow.org/tutorials/generative/pix2pix) as a guide, and have attempted the following to no avail:

[code]
[code]

[code]

This current setup gives me the error "ValueError: `model` must contain at least one layer which have been annotated with `quantize_annotate*`. There are no layers to quantize." Th

[2022-04-06 17:39] aqibsaeed commented on #377
Can you try creating your model without any quantization first? Then call: `q_model = tf.keras.models.clone_model(model, clone_function= apply_quantization)`, where `apply_quantization` should annotate every layer you want quantize with `tfmot.quantization.keras.quantize_annotate_layer`.