[2019-05-15 14:11] bhack opened #1 "Lottery ticket hypothesis"
What about the lottery ticket hypothesis  and follow-up works like large scale and Uber Supermask? Is there something reletad in the roadmap?

[2019-05-17 22:27] raziel commented on #1
Hi.
Indeed there's lost of techniques, which tend to vary on model coverage and ease of use.

Initially we're trying to provide max coverage for models, and use cases, while selecting algorithms that we have validated across models, do not require too much fine tuning, and deliver immediate benefits (e.g. compression and/or performance boost).

You can see our up to date plans at https://www.tenso

[2019-05-17 22:27] #1 closed

[2019-05-17 22:38] bhack commented on #1
I supposed you had something more to say cause internally tested in Google months ago https://github.com/google-research/lottery-ticket-hypothesis

[2019-05-21 05:45] rishab-sharma opened #2 "AttributeError: 'Conv2D' object has no attribute 'kernel' on running MNIST Keras pruning Example"
When I am trying to run the MNIST Example of keras pruning [Link](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_cnn.py), I get the following Traceback.
Tensorflow Version:
`Name: tensorflow
Version: 2.0.0a0`

Traceback
[code]

I am not using absl-py to run the main(), because I am using colab, therefore, I have

[2019-05-21 08:45] #2 closed

[2019-05-21 08:46] rishab-sharma commented on #2
Going through this, solved the issue
[code]

[2019-05-24 15:03] rishab-sharma opened #3 "ValueError: Variable <tf.Variable 'conv2d_286/kernel:0' shape=(3, 3, 3, 32) dtype=float32> has `None` for gradient. Please make sure that all of your ops have a gradient defined (i.e. are differentiable)."
I am Pruning an InceptionV3 model

So I create a end to end model
[code]
Then I prune the model by using this command

[code]

But When I try to Fit the data for training

[code]

I get the following Error:

[code]

Can Anybody please help with this, I can't seem to find a solution for this on StackOverflow or elsewhere.

Thank you

[2019-05-24 15:54] raziel commented on #3
Hi.

Does your model train if you don't include any of the pruning calls?

Just to try to understand where the problem is.

Thanks

[2019-05-24 16:10] rishab-sharma commented on #3
Yes, the model train if I don't use
[code]

[2019-05-24 16:15] rishab-sharma commented on #3
The Complete Traceback is as follows:
[code]

[2019-05-24 16:25] rishab-sharma commented on #3
Also Instead If anyone can provide a working example of pruning InceptionV3 or Resnet, It will help a lot.

Thank you

[2019-05-30 00:03] nutsiepully commented on #3
Hi Rishab,

Thanks for the bug report.

I was able to try out the code you pasted (almost the same) and it worked for me. I didn't see the error you are getting. I have a few questions.

1. Are you running this using distributed strategy, or are you running it on single device (default)?
2. The variable which throws an error in your code is conv2d_286/kernel:0. This seems a bit unlikely since when

[2019-05-30 07:41] rishab-sharma commented on #3
Yes, you are right
Some additional layers were being added, removing them solves the issue

Just, One more thing, Is low magnitude pruning of InceptionV3 possible on Google-Collab GPU Resources, Its just even when I run your/mine code there, the runtime disconnects.
Does Pruning require more resources?

[2019-05-30 07:41] #3 closed

[2019-05-30 20:10] nutsiepully commented on #3
Pruning does not require resources significantly different from training the model. It only adds a small overhead. If your resources are capable of training, they should be capable of pruning as well.

As to Google-Colab, I can't answer that. You'll have to estimate your resource requirements, and find computation resource accordingly.

[2019-06-04 20:12] ghost986 opened #4 "Pruned model doesn't work with multi-gpu"
**Feature Request:**
Pruned model isn't working with [*tensorflow.keras.utils.multi_gpu_model*](https://www.tensorflow.org/api_docs/python/tf/keras/utils/multi_gpu_model), could you add this support?

Even when [*sparsity.UpdatePruningStep()*](https://www.tensorflow.org/model_optimization/api_docs/python/tfmot/sparsity/keras/UpdatePruningStep) is added in the callbacks list, the following error is

[2019-06-05 08:28] taqikoma opened #5 "Use my own class as a layer to build model"
Thanks for your great work!
I use my own Upsample class to realize Convolutional upsample. There occurs an error:
ValueError: Unknown layer: Upsample

What should I do to deal with it? Or "model-optimization" only apply on layers written by Keras/Tensorflow?

[2019-06-05 19:07] ragatti opened #6 "Keras layer wrappers don't supported"
An current layer of Keras is not supported:
ValueError: Please initialize `Prune` with a supported layer. Layers should either be a `PrunableLayer` instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.python.keras.layers.wrappers.TimeDistributed'>

[2019-06-06 01:09] alanchiao commented on #5
Custom Keras layers are supported. See this documentation: https://www.tensorflow.org/model_optimization/guide/pruning/train_sparse_models#advanced_usage_patterns

Let me know if you have any questions!

[2019-06-06 01:11] alanchiao commented on #5
https://www.tensorflow.org/model_optimization/api_docs/python/tfmot/sparsity/keras/PrunableLayer

for the pointer to PrunableLayer. I'll update the docs to fix the broken link.

[2019-06-06 03:16] taqikoma commented on #5
@alanchiao
In the "Magnitude-based weight pruning with Keras" document. There are two ways to pruning.
One is "Build a pruned model layer by layer", the other is "Prune a whole mode".
When I use the first way:
replace
`P5 = keras.layers.Conv2D(64, kernel_size=1,strides=1,padding='same',name='C5_reduced')(C5)
P5_upsampled = layers.Upsample(name='P5_upsampled')([P5, C4])`
by
`P5=sparsity.prune_low_m

[2019-06-07 19:26] raziel commented on #6
Hi. Can you please include the snippet of code you're using to create the model?
Thanks

[2019-06-10 10:55] kuri-leo opened #7 "pruning_with_keras.ipynb issue"
Hi,

When I run [official guide](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb) in [Colab](https://colab.research.google.com/github/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb#scrollTo=X43ix4NZCDNS), the guide raised an error of "unsuppo

[2019-06-10 16:44] rhgatti commented on #6
I m sorry, the problem is associated with TimeDistributed wrapper around DepthwiseConv2D in Tensorflow >= 1.13 ([issue #29438](https://github.com/tensorflow/tensorflow/issues/29438)), i.e. tensorflow >= 1.14 is required to run tensorflow-model-optimization. Code example:
[code]
However,  the TimeDistributed layer is not supported by `sparsity.prune_low_magnitude()` when the model is changed as sho

[2019-06-10 22:03] alanchiao commented on #7
Thanks for reporting this issue.

There is a in-flight change that'll add conversion support for FusedBatchNormV3, after which the tutorial should start working again.

You're right that a stable version would be preferable. Our pruning API has dependencies on changes only introduced in TF 1.14, which is in the midst of release. Once that release finishes, we'll update everything to use 1.14 where

[2019-06-10 22:28] alanchiao commented on #7
Conversion support has been added in https://github.com/tensorflow/tensorflow/commit/ce690f73f23d63b7fc2512f262eb2e709919b84e. Things will work tomorrow (after the next nightly release). Thanks!

[2019-06-10 22:28] #7 closed

[2019-06-15 16:39] katmatus opened #11 "Support of Tensorflow 2.0"
Do you plan to support Tensorflow 2.0?

[2019-06-18 15:13] youssefsalah76 opened #12 "prune_low_magnitude retruns None"
I am trying to prune a trained model , but model is saved a model_architecture.json and weights.h5 and model is loaded as follows:
with open(modeljson) as f:
            self.model = model_from_json(f.read())
        self.model.load_weights(modelfile)

But whenever I try to prune it the output from:
 new_pruned_model = sparsity.prune_low_magnitude(model, **new_pruning_params)
is always none so it

[2019-06-23 18:45] liyunlu0618 commented on #11
Yes. We are actively working on this.

[2019-06-23 18:45] #11 closed

[2019-06-30 03:27] zhen8838 opened #28 "How to disable change the output tensor name？"
My model has multiple outputs when using model-optimization, the outputs node name has been changed like this:

[code]
how to remove the prefix 'prune_low_magnitude' ?

[2019-07-05 02:40] guotong1988 opened #29 "Does anyone try to apply this project to BERT?"
Thank you very much!

[2019-07-10 05:49] raziel commented on #29
Not that we know of. I don't believe the open source bert trainer uses Keras. It would beb nice to see somebody trying it out though.

[2019-07-11 06:14] alanchiao commented on #28
Is l1_loss the name of one of your Keras layers? We intentionally prefixed different layer names to indicate they were pruned ("prune" would seem preferable to something as long as "prune_low_magnitude" though). I can try shortening the prefix to "prune".

If it's not a layer, it is a bit unexpected (we add the prefix here: https://github.com/tensorflow/model-optimization/blob/master/tensorflow_mo

[2019-07-11 06:26] zhen8838 commented on #28
The `l1`  is layer name, when I have multiple output layer, the loss name will change to `l1_loss`.

Can you just reduce the prefix length? Thanks

my code like ：
[code]

[2019-07-17 02:53] redlibo commented on #4
same for me

[2019-07-22 08:56] zhoujungis opened #37 "AttributeError: 'NoneType' object has no attribute 'compile'"
when I use prune_model.compile, raise the error

[2019-07-22 08:59] zhoujungis commented on #12
How do you solve it? I encounter the similar problem and could you help me?

[2019-07-22 12:30] s36srini opened #38 "Block Sparsity not working for Squeezable Pointwise Convolution Layers"
ValueError: Block Sparsity can only be used for layers which have 2-dimensional weights. I checked the source code and saw this comment:
`# TODO(pulkitb): Check if squeeze operations should now be removed since we are only accepting 2-D weights.`

How is pruning going to work with pointwise convolutional layers of format 1x1xiCxoC if block sparsity is only supported for 2D tensors?

[2019-07-22 14:24] s36srini commented on #12
Make sure you're using Keras from Tensorflow-Python. Try this:
`from tensorflow.python import keras` # Important: TensorFlow-Optimization uses this version of Keras. And then `from tensorflow_model_optimization.sparsity import keras as sparsity`. Your model must be built using the right version of Keras, otherwise it will return a Null model as per their source code.

[2019-07-22 17:47] anuar12 opened #39 "Are all keras layers supported for weight pruning?"
Hi, thanks for a very convenient package!
Are the layers like LSTM, ConvLSTM2D and TimeDistributed supported for weight pruning? In the other issue, someone had a problem with TimeDistributed layer.
If they are not supported out of the box, would inheriting from PrunableLayer and implementing `get_prunable_weights()` (perhaps as return empty list) fix the issue?

Thanks!

[2019-07-23 18:12] raziel commented on #1
Update: we just did some experiments in some models (cannot share since they're internal, not open source), and in those cases the lottery ticket technique rendered worse results (5-15%) than the technique implemented in this API --actually with some small tweaks to the training script you can implement the lottery ticket principles with our existing API.

I don't like making strong statements on

[2019-07-23 18:18] bhack commented on #1
Thanks for the covered share. If you can disclose have you tried with Uber Supermask and other follow-ups or just the plain lottery?

[2019-07-23 18:39] bhack commented on #1
Just to mention some recent follow-ups:
https://arxiv.org/abs/1903.01611
https://arxiv.org/abs/1907.04840

[2019-07-25 09:16] tejalal opened #40 "Can we prune pre-trained model like VGG16 etc... using this optimization library"
I tried to create a model like:
[code]

and when I call
[code]

it generates error as:
**Please initialize `Prune` with a supported layer. Layers should either be a `PrunableLayer` instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.python.keras.engine.sequential.Sequential'>**

[2019-07-25 14:55] s36srini commented on #39
Based on the _update_mask function in pruning_impl.py, any weight tensor should be prunable as it simply sorts the weights and updates the mask based on the smallest value. Don't see why this logic should be restricted to a given layer.

[2019-07-25 15:04] s36srini commented on #40
Firstly,
include_top=False means that you are changing the input, so you'll firstly want to do this:
`model = Model(top_model.input, vgg16.output)`, this will combine the input of top_model along with the sequential layers and connect it to the input of  vgg16 (without the input layer), and have the output remain the same as vgg16.

Secondly, by pruning the whole model, you don't get to specify wh

[2019-07-25 15:12] s36srini commented on #40
I also forgot to mention, you want to initialize the sequential model as tf.keras.Sequential() not keras.Sequential()

[2019-07-27 11:49] Uberharm commented on #4
I had similar problems when I tried to cast a tensorflow.keras model to tensorflow_model_optimization.sparsity.keras
I now believe the point is to build your model immediately in tensorflow_model_optimization.sparsity.keras and maybe strip the pruning properties later with
`final_model = sparsity.strip_pruning(pruned_model)`

So I suggest you build your model like this:
`model = tf.keras.Sequentia

[2019-07-29 06:06] johnwang416 commented on #37
hello, have you solved this problem yet?

[2019-07-29 06:06] johnwang416 commented on #37
hello, have you solved this problem yet?

[2019-07-29 07:41] johnwang416 opened #46 "raise FailedPreconditionError while training model"
I encountered this error when I trained model:
tensorflow.python.framework.errors_impl.FailedPreconditionError: Error while reading resource variable prune_low_magnitude_embedding/mask from Container: localhost. This could mean that the variable was uninitialized. Not found: Resource localhost/prune_low_magnitude_embedding/mask/class tensorflow::Var does not exist.
	 [[{{node prune_low_magnitude_e

[2019-07-30 09:43] Jasperty opened #49 "can we use it for tensorflow model?"
i want to apply it for bert trained by tensorflow

[2019-07-31 20:15] alanchiao commented on #29
@haozha111 is trying this out

[2019-07-31 20:16] alanchiao commented on #39
HI Anuar,

We should be supporting all builtin-Keras layers out-of-the-box, though in the implementation, we need to add them one-by-one (see [this](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py)). Keras wrappers are a bit different, and in as you can see in the [other issue](https://github.com/tensorflow/mod

[2019-07-31 20:18] alanchiao commented on #37
Hi ZhouJun,

You'll need to provide more details (e.g. your code to reproduce this issue). This is not typical and it may be how you're using the pruning API.

[2019-07-31 20:21] alanchiao commented on #49
See this [documentation](https://www.tensorflow.org/model_optimization/guide/pruning). It currently supports the Keras API on 1.XX and the docs will be updated as we increase support.

[2019-07-31 20:21] #49 closed

[2019-07-31 20:55] alanchiao commented on #46
Thanks John for the report.

Could you fill this template? This is the template going forward for bugs. It's hard to provide you a solution with the currently available information.

**Describe the bug**
A clear and concise description of what the bug is.

**System information**
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below):
- TensorFlow Model Optimizatio

[2019-07-31 20:56] alanchiao commented on #37
Could you fill this template? This is the template going forward for bugs. It's hard to provide you a solution with the currently available information.

**Describe the bug**
A clear and concise description of what the bug is.

**System information**
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below):
- TensorFlow Model Optimization version:
- Python version:

[2019-08-01 08:45] Jasperty commented on #49
what i mean is that my code is based tensorflow, not keras, can i use this api to prune my model?

[2019-08-01 08:47] Jasperty commented on #29
how to apply this api to bert? do you train bert by keras? can we use bert trained by tensorflow?

[2019-08-01 08:51] Jasperty opened #52 "do you have the pruning api for tensorflow model?"
i use tensorflow, not keras, but i find your api is for keras

[2019-08-01 15:17] haozha111 commented on #29
The pruning API only supports keras model right now. I'm just starting to trying it out, and don't have any code examples now. Will post here once I get some good results. Thanks!

[2019-08-01 15:39] s36srini opened #53 "Channel Wise Pruning leading very poor results"
Hello, I'm updating the channel_mask method to introduce channel wise sparsity for point-wise convolution layers (MobileNet V1). I have yet to check the final weights of the model as it's still undergoing training, however the training accuracy is starting to saturate at around 35%. Can anyone let me know if I made a mistake somewhere along in my tensor manipulation?

The reason for channel-wise p

[2019-08-02 09:05] johnwang416 commented on #46
OK,thank you alanchiao~

**Describe the bug**
I encountered this error when I trained deep model:
![image](https://user-images.githubusercontent.com/23451399/62356660-2a160300-b544-11e9-941b-8723a99426d1.png)

****System information**

**TensorFlow installed from (source or binary):**pypi.org
**TensorFlow version (use command below):**v1.14.0
**TensorFlow Model Optimization version:**v0.1.1
**Pyth

[2019-08-02 11:24] johnwang416 commented on #46
when I drop arguments:callbacks in model.fit(),it raises another error:
![image](https://user-images.githubusercontent.com/23451399/62367041-2346ba80-b55b-11e9-9c10-ae6fe178f803.png)

it really makes me confused...

[2019-08-02 18:20] alanchiao commented on #52
We only explicitly target the tf.keras API (see details [here](https://www.tensorflow.org/model_optimization/guide/pruning#overview)).

If you're looking for an API for TensorFlow (in 1.X), you can use https://www.tensorflow.org/api_docs/python/tf/contrib/model_pruning/Pruning. Note that no further updates will be made to that library and contrib is going away in 2.XX.

[2019-08-02 18:20] #52 closed

[2019-08-05 11:49] iamsaksham commented on #11
@liyunlu0618 Any update on when it will be released?

[2019-08-09 18:58] s36srini commented on #53
For some reason, adding regularizers to the convolution layers when re-constructing the model with pruning layers causes the masking functionality to fail. The resultant model had no zeroes. After removing the regularizer, the pruning began to work channel-wise. Closing this issue for now.

[2019-08-09 18:58] #53 closed

[2019-08-11 08:09] Jasperty opened #67 "can model-optimization speed up model?"
not only compress the model, but also make it faster

[2019-08-11 21:40] s36srini commented on #67
With regards to pruning, it can if you induce channel-wise sparsity and then use something like keras-surgeon to actually change the structure of the network. With quantization (more of a general concept, I'm unsure as to whether this package performs true quantization vs. quantize-aware), the weights are stored as integers, so operations such as matrix multiplication will be faster.

[2019-08-21 08:49] Charlie4zc opened #78 "spasity function only work on keras sequential model/layer?"
Since i'd like to use `sparsity.keras.prune_low_magnitude` on my model and failed due to unknown reason, i was wondering whether it only work on keras sequential models?
BTW my keras model has a lot skip connections , so i can only apply on pretrained models（which it works）or sequential 'block's of my model？

[2019-08-26 12:30] guruvasuraj opened #89 "Pruning support for functional api"
Hi, Can I prune a model developed using the functional api? I got an error when I  tried to prune a model. If possible please point me to the right resources.

Thanks in advance.

[2019-08-27 16:31] mrgloom opened #91 "Unreadable Notebook"
I was unable to open `model-optimization/tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb`

Error:
`NotJSONError('Notebook does not appear to be JSON: \'{\\n "cells": [\\n {\\n "cell_typ...',)`

[2019-08-27 16:32] mrgloom commented on #91
It's also broken in colab:
https://colab.research.google.com/github/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb

[2019-08-29 20:00] blakeedwards823 commented on #12
This did not seem to work for me. What version of Keras is considered correct?

[2019-08-29 20:02] blakeedwards823 commented on #12
Did you ever find a solution to this problem?

[2019-08-29 20:15] s36srini commented on #12
You want to be using tf.keras for all sequential models. `from tensorflow.python import keras`, this effectively does the same thing, it's up to you as to whether you want to be explicit or not. What in specific isn't working for you? Are you getting a NoneType returned from the `prune_low_magnitude` wrapper?

[2019-08-29 20:18] blakeedwards823 commented on #12
`end_step = np.ceil(1.0 * num_train_samples / batch_size).astype(np.int32) * epochs
    # TODO determine how to limit this pruning to retain 90% of the network weights / size
    new_pruning_params = {
        'pruning_schedule': sparsity.PolynomialDecay(initial_sparsity=0.01,
                                                     final_sparsity=0.1,

[2019-08-29 20:27] s36srini commented on #12
Your imports look fine to me. Check the type of the model you generated: type(my_model) and lmk what the output is, it should be a tf.keras Model - it cannot be a Sequential Model, you need to convert it. This source code explains why you're getting a NoneType returned:
[code]
Take a look at: https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/spa

[2019-08-29 20:29] s36srini commented on #12
You can convert it like this:

[code]

[2019-08-29 20:33] blakeedwards823 commented on #12
I am pruning a model iteratively and performing other training/tuning in between small pruning steps. I used a custom object to hold my model but returned the sequential keras model. I now understand why it is not working. When printing the type of my model I am seeing:
"Teacher model type:  <class 'TeacherCNN.TeacherModel'>"
Do you know how I can convert this back to a keras model? I am using the

[2019-09-04 07:16] Mycaster commented on #91
it's caused by  json format error at line 122, you can fix it manually

replace the content

        "To use the pruning API, you need to install the
	`tensorflow-model-optimization` package. See
	https://github.com/tensorflow/model-optimization for what versions of
	TensorFlow the API is compatible with.\n",
with

        "To use the pruning API, you need to install the",
        "`tensorflow-mod

[2019-09-14 00:45] alanchiao commented on #89
Yes, pruning works with the functional API. The resources are at https://www.tensorflow.org/model_optimization/guide/pruning.

[2019-09-14 00:50] alanchiao commented on #12
@blakeedwards823 : it works with pruning a Sequential model. Sequential is an instance keras.Model (see these [docs](https://www.tensorflow.org/api_docs/python/tf/keras/Sequential)).

[2019-09-14 00:52] alanchiao commented on #67
See https://www.tensorflow.org/model_optimization/guide/roadmap and https://www.tensorflow.org/model_optimization/guide/pruning#overview.

Collectively, they suggest ways (e.g. quantization aware training, framework support for sparse inference) that will speed up the model going forward.

[2019-09-14 00:52] #67 closed

[2019-09-14 00:52] #89 closed

[2019-09-20 09:08] ptklx opened #108 "The quantization example , mnist_cnn.py is wrong,array softmax/Softmax, is lacking min/max data, which is necessary for quantization"
the code

2019-09-20 17:04:32.110476: I tensorflow/lite/toco/graph_transformations/graph_transformations.cc:39] Before Group bidirectional sequence lstm/rnn: 8 operators, 17 arrays (1 quantized)
2019-09-20 17:04:32.110534: F tensorflow/lite/toco/tooling_util.cc:1709] Array quantize_emulate_wrapper_3/BiasAdd, which is an input to the Softmax operator producing the output **array softmax/Softmax, is

[2019-09-20 20:12] pren1 commented on #3
For anyone who still could not solve this problem: if you are using Keras, this error might be caused by the custom loss and the model.add_loss function.

[2019-09-25 20:29] alanchiao commented on #91
This issue has been fixed. Thanks for reporting it.

[2019-09-25 20:29] #91 closed

[2019-09-25 20:31] alanchiao commented on #108
Hi Dannis,

Thanks for reporting the issue. Notably, the quantization aware training project is a work-in-progress (as you can tell from the commits and our [roadmap](https://www.tensorflow.org/model_optimization/guide/roadmap), including the example you looked at.

We'll make sure that all such examples are fixed prior to launch but closing this issue since it's intended right now (we haven't got

[2019-09-25 20:31] #108 closed

[2019-10-06 08:58] Cospel commented on #40
I'm using tf=2.0.0 library and get same error:

    ValueError: Please initialize `Prune` with a supported layer. Layers should either be a `PrunableLayer` instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.python.keras.engine.training.Model'>

My code looks like this:
[code]

[2019-10-07 22:46] datavisornicolacorradi opened #118 "Model optimization without tensorflow lite"
I'd like to optimized a pre-trained model without converting it to tensorflow lite.

I'm dealing with a variable-sized input which standard tensorflow handles fine but this function (as well as other) is not (yet?) supported by tensorflow lite. Can I just optimize the model without converting it to tf-lite?

Tensorflow lite actually seems to optimize the graph before the conversion (`_run_graph_op

[2019-10-08 09:20] konstantinARM opened #119 "[Feature request/Proposal] Clustering optimisation techniques in model optimisation techniques"
Hi guys,

I was wondering if you have any plans supporting clustering in the Model Optimization Toolkit? By clustering I mean when the weights of different operators are clustered in a way so that only a few unique weights values are used. An example can be found here https://arxiv.org/abs/1510.00149

This can reduce the storage needed for storing different networks and certain types of hardware m

[2019-10-15 20:27] alanchiao commented on #118
Hi. Can you be more specific on the kinds of optimizations you are looking for?

For instance: for the pruning technique (benefits described at https://www.tensorflow.org/model_optimization/guide/pruning), you can see [here]( https://colab.sandbox.google.com/github/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb#scrollTo=GhXHuBAG

[2019-10-16 12:44] akarmi commented on #119
Pull request #125 that implements this optimization technique.

[2019-10-21 18:49] alanchiao commented on #78
It currently works on functional models, though it'll throw an error for subclassed models.

Assigning to self since I'm working on initial subclassed model support.

[2019-10-21 19:02] alanchiao opened #131 "Make Model Optimization Project Contributor Friendly"
Master tracker issue for this.

Basic Doc for Contributors
* Pathway for recommending and contributing techniques
* Suggestions for other types of contributions.

Basic Communication Channels
* Templates for technique requests / feature requests / bugs / etc.

Infrastructure for open source
* To accept pull requests (in the same veins as TensorFlow and other project) and accredit them to contribut

[2019-10-21 19:14] alanchiao commented on #119
Thank you @konstantinARM for starting the communication and Anton (@akarmi) for going ahead and creating a pull request!
Would you both be interested in connecting and meeting to figure how we can move forward with the pull request?

@konstantinARM : with regards to your P.S., the project is early and still needs to establish these communication channels. I've created https://github.com/tensorflow

[2019-10-21 19:50] alanchiao commented on #119
My email is alanchiao@google.com. If you send me an email, I can setup a chat between us and a few others on the Model Optimization project.
We can then bring the results back to this thread and #131 for visibility.

[2019-10-22 13:31] dbrazey opened #132 "Object detection API"
Hello all,

I was wondering if your pruning tools could be used on my object detection models (SSD / Faster RCNN, ...) trained with the tensorflow object detection API.

When training, I don't use directly Keras, but I follow tutorials of the object detection API.

Thanks for your help :)

[2019-10-22 18:14] alanchiao commented on #132
There is nothing preventing integrating and experimenting with pruning with the object detection API. The object detection project internally has been mostly migrated to work with Keras (e.g. this [sample usage](https://github.com/tensorflow/models/tree/master/research/object_detection/predictors)). The said, there are probably ways we can make the integration easier.

Someone is experimenting wit

[2019-10-22 23:26] Xhark commented on #132
Hi, I'm experimenting pruning for object detection. I'll write more information on this thread when I make some progress. Thank you for your attention.

[2019-10-23 11:07] dbrazey commented on #132
Thanks for your answer.

[2019-10-23 20:41] alanchiao opened #133 "Opensource Mobilenet V1 Image Classification Training Script"
This is the script we used to produce the Mobilenet V1 Results with pruning [here](https://www.tensorflow.org/model_optimization/guide/pruning#image_classification), together with Distribution Strategies.

[2019-10-23 20:43] #39 closed

[2019-10-24 09:12] andreydung commented on #7
@alanchiao I'm wondering if there any update on this? Tried `tf-nightly-2.0` but still got the same error: `FusedBatchNormV3` and `AddV2` not supported on TFLite.

[code]

[2019-10-27 21:21] mra75x commented on #37
I think the problem here is that you defined a function with name "prune_model" and you write it as below:
`def prune_model:
      model.add()
      .......................`
and after that you want to compile it by using:
`prune_model.compile(....)`
if this was the case. the error raising maybe is because you didn't return the model after defining the 'prune_model'  function!

`def prune_model:

[2019-11-08 02:34] #37 closed

[2019-11-11 18:08] alanchiao opened #155 "Pruning: Keras subclassed model increased support"
Currently the pruning API will throw an error when a subclassed model is passed to it.

Better support is important for various cases (e.g. Object Detection, BERT examples) and issues such as [this one](https://github.com/tensorflow/model-optimization/issues/40).

We can provide minimal support for iterating through the layers of a subclassed model (and nested models) and applying pruning to all o

[2019-11-11 18:08] alanchiao commented on #40
In general, yes you can.

There are some caveats (e.g. lack of subclassed model support / nesting of models within models like in both examples (tejalal@ and Cospel@). Created https://github.com/tensorflow/model-optimization/issues/155 in light of this.

[2019-11-12 09:47] Cospel commented on #40
Thank you @alanchiao. Most of the models nowadays are models that are subclassed or nested. It will be very useful if we could prune them.

[2019-11-13 14:30] alanchiao commented on #40
@nutsiepully, @raziel for visibility

[2019-11-13 22:28] raziel commented on #40
We understand the need. The caveat is that going subclass then basically diminishes the usability of Keras abstractions we are using. Our suggestion, for now, would be to abstract some of the subclass logic into keras layers and then apply the pruning in the same manner as we currently do for the built in layers.

@nutsiepully wdyt? Do we have an example to point folks to?

[2019-11-14 17:13] faportillo commented on #133
Hi, does the prune_low_magnitude function work with the depthwise_conv2d layers in mobilenet? I can only seem to get pruning results for just the normal conv2d layer.

[2019-11-21 13:32] shartoo opened #162 "Pruned model size is bigger than unpruned?"
**Describe the bug**
A clear and concise description of what the bug is.

**System information**

TensorFlow installed from: Binary
TensorFlow version (use command below): 2.0.0
TensorFlow Model Optimization version:  0.1.3
Python version: 3.6.5

**Describe the expected behavior**

The pruned model size should be smaller than the one unpruned

**Describe the current behavior**

[code]

**Code to r

[2019-11-22 07:47] bothrasumit commented on #12
The pruned model type is <class 'NoneType'>
Hence, it does  not work with other calls such as complie or fit or evaluate.
Suggest any solution.

[2019-11-22 13:25] bothrasumit commented on #39
@alanchiao
Is pruning supported for a model with BiDirectional LSTM layer and TimeDistributed Dense Layer?

[2019-11-22 13:29] bothrasumit commented on #118
@alanchiao while trying to convert TF model into TFlite, Is pruning necessary? or we can directly convert into TFlite model?

[2019-11-25 18:20] ShravanKarthik94 opened #163 "'prune_low_magnitude' of 'keras.layers.convolutional.Conv2D' returns None"
When trying to prune the Cov2D layer in a custom network the below error is observed.
**_TypeError: 'NoneType' object is not callable_**

Below is a snippet of the code:

from tensorflow_model_optimization.sparsity import keras as sparsity
from keras.layers.convolutional import Conv2D, Conv2DTranspose

pruning_prm = {'pruning_schedule': sparsity.PolynomialDecay(initial_sparsity=0, final_sparsity=0

[2019-11-26 19:46] bhack commented on #1
Just to notify about competitor https://ai.facebook.com/blog/understanding-the-generalization-of-lottery-tickets-in-neural-networks/

[2019-11-27 11:57] bothrasumit opened #164 "After pruning the model, is model type always NoneType?"
I am trying to prune a pre-trained custom model.
After calling prune_low_magnitude, i see that the pruned_model has type "NoneType".
Is this wrong?

[2019-12-03 03:32] murdockhou opened #165 "Did not support `<class 'tensorflow.python.keras.layers.normalization_v2.BatchNormalization'>`?"
I follow the guide [here](https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras#train_the_model_for_another_four_epochs) and want to prune mine own model, and raise error like this:

`ValueError: Please initialize `Prune` with a supported layer. Layers should either be a `PrunableLayer` instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.p

[2019-12-03 12:52] bhack commented on #1
New related work:
What's Hidden in a Randomly Weighted Neural Network?https://arxiv.org/abs/1911.13299

[2019-12-03 22:29] alanchiao commented on #162
Hi @shartoo, you need to apply the [strip_pruning](https://www.tensorflow.org/model_optimization/api_docs/python/tfmot/sparsity/keras/strip_pruning) API, as suggested in the tutorial [here](https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras#strip_the_pruning_wrappers_from_the_pruned_model_before_export_for_serving).

[2019-12-03 22:55] alanchiao commented on #12
Closing this issue since Blake has found a resolution [here](https://github.com/tensorflow/model-optimization/issues/12#issuecomment-526350302).
From my guesses, Blake did something effectively like this:
[code]
  sparsity.prune(model_wrapper.model)
[code]

[2019-12-03 22:58] alanchiao opened #166 "[Pruning] Error message when tf.keras model object is not passed"
See the following issues to see the confusion the lack of an error message creates.
https://github.com/tensorflow/model-optimization/issues/12#issuecomment-561394600
https://github.com/tensorflow/model-optimization/issues/164#issue-529301659
https://github.com/tensorflow/model-optimization/issues/164#issuecomment-561816461

Until [minimal subclassed model support](https://github.com/tensorflow/mod

[2019-12-03 23:01] alanchiao commented on #164
The model return type should be an instance of tf.keras.Model, the same as the input to prune_low_magnitude.

If you update your issue to provide the information from New Issue > Bug Report, I can reproduce your issue and see what's happening.

[2019-12-04 01:38] alanchiao commented on #163
@ShravanKarthik94: the pruning API only works with tf.keras (under TensorFlow) and not the Keras library [here](https://github.com/keras-team/keras). If you're interested in using the library, please try out Keras in TensorFlow.

https://github.com/tensorflow/model-optimization/issues/166 will make this clearer in the future.

Does that address your issue?

[2019-12-04 01:40] alanchiao commented on #118
@bothrasumit : pruning is not necessary. It is a form of optimization. You can directly convert to TFLite without it.

[2019-12-04 01:41] alanchiao commented on #118
Closing since no response to my question. @datavisornicolacorradi: please reopen if you'd like to follow up .

[2019-12-04 01:41] #118 closed

[2019-12-04 01:42] alanchiao commented on #78
Closing now.

If you're interested in subclassed model support, see this [issue](https://github.com/tensorflow/model-optimization/issues/155 ).

[2019-12-04 01:42] #78 closed

[2019-12-04 06:09] ShravanKarthik94 commented on #163
@alanchiao Thank you. Yes, I did convert my model to use tf.keras layers and it works without any issues. Thanks again for your help.

[2019-12-04 06:09] #163 closed

[2019-12-04 20:04] gabrielibagon commented on #164
Hi @alanchiao, I'm experiencing the same issue with pruning a MaskRCNN model from this repository: https://github.com/matterport/Mask_RCNN/

Note the requirements for MaskRCNN: "Python 3.4, TensorFlow 1.3, Keras 2.0.8"

Judging from [this response](https://github.com/tensorflow/model-optimization/issues/12#issuecomment-526343830) from @s36srini, the issue could potentially be the Keras version, th

[2019-12-04 20:20] alanchiao commented on #164
@gabrielibagon : see the discussion in [this issue](https://github.com/tensorflow/model-optimization/issues/163). Similarly, this Mask_RCNN is not using tf.keras.

[2019-12-04 23:04] alanchiao commented on #39
@bothrasumit: not yet. See [this](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py) for currently supported layers.

[2019-12-05 08:01] bothrasumit commented on #164
Hi @alanchiao ,
The model which is passed to pruning API has type "keras.engine.training.Model" which is not tf.keras.Model.

How do I convert my model type into the required type?
I have another question, can pruning be done during training and post training ? I am trying to prune  it post training.

[2019-12-05 14:04] bothrasumit commented on #163
Hi @ShravanKarthik94 , can you please share how did you changed the model into an instance of tf.keras.Model. It would be great if you can share some sample code for the same.
Thank you.

[2019-12-05 15:18] malook665 opened #170 "hassan"
**Describe the bug**
A clear and concise description of what the bug is.

**System information**

TensorFlow installed from (source or binary):
TensorFlow version (use command below):
TensorFlow Model Optimization version:
Python version:

**Describe the expected behavior**

**Describe the current behavior**

**Code to reproduce the issue**
Provide a reproducible code that is the bare minimum nece

[2019-12-05 19:37] alanchiao commented on #164
@bothrasumit : the main question I have is: was your model built via the [Keras-team keras project](https://github.com/keras-team/keras) or the [TensorFlow Keras API](https://github.com/tensorflow/tensorflow). The pruning API is only compatible with the latter. If it's the former, I'm not aware of a way to convert it to a tf.keras model. You will need to work with whoever trained the original mode

[2019-12-05 21:01] alanchiao opened #172 "Make Pruning TF 2.X Ready"
Subsequently update https://www.tensorflow.org/model_optimization/guide/pruning to indicate compatibility.

Relevant submitted commits:
- https://github.com/tensorflow/model-optimization/commit/ff464f9771e593393479941d76cb45b81c7d2fe3
- https://github.com/tensorflow/model-optimization/commit/f13568b7bdfa8afd5e945fbc150de0a0764e14ab
- https://github.com/tensorflow/model-optimization/commit/ab961061

[2019-12-05 21:03] alanchiao commented on #165
Addressing this in PR.

Are you using TF 2.X? The library has not been fully tested with TF 2.X yet. See (this issue)[https://github.com/tensorflow/model-optimization/issues/172] to follow,

[2019-12-05 21:23] alanchiao commented on #165
Added support in [this commit](https://github.com/tensorflow/model-optimization/commit/f13568b7bdfa8afd5e945fbc150de0a0764e14ab). Note that it hasn't been release yet in the pip package and you will currently need to build the package from source until the 0.1.4 release.

[2019-12-05 22:04] alanchiao commented on #166
Completed in [this commit](https://github.com/tensorflow/model-optimization/commit/089fadbc135dc3176c6a53c3e9726a4ff865f8c5). It will not be available until version 0.1.4.

[2019-12-05 22:04] #166 closed

[2019-12-05 22:05] alanchiao commented on #170
@malook665 : did you file this accidentally?

[2019-12-05 22:30] alanchiao commented on #11
@katmatus, @iamsaksham : please follow https://github.com/tensorflow/model-optimization/issues/172

We are currently working on this, including testing on training on production models such as mobilenet.

[2019-12-06 02:36] murdockhou commented on #165
@alanchiao thanks, I'll try it.

[2019-12-06 05:53] ShravanKarthik94 commented on #163
This was my original keras model (for u-net)
https://github.com/MADHAVAN001/semantic-segmentation/blob/2255129dc5ca1c93dada871d448359333d77f625/models/unet.py

This is after converting tf.keras with prune_low_magnitude implemented.
https://github.com/MADHAVAN001/semantic-segmentation/blob/534c8b0333fb574ab4677da30f441bf94e353e22/models/unet_tf.py

[2019-12-06 06:03] bothrasumit commented on #164
Thank You @alanchiao , I was training the model with former only. I am trying with former now.
Is there any data that says that by how much percent the inference time can be reduced while using pruning API?

[2019-12-06 07:12] murdockhou commented on #165
@alanchiao Hi, after I build the package from source latest, it raises another error:
`File "/usr/local/lib/python3.6/dist-packages/tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py", line 155, in __init__
    'PruneRegistry. You passed: {input}'.format(input=layer.__class__))
ValueError: Please initialize `Prune` with a supported layer. Layers should either be a `Prunabl

[2019-12-06 07:38] slim292 commented on #131
Thank you

[2019-12-06 16:39] alanchiao opened #173 "Sparsity Runtime Integration with TF/TFLite for Latency Improvements"
As suggested [here](https://www.tensorflow.org/model_optimization/guide/pruning), model pruning currently only provides benefits in model compression/size reduction. Further framework support is necessary to provide latency improvements in TF/TFLite.

[2019-12-06 16:42] alanchiao commented on #164
@bothrasumit: as the docs suggest, the current implementation only results in model size reduction.

I created https://github.com/tensorflow/model-optimization/issues/173 as an issue that you can follow. We have achieved significant latency improvements with usage within Google and have deployed the latency improvements in products. However, I won't put out any numbers until we have something read

[2019-12-06 16:47] alanchiao commented on #165
Hi Shiwei, you'll need to share the model building code or a minimal reproducible example for me to figure out the issue. See New Issue > Bug for the kind of information that is needed.

There may be a compatibility issue with 2.X. That is something I'm actively working on and if you share a minimal reproducible example, I may be able to ensure that it works for your case.

If you are using custom

[2019-12-06 16:48] alanchiao commented on #165
Let me know if it ends up being a custom Keras layer issue. In that case, we may able to improve the error message to make easier for users like yourself in the future.

[2019-12-06 16:50] alanchiao commented on #165
@Xhark : FYI Jaehong on potential 2.X compatibility issue we should try to resolve.

[2019-12-08 11:57] dariaAlium opened #175 "version issue (Python)"
**Describe the bug**
Hello everyone, the problem with the versions in Python due to inept manipulations, as a result, I can’t install the libraries using cmd and Pycharm IDE, as well as the launch itself through Pycharm.Hello everyone, the problem with the versions in Python due to inept manipulations, as a result, I can’t install the libraries using cmd and Pycharm IDE, as well as the launch itse

[2019-12-08 19:43] markol4691 commented on #131
,<=3.4

[2019-12-08 20:15] kfurkan08 commented on #131
Thank you

[2019-12-08 20:22] markol4691 opened #176 "#175"
**Describe the bug**
A clear and concise description of what the bug is.

**System information**

TensorFlow installed from (source or binary):
TensorFlow version (use command below):
TensorFlow Model Optimization version:
Python version:

**Describe the expected behavior**

**Describe the current behavior**

**Code to reproduce the issue**
Provide a reproducible code that is the bare minimum nece

[2019-12-08 20:24] markol4691 commented on #175
To much for one day😜

[2019-12-08 20:31] markol4691 opened #177 "sample"

[2019-12-08 20:31] #177 closed

[2019-12-09 06:26] null9964 commented on #131
Thx

[2019-12-09 07:10] angkana380202 commented on #155
ok

[2019-12-09 08:52] murdockhou commented on #165
Hi, @alanchiao , here is my code:
[code]
and when I run this, raise error:
[code]

My tensorflow version: 2.0.0
tensorlfow_model_optimization version: tf-model-optimization-nightly-0.1.3.dev20191209

[2019-12-09 13:56] Xhark commented on #165
If you use keras layers version of multiply, sigmoid, expand_dims (reshape), then it'll works.
Here is some modified code, please verify this code is working as you expected.

[code]

I'm not so sure this model also works well with your saved model.

[2019-12-09 17:38] #176 closed

[2019-12-09 17:39] #170 closed

[2019-12-10 02:52] murdockhou commented on #165
@alanchiao it works and load my saved model successfully too. But the result of this model have a little bit difference compare with original model. Anyway, thanks for your help again.

[2019-12-11 19:21] alanchiao commented on #162
Closing since the suggestion should fix your problem.

[2019-12-11 19:21] #162 closed

[2019-12-12 03:08] murdockhou commented on #165
@alanchiao I have optimize model for 5 epochs, and the params I used is this:
[code]
After I finish this, the pruning model saved and convert it to .pb file to test inference time, but the time cost is as same as the non-pruning original model, so, what's happend in prunning func? Thanks~

[2019-12-12 18:49] alanchiao commented on #165
The latency should be equivalent, as described here https://www.tensorflow.org/model_optimization/guide/pruning#overview.

If you follow https://github.com/tensorflow/model-optimization/issues/173, you can see when framework support will be released, resulting in latency improvements.

[2019-12-12 18:49] #165 closed

[2019-12-13 12:21] bothrasumit commented on #164
@alanchiao Thank you for the update.
I am able to prune the model now.

[2019-12-13 12:22] bothrasumit commented on #164
@alanchiao
Usually, Is there any difference in training time while pruning?

[2019-12-13 17:07] alanchiao commented on #164
There is some training time difference, though it should vary depending on the model type (less so for conv due to smaller weight to activation ratio and more for LSTMs).

[2019-12-13 17:07] #164 closed

[2019-12-16 01:38] #12 closed

[2019-12-16 09:27] mpariente commented on #108
As there has been a new commit to the mentionned file since then, is this supposed to be fixed?
I don't get the same error message but pretty close.
Any news?

Thanks

[2019-12-16 19:00] alanchiao commented on #108
@mpariente : the training-time quantization library is not intended for usage yet.

You can try Dannis' fix in the meantime, but there is no guarantee that another change will not cause a breakage as we focus on the making the library ready.

[2019-12-16 20:10] mpariente commented on #108
Ok, good to know.
Thanks for you answer !

[2019-12-17 20:24] alanchiao commented on #172
This is considered complete now and will be released in 0.4.0. We are still doing some additional model training (e.g. mobilenet converges to right accuracy) to validate, but there is high confidence that it's ready for use.

[2019-12-17 20:24] #172 closed

[2019-12-18 04:10] alanchiao commented on #11
@katmatus, @iamsaksham : support has now been added and released.

[2019-12-18 22:30] lgeiger commented on #11
That's great! Though it looks like this only holds for the pruning API, or am I missing something? Do you have an estimated timeline for quantization aware training support for TF 2.x to share?

[2019-12-18 22:35] alanchiao commented on #11
@lgeiger : we're still actively working on quantization aware training support for TF 2.x via Keras APIs (when launched, there will be a release and the docs [here](https://www.tensorflow.org/model_optimization/guide/quantization) will be updated). Timeline wise it's hard to say still but hopefully within a month or two of next year.

[2019-12-18 22:43] lgeiger commented on #11
@alanchia Thanks for the update :+1:

[2019-12-20 03:53] jusonn opened #199 "What is the difference between tf-mot and tensorrt?"
Now I am considering model optimization with tf2.0 model.

And there is tfmot, which is pretty new but made by tf itself. Also, there is tensorrt made by nvidia.

I wonder what is the difference between them and why TF team started to make this project.

[2019-12-20 19:54] alanchiao commented on #199
I'll give some initial thoughts and added Raziel to comment officially.

First off, the notion of model optimization is not new and has been around for quite a while. Quantization, for instance, has existed in TF for years, but the most recent launches / libraries are more robust, have wider model coverage, and have different ways to use that are easier. Some libraries that were previously in tf.c

[2019-12-26 18:59] alanchiao commented on #175
This seems like an issue that isn't tied to the Model Optimization library itself. If that's not the case, please add additional information that would suggest otherwise.

Closing due to the above. Please reopen otherwise and I suggest you go to stackoverflow if it's not tied to Model Optimization.

[2019-12-26 18:59] #175 closed

[2019-12-26 19:01] alanchiao commented on #4
As suggested, this has been deprecated in favor of tf.distribute, which we support (see our [compatibility matrix](https://www.tensorflow.org/model_optimization/guide/pruning#api_compatibility_matrix)).

Closing and please feel free to file issues regarding tf.distribute usage with mot.

[2019-12-26 19:01] #4 closed

[2019-12-30 19:11] tf-mot-copybara opened #205 "Pruning: Checkpointed Models Not Guaranteed to be Sparse"
While models on final export are sparse and pruning handles checkpointing correctly in general, upon
inspection, the weights of a checkpoint are not sparse themselves.

Theory
-------------------------------
We sparsify the weights on two occasions: the UpdatePruningStep callback on epoch end and the call to  self.layer.add_update(self.pruning_obj.weight_mask_op()) under the Pruning Wrapper. The d

[2019-12-30 19:12] tf-mot-copybara commented on #205
Created with wrong account. Recreating.

[2019-12-30 19:12] #205 closed

[2019-12-30 19:14] alanchiao opened #206 "Pruning: Checkpointed Models Not Guaranteed To Be Sparse"
While models on final export are sparse and pruning handles checkpointing correctly, in general, upon
inspection, the weights of a checkpoint are not sparse themselves.

Theory
-------------------------------
We sparsify the weights on two occasions: the UpdatePruningStep callback on epoch end and the call to  self.layer.add_update(self.pruning_obj.weight_mask_op()) under the Pruning Wrapper. The

[2020-01-02 22:41] nicobargit commented on #132
@alanchiao any updates?

[2020-01-02 23:01] alanchiao commented on #133
A late update that instead of opensourcing it under this Github repo, we'll be integrating with TensorFlow Official Models. We'll update when it's ready to look at and use.

[2020-01-02 23:03] alanchiao commented on #132
@Xhark has been continuing to run the experiments. We'll give an update when we see clear good or bad signs. He has been working on other efforts at the same time (e.g. #133).

If getting object detection models with smaller storage space usage is a need of yours (see #173 for considerations), please do feel free to get started.

There are ongoing efforts that will make it easier (#155, #133) as t

[2020-01-02 23:44] alanchiao commented on #133
@faportillo : pruning supports the depthwise_conv2d layers, but doesn't actually prune them by default (see https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py#L44).

In the future, for a feature request like this, please make comments only regarding the progress / scope / needs. A question on how pruning handles m

[2020-01-07 22:49] alanchiao opened #211 "Deprecation of Python 2"
See https://python3statement.org/ and other related sites.

Internally, we currently run most unit tests on both Python 2 and 3. We will eventually turn down Python 2 support, with a target release version here to be posted here.

Update the API compatibility docs once this is done.

[2020-01-08 00:28] alanchiao commented on #119
@akarmi : In literature (blog post or paper), do you know of any that only apply clustering?

[2020-01-08 13:32] MohamedNourArm commented on #119
Hi Alan,

The concept of weight sharing has been mentioned in the literature for a while (since it was quite clear early on that there are redundant weights) but has not been applied explicitly for compression or acceleration before the paper we are using (https://arxiv.org/abs/1510.00149), as part of the optimization pipeline.

"Soft weight sharing (clustering)" where instead of discrete cluster

[2020-01-09 19:56] alanchiao commented on #211
@nutsiepully, @PraChetit FYI.

[2020-01-13 04:55] alanchiao opened #215 "Pruning: Training with Near 100% Target Sparsity Fails"
**Describe the bug**
Pruning with high target sparsity (e.g. 0.99) causes a error.

**System information**

TensorFlow installed from (source or binary):

TensorFlow version: any

TensorFlow Model Optimization version: 0.2.1

Python version: any

**Describe the expected behavior**
Target sparsity of 0.99 should work.

**Describe the current behavior**
Training errors out with something like:

Inva

[2020-01-13 06:05] alanchiao commented on #199
Going to close since it's been a bit. @jusonn: if you have followup on my point. Feel free to reopen.

[2020-01-13 06:05] #199 closed

[2020-01-17 00:30] jkparuchuri opened #224 "Pruning not working for tf.keras.Batchnorm"
**Describe the bug**
ValueError: Please initialize `Prune` with a supported layer. Layers should either be a `PrunableLayer` instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.python.keras.layers.normalization.BatchNormalization'>

**System information**

TensorFlow installed from (source or binary): binary

TensorFlow version: 2.1.0

TensorFlow Model Optimizatio

[2020-01-17 00:42] alanchiao commented on #224
@jkparuchuri : how are your creating your batchnorm layer? In 2.1.0, the batchnorm layer class should be tensorflow.python.keras.layers.normalization_v2.BatchNormalization if you are using tf.keras.layers.BatchNormalization.

[2020-01-17 00:59] alanchiao commented on #224
Making a documentation update in https://github.com/tensorflow/model-optimization/pull/225.

[2020-01-17 02:34] jkparuchuri commented on #224
@alanchiao  Building from source not working on my mac

ITs giving error ERROR: no such target '//tensorflow_model_optimization:pip_pkg': target 'pip_pkg' not declared in package 'tensorflow_model_optimization' defined by /Users/jith/june/git/model-optimization/tensorflow_model_optimization/BUILD.
INFO: Elapsed time: 0.083s

[2020-01-17 02:45] alanchiao commented on #224
Can you cd out of tensorflow_model_optimization into the model-optimization folder? Then run the same command.

I realized that the `cd tensorflow_model_optimization` instruction is incorrect. Should say `cd model_optimization`.

[2020-01-17 03:00] jkparuchuri commented on #224
@alanchiao  Tried that but its giving different errors

ERROR: /Users/jith/june/git/model-optimization/tensorflow_model_optimization/python/core/clustering/keras/BUILD:63:1: //tensorflow_model_optimization/python/core/clustering/keras:cluster_test: no such attribute 'python_version' in 'py_test' rule.
ERROR: /Users/jith/june/git/model-optimization/tensorflow_model_optimization/python/core/clusteri

[2020-01-17 21:12] alanchiao commented on #224
python_version is available in bazel since 0.22.0 (see https://docs.bazel.build/versions/0.22.0/be/python.html). Do you think you'd be able to upgrade your version of bazel? I'll need to take a look at the TFMOT docs and clarify the minimum bazel version also.

[2020-01-17 21:39] jkparuchuri commented on #224
@alanchiao  Thankyou, upgrading bazel resolved the building from source. But still see the same error :(

'PruneRegistry. You passed: {input}'.format(input=layer.__class__))
ValueError: Please initialize `Prune` with a supported layer. Layers should either be a `PrunableLayer` instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.python.keras.layers.normalization.Ba

[2020-01-17 21:45] alanchiao commented on #224
I'd make sure that the tensorflow_model_optimization you're using is the one built from https://github.com/tensorflow/model-optimization#installing-from-source with your change as opposed to the one you previously installed that MOT provided. I'm pretty confident what I suggested was correct.

[2020-01-19 00:46] jkparuchuri commented on #224
@alanchiao  Able to resolve the issue.  Its "tf.compat.v1.keras.layers.BatchNormalization: []". keras was missing earlier.

[2020-01-19 19:30] #224 closed

[2020-01-21 02:54] alanchiao commented on #40
Closing this issue since #155 was created. Will update this thread once #155 is fixed and we'll have almost complete coverage at that point.

[2020-01-21 02:54] #40 closed

[2020-01-21 15:13] nutsiepully commented on #40
Sorry, I seem to have missed this issue.

For now as @raziel suggested, the best approach is to apply pruning on a per-layer basis. You can choose the layers most important to you and just prune them. For parts of your model that are purely custom, you can use the `PrunableLayer` abstraction to control them.

Adding support for nested models is something we may consider in the future. Subclass mod

[2020-01-30 16:06] jusonn opened #236 "Does TF-MOT quantization will keep use tfLiteConverter?"
I just noticed that quantization guide in tf-mot is using tfLite Converter.
Then, will TF-MOT library will partially use TF-Lite?

[2020-02-02 23:49] alanchiao commented on #236
Hi @jusonn

In general, TFMOT is working to make our tools backend-agnostic (meaning support TensorFlow, TFLite, and other ones also).

We will be launching a tool for quantization-aware training soon. TensorRT mentions its predecessor, contrib.quantize, in its [docs](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#quantization-nodes).

[2020-02-02 23:51] alanchiao commented on #236
For a while, the post-training quantization tools will be available only through TFLite. Again, we working to generalize it.

Closing and feel free to reopen and if you don't think your question is fully answered.

[2020-02-02 23:51] #236 closed

[2020-02-06 18:10] jiayiliu commented on #40
Thank you @s36srini for sharing the code.  It works well for MobileNet, but it fails for MobileNetV2.  Because we cannot `model.add()` easily as `A merge layer should be called on a list of inputs.`.

[2020-02-11 17:35] alanchiao commented on #211
It's notable that TensorFlow 2.1.0 is the last release of TF that supports Python 2 (see [here](https://github.com/tensorflow/tensorflow/releases/tag/v2.1.0)). In other words, the Keras Quantization API (which relies on a version > 2.1.0) will not be able to support Python 2 off-the-bat. For the Keras pruning API, we have to determine when to deprecate Python 2 support.

[2020-02-11 18:38] nutsiepully commented on #211
I think Python2 code will be able to link with Python3 code just fine. So even if our code is in python2, and running on TF with python3, it should just work. I agree we should deprecate it over time, just that I don't think having unit tests for both 2 and 3 shouldn't cause any concerns in the meanwhile.

[2020-02-26 09:58] digitalheir opened #270 "Pruning fails for siamese networks"
**Describe the bug**
Follow along with [MNIST siamese](https://keras.io/examples/mnist_siamese/), where one set of weights is used twice in the same network. Try to make one layer prune, get error: `tensorflow.python.framework.errors_impl.InvalidArgumentError: assertion failed: [Prune() wrapper requires the UpdatePruningStep callback to be provided during training. Please add it as a callback to y

[2020-02-26 23:55] alanchiao commented on #270
@liyunlu0618 : do you have time to look into this now? Otherwise, I'll get back to this in 2 - 3 weeks.

[2020-02-27 01:23] alanchiao commented on #5
Hi. I took a look at your code snippet. I'll be updating our docs to make the functional model use case clearer.

It should be:
sparsity.prune_low_magnitude( keras.layers.Conv2D(64,kernel_size=1,strides=1,padding='same',name='C5_pruneded'), **pruning_params)(C5)

instead of:
sparsity.prune_low_magnitude( keras.layers.Conv2D(64,kernel_size=1,strides=1,padding='same',name='C5_pruneded'(C5), **prunin

[2020-02-27 02:24] alanchiao opened #271 "Pruning: improve custom training loop API"
The recommended path for pruning with a custom training loop is not as simple as it could be.

[code]

The set_model and pruned_model.optimizer setting is unusual and could be missed.

[2020-02-27 06:02] alanchiao commented on #5
Closing now. If this doesn't fix your issue, please reopen this issue. Thanks!

[2020-02-27 06:02] #5 closed

[2020-02-28 22:19] alanchiao commented on #270
@digitalheir : will not be able to get to this right now. If this blocks you (and you're not able to make use of pruning in other ways), please let us know.

[2020-02-29 09:37] digitalheir commented on #270
That's fine. Pruning is not a blocking issue for me. I wanted to optimize my model for mobile and got good results too with just quantization. Thanks for the swift response!

[2020-03-10 21:15] kmkolasinski opened #292 "Quantization: Several issues with quantize_model function"
**Describe the bug**

Hi, I'm aware of WIP on this project. I had several issues with quantize_model function.
See my code examples below.

**System information**

TensorFlow installed from (source or binary): binary

TensorFlow version: 2.2.0-dev20200310

I use CPU version:
[code]

TensorFlow Model Optimization version: 0.3.0.dev3

Python version: 3.7.0

**Describe the expected behavior**

I can

[2020-03-15 08:40] CristXu opened #295 "The example does not work, got a error: 'QuantizeAwareActivation' object has no attribute '__name__'"
Hi,
    After run the code to save the model, it complaints that: 'QuantizeAwareActivation' object has no attribute '__name__'; So I add a self.__name__ = ‘’ to the line 107 of quantize_aware_activation.py and i can save the model.  But i think this is not a legal way to solve the issue.
  and My env is : tensorflow-gpu == 1.14.0 and the tensorflow_model_optimazation == 0.2.1 compiled from the new

[2020-03-15 09:04] CristXu opened #296 "Another error when covert the model to tflite: Unknown activation function:"
tf.keras.models.save_model(model, model_name, include_optimizer=False)
# Convert to TFLite model.
with quantize.quantize_scope():
  converter = tf.lite.TFLiteConverter.from_keras_model_file(
      model_name)

[2020-03-17 11:45] aa12356jm opened #300 "run quantize mnist_cnn.py errors"
**Describe the bug**
A clear and concise description of what the bug is.

**System information** ubuntu18,04

TensorFlow installed from (source or binary):binary

TensorFlow version:tf-nightly 2.2.0-dev20200316

TensorFlow Model Optimization version:tf-model-optimization-nightly-0.2.1.dev20200317

Python version:3.7

**Describe the expected behavior**
get the correct tflite quant model

**Describe

[2020-03-18 02:05] CristXu commented on #300
Hi，
     I think that your tf version is not compatible with the example's, the needed version is tf 1.14.0; you use
      converter = tf.lite.TFLiteConverter.from_keras_model(keras_file)
    to load the keras_models, but the from_keras_model need a keras_model file, not the model-path,
you need to use **from_keras_model_file** insead

[2020-03-18 08:15] aa12356jm commented on #300
the example is  not compatible with tf2.x ?  i dont read that the example is just for tf 1.14.0, where is the declare?

[2020-03-18 08:24] CristXu commented on #300
Chinese ok？
我从他使用的api推断的，因为他使用的是tf.lite.TFLiteConvert.from_keras_model_file, 这个是tf1.14的API，tf 2.0没有这个了，而且，你会发现如果切换tf2.0运行还会报错，还需要添加tf.enable_eager_execution() 这个也是tf.1.14中的

[2020-03-18 08:27] CristXu commented on #300
Hi，
     我觉得你也是中国人，咱们可以中文交流。。。。我回复你了，我通过他的api和一系列的报错推断的

From: aa12356jm <notifications@github.com>
Sent: 2020年3月18日 16:15
To: tensorflow/model-optimization <model-optimization@noreply.github.com>
Cc: Crist Xu <crist.xu@nxp.com>; Comment <comment@noreply.github.com>
Subject: [EXT] Re: [tensorflow/model-optimization] run quantize mnist_cnn.py errors (#300)

Caution: EXT Email

Hi，
I think that your

[2020-03-18 09:22] aa12356jm commented on #300
你用tf.1.14.0可以得到量化后的tflite文件吗？我用tf1.14.0训练后转换tflite也会有问题

[2020-03-18 15:12] CristXu commented on #300
不可以啊，，，，我提了两个issue，一个是模型无法加载，一个是模型无法转化； 您可以看我提的前两个；我后来用了tf.compat.v2， 可以转出来，但是仿佛结果不对，因为我发现relu层转出的结果竟然不是大于0，我觉得他那套脚本有问题，等待官方解答吧

From: aa12356jm <notifications@github.com>
Sent: 2020年3月18日 17:23
To: tensorflow/model-optimization <model-optimization@noreply.github.com>
Cc: Crist Xu <crist.xu@nxp.com>; Comment <comment@noreply.github.com>
Subject: [EXT] Re: [tensorflow/model-optimization] run quanti

[2020-03-18 19:07] alanchiao opened #305 "Move TFMOT Library Code Off Private APIs"
TFMOT currently has dependencies on TF and tf.keras private APIs. This is a focused effort to completely move off of them. We don't want TFMOT releases to stop working with newer TF releases.

For pruning and quantization, I've previously removed all (or nearly all) private APIs we use that we know how to fix without guidance from TF / tf.keras. Below, I'll put together a list of the ones that rem

[2020-03-18 19:10] alanchiao commented on #305
FYI @akarmi, @arovir01 for weight clustering, in combination with https://github.com/tensorflow/model-optimization/issues/172

[2020-03-19 01:09] aa12356jm commented on #300
thanks

[2020-03-19 01:09] #300 closed

[2020-03-19 20:16] alanchiao commented on #296
Please follow the bug template and as a part of it, provide a fully reproducible example (including a model).

[2020-03-19 20:18] alanchiao commented on #295
Please follow the bug template and as a part of it, provide a fully reproducible example (including a model).

It's not specific enough to know which "example" you are referring to.

1.14.0 will also not be supported at launch. Only 2.0+

[2020-03-20 01:12] #296 closed

[2020-03-20 01:12] #295 closed

[2020-03-20 01:22] alanchiao commented on #300
Hey! We'll be sure to fix the example after. mnist_cnn.py is out of date right now.

The quantized_input_stats API is deprecated and our new Keras tools currently only support TF 2.X+.

[2020-03-20 01:25] CristXu opened #308 "Some errors on running the example: https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/examples/quantization/keras/mnist_cnn.py"
**Describe the bug**
1. After run the code to save the model, it complaints that: 'QuantizeAwareActivation' object has no attribute '__name__'; So I add a self.name = ‘’ to the line 107 of quantize_aware_activation.py and i can save the model. But i think this is not a legal way to solve the issue.

2. Another error when covert the model to tflite with below code: Unknown activation function:
   w

[2020-03-20 01:30] CristXu commented on #300
Hi,
       thanks very much for your help， and I have re-edited my issue on github just a moment ago.

From: alanchiao <notifications@github.com>
Sent: 2020年3月20日 9:22
To: tensorflow/model-optimization <model-optimization@noreply.github.com>
Cc: Crist Xu <crist.xu@nxp.com>; Comment <comment@noreply.github.com>
Subject: [EXT] Re: [tensorflow/model-optimization] run quantize mnist_cnn.py errors (#30

[2020-03-20 07:41] akarmi commented on #305
Thanks. We will check clustering for such issues.

[2020-03-20 19:24] kmkolasinski opened #309 "Quantization: QuantizeModelsTest.testModelEndToEnd() function does not check the correctness of quantization process"
**Describe the bug**

Hi, I'm trying to understand  the model optimization API and create quantized version of
the MobileNetV2 model for my side project (a small library for training custom detection models for mobile).  However,  I'm struggling to get any positive results using this library compared to old approach when I was using `converter.representative_dataset` for model conversion.

I found

[2020-03-22 07:53] kmkolasinski commented on #309
Hi, some additional feedback and questions from my side. You are using MovingAverageQuantizer for quantizing activations with `ema_decay=0.999`, which means that I need to finetune my quantized model for more than few thousands steps until `ema` converge.
My question is, should I wait until ema converges or this is not necessary ? Let say, my quantized Keras model has 90% accuracy on evaluation da

[2020-03-23 22:32] alanchiao commented on #300
@CristXu :

Could you provide instructions to reproduce (all the way to printing out the ReLU layer output in TFLite)?

[2020-03-24 01:31] CristXu commented on #300
Hi，
       The test.py is my test code for quant-aware training with a cifar10 dataset. The quantized.tflite is the quantized model in tflite format, the cifar10_ds3.h5 is the raw keras model.
       By the way, 您能看懂中文？

Regards
From: alanchiao <notifications@github.com>
Sent: 2020年3月24日 6:33
To: tensorflow/model-optimization <model-optimization@noreply.github.com>
Cc: Crist Xu <crist.xu@nxp.com>;

[2020-03-24 03:32] alanchiao commented on #300
@CristXu : I don't have access to the files you mentioned. It could be that since you are not replying by email, the files aren't being attached.

I can understand Chinese but it's best to communicate in English here because a lot of the developers cannot understand Chinese. Thanks!

[2020-03-24 03:33] alanchiao commented on #300
Edit: you are not replying by email -> you are replying by email

[2020-03-24 03:38] CristXu commented on #300
Hi，
       Ok，I have attached a *.zip to the github

Regards

From: alanchiao <notifications@github.com>
Sent: 2020年3月24日 11:33
To: tensorflow/model-optimization <model-optimization@noreply.github.com>
Cc: Crist Xu <crist.xu@nxp.com>; Mention <mention@noreply.github.com>
Subject: [EXT] Re: [tensorflow/model-optimization] run quantize mnist_cnn.py errors (#300)

Caution: EXT Email

@CristXu<https:/

[2020-03-24 05:07] alanchiao commented on #300
I see the files.

Is this the first ReLU layer from test.py? How did you print the output of the layer in TFLite? I ask both to reproduce and because the printing logic may not have been correct.

[2020-03-24 05:26] CristXu commented on #300
For the first question: Yes, it is the first relu layer, and you can also see that all the output of the relu layer inside the model are not bigger than 0.
The second: Sorry, I do not know how to print the output of the layer in TFLite. I often use the netron-tool to see the inside of the model(the weights or the output scale) instead, not with an API. And by the way, I only know how to print the

[2020-03-24 05:53] alanchiao commented on #300
Got it, so you are seeing the values via netron. We're almost there. I can run the model on netron myself, but I want to make sure I understand what -0.599 and 0.599 came from.

Are they the values of the FakeQuant min/max values? Or the actual outputs themselves?

If you can share a screenshot/image of netron showing -0.599 to 0.599, then I have everything needed to reproduce and fix the issue if

[2020-03-24 05:59] CristXu commented on #300
Sorry, the -0.599 and 0.599 are just an example(a rounding value, the true value is -5.988006114959717 ≤ q ≤ 5.989650249481201), Wait a moment, I will take a screenshot to you

From: alanchiao <notifications@github.com>
Sent: 2020年3月24日 13:54
To: tensorflow/model-optimization <model-optimization@noreply.github.com>
Cc: Crist Xu <crist.xu@nxp.com>; Mention <mention@noreply.github.com>
Subject: [EXT

[2020-03-24 19:09] alanchiao commented on #300
Thanks Crist for the images.

I tried the Netron tool and got the same thing as you.

The -0.599 and 0.599 are in fact the min/max values and not the outputs of the ReLU layer. We are not passing any inputs to the model, so Netron isn't executing anything on TFLite and producing actual outputs.

When you actually run the model as a quantized one, you'll find that the output of ReLU to still be gre

[2020-03-24 19:10] alanchiao commented on #300
That said, the FakeQuant min value should ideally never be below 0 still for ReLU. It is right now since we've initialized the min value to be -6. I am working on a PR that will initialize the min value more intelligently, but even without it, you can get good results (we've checked on mobilenet v1/v2 and resnet).

[2020-03-25 01:31] CristXu commented on #300
Thank you very much, But honestly, it really confused me a lot before… now I know why this happen, thanks.
And I have another issue has updated below https://github.com/tensorflow/model-optimization/issues/308
The main issue is that: I can not use a tf.v1’s API to load a quantized model, and I need to
Modify a source code of the tensorflow-optimization project which way I think is a tricky way…

A

[2020-03-27 02:03] kalaluthien opened #316 "Failed to convert quantization-aware trained MNIST model in examples because of `FAKE_QUANT`"
**Describe the bug**
TFLite Converter cannot _post-training quantize_ mnist model that is _quantization-aware trained_.

**System information**

TensorFlow installed from (source or binary): binary ($ pip install tensorflow-gpu)

TensorFlow version: 2.1.0

TensorFlow Model Optimization version: master (built from source)

Python version: 3.7

**Describe the expected behavior**
Convert quantization

[2020-03-27 02:07] kalaluthien commented on #316
If there are supported combinations of TF2.x and TFMOT, rough timelines to handle this problem, or anything I can help, let me know : )

[2020-03-27 02:27] sdukaka commented on #316
I reproduced the same error, too. Is there some methods to solve it?

[2020-03-27 02:35] kalaluthien opened #317 "Weight name conflicts when keras model consists of subclassed layer"
**Describe the bug**
Weight name duplication issues when using subclassed keras layer with many ops. For instance, a custom layer with 1Conv+1Dense. (no custom kernel)

**System information**

TensorFlow installed from (source or binary): binary (pip install tensorflow-gpu)

TensorFlow version: 2.1.0

TensorFlow Model Optimization version: master (built from source)

Python version: 3.7

**Describ

[2020-03-30 19:35] sujoyrc commented on #173
When do you think this will be included in tensorflow / TFLite release ? Is there a targeted timeline ? We are planning to do an internal development if this is not expected within this year (2020) based on this.

[2020-03-30 20:02] raziel commented on #173
Hi.
We're expecting a Q2/Q3 release date, though full TFLite kernel support will be an ongoing process after that (i.e. not all TFLite kernels will have sparse execution support).

Also, we're hoping the current working-from-home situation won't affect things further.

Thanks

[2020-03-31 02:34] kalaluthien commented on #316
@sdukaka I think found a bypass: to target_spec feed OpsSet builtins too.

Before:
[code]
After:
[code]

[2020-03-31 11:33] sujoyrc commented on #173
Thank you

[2020-04-02 02:51] nutsiepully commented on #316
Hi @kalaluthien,

Thanks a lot for the detailed feedback.

Yes, conversion for QAT models currently only works with `experimental_new_converter = True`. You can follow the conversion in this [utils.py](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/quantization/keras/utils.py) script.

Also, for QAT conversion, please use `tf-nightly` instead

[2020-04-02 02:51] #316 closed

[2020-04-02 08:13] nutsiepully commented on #317
Hi @kalaluthien,

Thanks a lot for the detailed report. This is very helpful in reproducing the issue.

The removal of layer name from weights was done since new weights get created with augmented layer names (dense_2 instead of dense_1). This causes the weight names to not match when storing the values after graph transformations. However, you rightly point out, that this fails in cases where a l

[2020-04-02 09:48] psunn opened #332 "TEST failures"
**Describe the bug**
current on python/core tests, 15 of them are failed

15 failed tests:

1. //tensorflow_model_optimization/python/core/internal/tensor_encoding/core:core_encoder_test
2. //tensorflow_model_optimization/python/core/internal/tensor_encoding/core:encoding_stage_test
3. //tensorflow_model_optimization/python/core/internal/tensor_encoding/core:gather_encoder_test
4. //tensorflow_mod

[2020-04-03 01:01] nutsiepully commented on #309
Hi @kmkolasinski,

Once you apply quantization to a model during training, the accuracy drops heavily in the beginning, but it will recover quite quickly after that if you are starting with pre-trained weights. And yes, part of the reason the drop is so huge is the EMA convergence.

The starting min/max ranges are chosen conservatively as -6, 6. That's a pretty wide range, and may lead to very hig

[2020-04-03 05:57] kmkolasinski commented on #309
Hi, thank you for the detailed answer. I see the gap between TF and TFLite models in my library. I will try to make a colab notebook which shows exactly what I do.  I can confirm that after training quantized models a bit longer than previously I managed to reduce the gap, but still it is quite visible. I wonder how this can be related to the fact that I'm training detection models, where I need t

[2020-04-03 12:32] akarmi commented on #332
@alanchiao, we have been getting test failures in MOT for a couple of days, is it expected?

[2020-04-03 16:36] alanchiao commented on #332
@PraChetit for visibility on tensor encoding ones.

Generally there should not be test issues. The main issue is that we don't have CI testing right now to ensure the techniques work with the relevant TF versions that they should support (e.g. pruning: 1.14.0+, 2.0.0+ and quantization: nightly).

It's in the backlog amongst things I have to do for QAT, Official Models, and others.

Currently the p

[2020-04-03 20:38] nutsiepully commented on #308
Hi @CristXu,

Thanks for the report.

The `mnist_cnn.py` example is out of date. Please refer to [quantize_functional_test](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/quantization/keras/quantize_functional_test.py) to see a good example of how to use the API with MNIST.

Regarding the failure, I was able to run the example locally and did

[2020-04-03 21:16] nutsiepully commented on #309
Please share the code to reproduce if you do find a gap.

Regarding training, are you talking about TF-TFLite gap or TF-QAT TF gap. The latter can vary with different models.

[2020-04-04 07:12] CristXu commented on #308
Hi, Thanks for your help, and below is my code, I use tensorflow 1.14.0 as my development env

[2020-04-04 07:31] kmkolasinski commented on #309
I mean the gap between Keras model which has been quantized (TF-QAT) and then converted to TFLite version.

[2020-04-04 09:51] nutsiepully commented on #309
Please file a bug in that case. That should not happen.

[2020-04-04 15:33] kmkolasinski commented on #309
Ok, last few comments. I believe this is not a bug, since this behavior seems to depend on many factors, like input image resolution, dataset type, training time etc.  I wanted to make a demo notebook to show this issue on example of SVHN detection dataset. However, it seems that for SVHN case it does convert to TFLite quite well ...
Here is my notebook if you are interested: https://github.com/km

[2020-04-06 19:00] mahdichtourou24051994 opened #341 "module 'tensorflow_model_optimization' has no attribute 'quantization'"
**Describe the bug**
module 'tensorflow_model_optimization' has no attribute 'quantization'

**System information**

TensorFlow installed from (source or binary): binary

TensorFlow version: 2.1.0

TensorFlow Model Optimization version: 0.2.1

Python version: colab version

**Describe the expected behavior**
import the model as described in guide
**Describe the current behavior**
not able to impor

[2020-04-06 21:28] alanchiao commented on #341
@mahdichtourou24051994: the official 0.3.0 release that has the API is not released yet.

The quantization API has not been launched yet.

Please wait until https://github.com/tensorflow/tensorflow/issues/27880 is closed prior to trying it.

[2020-04-06 21:28] #341 closed

[2020-04-07 18:10] alanchiao commented on #173
Reopened. Will not be integrated necessarily in next release.

[2020-04-07 18:54] suttergustavo opened #349 "How to convert a model (trained with quantization awareness) to int8?"
I've being trying to convert a model trained with quantization awareness to a .tflite file that only uses int8 operations. I modified the [quantization aware training example from guide](https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide) adding the following lines before the conversion (as I would do in a usual conversion):

[code]

However it raises the

[2020-04-07 19:13] alanchiao commented on #349
For documentation on what's supported, please refer to https://www.tensorflow.org/model_optimization/guide/quantization/training

Inside it, you'll find a link to an issue for your question on full-integer

[2020-04-07 19:14] alanchiao commented on #349
The page above hasn't quite updated yet: for today, please refer to https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc/guide/quantization/training.md.

[2020-04-07 19:27] suttergustavo commented on #349
Great, I'll check! Thanks you!

[2020-04-07 19:33] alanchiao commented on #349
If you think it's too hard to find your answer in the above documentation and have thoughts, welcome any suggestions.

[2020-04-07 19:34] #349 closed

[2020-04-08 10:27] kalaluthien opened #352 "TFLite conversion with quantization after quantization-aware training of simple CNN model fails"
**Describe the bug**

Simple MNIST cnn model inspired by tfmot functionality test and examples, failed to convert with post-training integer quantization.

**System information**

TensorFlow installed from (source or binary): binary
- `pip install tf-nightly`

TensorFlow version: 2.2.0 (latest)

TensorFlow Model Optimization version: 0.3.0 (latest)

Python version: 3.6 (colab) & 3.7 (local)

**Des

[2020-04-08 10:34] kalaluthien opened #353 "TFLite conversion with post-training quantization after quantization-aware training of simple CNN model fails"
**Describe the bug**

I tested latest release of quantization-aware training APIs of tfmot, but simple CNN model using MNIST (inspired by functionality test and examples in this repository) failed to convert with post-training integer quantization.

**System information**

TensorFlow installed from (source or binary): binary
- `pip install tf-nightly`

TensorFlow version: 2.2.0 (latest)

TensorFlo

[2020-04-08 10:44] #353 closed

[2020-04-08 21:17] alanchiao commented on #352
Hello. Failure to produce full-integer models in TFLite conversion is a known issue mentioned in https://www.tensorflow.org/model_optimization/guide/quantization/training, which points to
https://github.com/tensorflow/tensorflow/issues/38285. Thanks.

[2020-04-08 21:18] alanchiao commented on #352
In the meantime, you can follow the available documentation on tensorflow.org/model_optimization to produce a model that is full-integer, minus the inputs and outputs.

[2020-04-08 21:25] alanchiao commented on #352
For combining QAT with post-training integer quantization, you may see code examples, but that has not launched yet and is not ready for usage. Once it's launched and there is official documentation, you can start filing issues and bugs against it.

[2020-04-08 21:27] #352 closed

[2020-04-10 01:26] kalaluthien commented on #316
TF 2.2 (`tf-nightly`) also reports strange bug when converting QAT models....
Please see (gist)[https://gist.github.com/kalaluthien/cc24dda07ecc1d183ae36f67bab05c60]

[2020-04-10 01:41] kalaluthien commented on #316
FYI. By enabling `experimental_new_converter` to TF 2.1 similar bug: `RuntimeError: Unable to find min/max value for output 0 in QUANTIZE in subgraph 0, node: 0` goto [gist](https://gist.github.com/kalaluthien/3d5ce82f84616a8a7d29ae19a581158d)

[2020-04-14 18:00] alanchiao commented on #292
Thanks @kmkolasinski for filling this issue!

In response, https://github.com/tensorflow/model-optimization/pull/322 and https://github.com/tensorflow/model-optimization/pull/344 (this second one isn't in the current 0.3.0 release) should make the experience friendlier, though some of the pathways you mentioned don't have support yet.

Now that the API has had its first launch, I'd also encourage

[2020-04-14 21:39] alanchiao commented on #292
In particular, only 1 and 5 work (and for 5, you need to follow what's done in the comprehensive guide tutorial). 2., 3., and 4. are not supported yet (optimizing a subclassed model). You can file a feature request for subclassed models support, but as mentioned in our documentation, there are fundamental reasons we cannot support them well.

[2020-04-14 21:40] alanchiao commented on #292
Closing in light of the above - please do feel free to reopen for followups.

[2020-04-14 21:40] #292 closed

[2020-04-15 17:43] kmkolasinski commented on #292
Hi, thanks for feedback, sure this issue can be closed now :+1:

[2020-04-15 19:26] madarax64 opened #362 "Support for Conv1D Quantization"
Hello,
It seems as though Conv1D layer quantization is not yet supported? I get an error while trying to quantize a model containing Conv1D layers..is this going to be supported at some point?

[2020-04-16 19:57] lravano opened #363 "Aware-Quantization of model with BatchNormalization Layer"
**Describe the bug**
Hi Everyone,
i built an NN with BatchNormalization layer and i have tried to quantize the whole model for EdgeTPU application. I have read that i can use this layer after Dense or Conv2D layer in this overview:  https://www.tensorflow.org/model_optimization/guide/quantization/training#api_compatibility. But it doesn't work.

This is my code :

[code]

and this is the error

[c

[2020-04-16 23:39] alanchiao commented on #362
@nutsiepully : would you be able to add this?

[2020-04-18 02:52] HauserA opened #367 "quantize_model and tf.keras.mixed_precision.experimental.Policy("mixed_float16") throws ValueError"
**Describe the bug**

``quantize_model(model)`` throws ValueError if ``tf.keras.mixed_precision.experimental.Policy("mixed_float16")`` is set.

**System information**

TensorFlow installed from (source or binary): colab

TensorFlow version: 2.2.0-rc3

TensorFlow Model Optimization version: 0.3.0

Python version: colab

**Describe the expected behavior**
No error

**Describe the current behavior**

[2020-04-20 13:16] NobuoTsukamoto opened #368 "Low accuracy of TF-Lite model for Mobilenet (Quantization aware training)"
**Describe the bug**
The accuracy of TF-Lite model becomes extremely low after the quantization aware training of tf.keras.applications.mobilenet (v1/v2).

**System information**

TensorFlow installed from (source or binary): binary

TensorFlow version: tf-nightly-gpu (2.2.0.dev20200420)

TensorFlow Model Optimization version:  0.3.0

Python version: 3.6.9

**Describe the expected behavior**
The a

[2020-04-20 16:15] alanchiao commented on #368
I skimmed through your colab. Could you try one thing I didn't see?

If you try taking your "Keras model without quantization aware training" (0.99), converting it to TFLite, and then evaluating it in a manner similar to how you got the 0.20% accuracy number, could you see what you get?

[2020-04-21 04:49] NobuoTsukamoto commented on #368
I updated colab notebook.
https://gist.github.com/NobuoTsukamoto/b42128104531a7612e5c85e246cb2dac

- Keras model without quantization aware training: 0.9837
  - TF-Lite model: 0.8965
  - TF-Lite weight quantization model (Post training quantization): 0.8556
  - TF-Lite float16 quantization (Post training quantization): 0.9837
  - TF-Lite integer quantization (Post training quantization): 0.9782
-

[2020-04-21 06:39] kmkolasinski commented on #368
Can you try to train your q_aware model much longer, e.g.

[code]

there are running exponential averages in the quantized layers which may need to converge.

[2020-04-21 06:44] kmkolasinski commented on #368
You can take a look on this issue: https://github.com/tensorflow/model-optimization/issues/309
TLDR: I had similar problem, but when I trained quantization aware model for a longer time, the gap between keras and tflite model decreased.

[2020-04-21 12:56] NobuoTsukamoto commented on #368
@kmkolasinski
Thanks for your information.

I tried two patterns ( training with QAT).
1. epochs=50
    Keras model (QAT): 0.99 , TF-Lite integer quant model (QAT): 0.55
2. epochs=100
    Keras model (QAT): 1.00 , TF-Lite integer quant model (QAT): 1.00

I need quite a long time and a large number of epochs. Also, It is not possible to confirm the gap between the Keras model and the TF-Lite model

[2020-04-21 13:45] alanchiao commented on #368
@NobuoTsukamoto, @krzys-ostrowski: this is good feedback.

Just from the analysis, there are some things we could possibly do:

1) Have Tensorboard log the exponential averages so you can see them converge, through a new callback for QAT.

and then with regards to how long it takes

2) More intelligently initialize the exponential averages which track the min/max values of weights/activations to r

[2020-04-21 14:10] kmkolasinski commented on #368
Indeed, having native callback for EMA monitoring would be a nice feature.

Additionally, since EMA decay in the moving average quantizer is set to beta=0.999  we need approximately 1000 steps to 'forget' about the initial state. Here is a table which shows how many steps you need to 'forget' about the initial state of the quantizer min/max values:
![image](https://user-images.githubusercontent.co

[2020-04-22 13:04] NobuoTsukamoto commented on #368
It would be nice if the convergence can see in the Tensorboard log.
Like ["pruning_callbacks"](https://github.com/tensorflow/model-optimization/blob/v0.3.0/tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_cnn.py#L104), if "a new callback for QAT" is keras.callbacks, I think it's very easy to use.

[2020-04-22 16:30] alanchiao opened #371 "Tracking TFMOT 1.0.0 Release"
This issue tracks potential changes that will be made in the 1.0.0 release.

[2020-04-22 19:11] haozha111 commented on #367
@alanchiao ,could you help take a look?

[2020-04-23 00:03] holokai-ai commented on #363
@alanchiao @nutsiepully I'm having similar issues trying TF2 QAT on a model with BatchNormalization(), both the default unfused as well as fused.   Some papers talk about quantizing BatchNormalization:

   - https://arxiv.org/pdf/1712.05877.pdf
   - https://arxiv.org/pdf/1806.08342.pdf
   - http://www.emc2-ai.org/assets/docs/hpca-19/krishnamoorthi-keynote.pdf

But I have yet to see a simple code s

[2020-04-23 04:33] shariq-audiofocus commented on #173
Will sparse models ever result in smaller/compressed *.tflite models? This would be a huge plus for low power use cases as it would reduce I/O.

Currently I'm working with a quantized 14MB model but if pruned & compressed it could go down to 2MB and be able to fit in the SRAM of some MCUs.

[2020-04-23 23:16] alanchiao commented on #363
Will look into this as soon as I have the chance. I have something I need to finish that many other SWE are depending on.

@holokai-ai: if you look at the page that Iravano references, you'll see that we have trained mobilenet v1 and v2 with the existing library, both with batchnormalization following Conv2D.

[2020-04-24 03:24] Craftsman381 opened #372 "Layer up_sampling2d_36:<class 'tensorflow.python.keras.layers.convolutional.UpSampling2D'> is not supported. ou can quantize this layer by passing a `tfmot.quantization.keras.QuantizeConfig` instance to the `quantize_annotate_layer` API."
**Describe the bug**
I am trying to use quantize_model() to optimise UNET model, which contains UpSampling2D layer and conversion of this layer is not supported by tensorflow_model_optimization right now.

**System information**
MacOS Catalina
Version: 10.15.2

TensorFlow installed from (source or binary):
binary

TensorFlow version:
2.1.0

TensorFlow Model Optimization version:
0.3.0

Python vers

[2020-04-24 04:31] taeheej opened #373 "Question: number of parameter after pruning"
I checked the tutorial about pruning using mnist dataset.

The number of parameters of the original model and the pruned model is same.
Even though the file size is decreased after compressing by zip.

Is there anyway to reduce the number of parameters of a model by pruning?

[2020-04-24 10:18] Mohit-Ak commented on #372
I am facing exactly the same issue today while trying to implement _unet_ for Coral Edge_TPU.

Following are the findings-
- I tried using the Conv2DTranspose instead of upsampling but it looks like Conv2DTranspose is also not supported.
``` Layer conv2Dtranspose:<class 'tensorflow.python.keras.layers.convolutional.Conv2DTranspose'> is not supported. You can quantize this layer by passing a `tfmot

[2020-04-24 16:43] haozha111 commented on #372
@suharshs Could you help take a look at this issue?

[2020-04-24 16:43] haozha111 commented on #373
@liyunlu0618 , could you help take a look?

[2020-04-24 17:54] liyunlu0618 commented on #373
Pruning doesn't change the model structure so it's not meant to reduce the number of parameters, but to 'zero-out' them to save computation. Maybe you can look into distillation or other techniques that change the model architecture.

[2020-04-24 17:54] #373 closed

[2020-04-24 18:50] Craftsman381 commented on #372
@Mohit-Ak These optimization techniques are new in TF 2, hopefully they are going to add support in the next update.

[2020-04-24 23:14] Mohit-Ak commented on #372
- I am using TF-nightly 2.2.0-dev20200423.
- Although I have not tried `quantize_annotate_layer`, I assume, If I quantize all the layers except for the UpSampling2D/Conv2DTranspose layers, then the `edgetpu-compiler` throws an error stating "model not quantized".
- I had tried this earlier, where I only quantized a bunch of layers and not the whole model and fed it into the `edgetpu-compiler` to g

[2020-04-27 17:31] paulaksm commented on #173
Same here! Currently my *tflite model and its sparse counterpart have the same storage requirements.

If TFLite could detect the zeros and change their type to uint8, this would make a huge difference on model size (MBs).

[2020-04-28 06:27] nutsiepully commented on #363
Hi @lravano @holokai-ai,

Thanks for your feedback. We've currently implemented support for `BatchNormalization` preceded by `Conv2D`/`DepthwiseConv2D`, but the pattern for `Dense` hasn't been added.

We are ramping up our support for layers and patterns as we receive feedback from users, so thank you.

We'll add support for it and let you know on this bug. Thanks.

[2020-04-28 06:36] nutsiepully commented on #362
Sure. I'll take a look.

[2020-04-28 07:01] nutsiepully commented on #372
Hi @Mohit-Ak @Craftsman381,

Thanks for the great feedback. We haven't added support for `Upsampling2D` and `Conv2DTranspose` yet. We are ramping up support for layers based on feedback from users. So thank you for that. Most of these layers are quite simple, and haven't been added due to conversion support.

`Upsampling2D` doesn't actually need any QAT handling. You can try passing a [NoOpQuantiz

[2020-04-28 08:11] yinochaos opened #374 "Please initialize `Prune` with a supported layer. Layers should either be a `PrunableLayer` instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.python.keras.layers.wrappers.Bidirectional'>"
**Describe the bug**
A clear and concise description of what the bug is.
I want to prune a bi-LSTM layer , but get a error message that Bidirectional maybe not support
**System information**
centos 6.3
cuda 10.1 cudnn 7.6

TensorFlow installed from (source or binary):

TensorFlow version:
tensorflow 2.1.0 (cuda 10.1 cudnn 7.6)
TensorFlow Model Optimization version:
0.22
Python version:
3.6.10
**De

[2020-04-28 08:35] yinochaos commented on #374
I remove Bidirectional layer , no error exist, and can run.
what should I can do to fix  Bidirectional to run?
can I define a new bi-LSTM layer to solve this problem?

[2020-04-28 10:34] nutsiepully commented on #368
I think there is likely some confusion here. Exponential Moving Average is used during QAT to calculate the ranges of dynamic tensors. Since the initial cold start is [-6, 6], it can lead to a huge accuracy drop at the beginning of QAT. Say a tensor only has values in [-0.1, 0.1], then most of the range is wasted and can lead to huge losses.

As training goes on, this range slowly converges to the

[2020-04-28 10:34] nutsiepully commented on #309
Hi @kmkolasinski,

Can you give me access to your notebook? It throws an authorization error if I try to open it.

[2020-04-28 10:52] kmkolasinski commented on #309
Hi, I'm not sure if it will work anymore I have pushed few changes to the master recently. I will check it first and learn how to share Colab notebooks properly.

[2020-04-28 10:59] kmkolasinski commented on #368
There is a chance that I'm doing something wrong, however It seems that I'm not the only one with this issue. You can check much bigger model than the one used in the `quantize_functional_test`. I have encountered this issue with MobileNetV2. When models get bigger the errors between emulated quantization and the real one will accumulate.

[2020-04-28 18:27] kmkolasinski commented on #309
Hi, I'm testing my notebook, however it takes a few hour to train the model. I'm not sure whether this is a good example to show the issue. You could try to take MobileNetV2 and train it on random inputs for few thousands steps and check the conversion of such model.

[2020-04-29 05:56] nutsiepully commented on #309
That's ok. Just wanted a way to quickly reproduce the issue.

[2020-04-29 06:25] kmkolasinski commented on #309
I will try to prepare some toy model with minimal number of dependencies. This SVHN example is not the best one to debug. Do you want to see a gap between Keras QAT model and QAT TFLite model ?   Or you want to see how the gap decreases with the number of training steps ?

[2020-04-29 06:46] nutsiepully commented on #309
Thanks a lot.

Having both is better. But simply seeing the gap between Keras QAT and QAT TFLite for a small model is also quite useful.

[2020-04-29 06:51] kmkolasinski commented on #309
Ok, I will need few days for this, however I'm worry that you will not find the gap in small models.

[2020-04-29 06:56] nutsiepully commented on #309
Sure, take your time. Thanks.

That's ok. Doesn't need to be small. Any model that you can reproduce the issue on is enough for me.

[2020-04-29 16:43] gargn commented on #374
@nutsiepully Can you help take a look at this issue?

[2020-04-29 17:13] nutsiepully commented on #374
Hi @yinochaos,

Bidirectional is a Keras wrapper we haven't added explicit support for yet. In the short-term, you can fix your issue by subclassing `Bidirectional` and implementing `PrunableLayer`.

It shouldn't be that hard. In the `get_prunable_weights` method, you can include the weights you want to prune. And that should take care of it.

But we'll keep this issue open, and can investigate ad

[2020-04-30 03:45] Craftsman381 commented on #292
I have saves the Qunatized model after training, Now I am trying to load it again but giving me this error
`ValueError: Unknown layer: QuantizeLayer`

[2020-04-30 07:43] Craftsman381 commented on #224
Trying to prune Resnet50 and getting this error, can you tell me what't the solution of this.
[code]

[2020-04-30 09:15] sayakpaul commented on #309
@nutsiepully, I can confirm similar behavior and here's a [Colab notebook](https://colab.sandbox.google.com/drive/1ILRRIi4yTt_rSX9qnjM6cVFdb63rQTd9) that reproduces it. Accuracies in the QAT Keras model and TF Lite converted version differ from each other by a large margin.

[2020-04-30 09:52] kmkolasinski commented on #309
@sayakpaul  Could you make this Colab notebook public (it says that I need permissions)? I would like to see how do you reproduce this issue.

[2020-04-30 09:57] sayakpaul commented on #309
Thanks for noticing it @kmkolasinski. Just fixed it.

[2020-04-30 11:58] jkparuchuri commented on #224
@Craftsman381   Workaround is to add `"tf.compat.v1.keras.layers.BatchNormalization: []"` to prune_registry at https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py#L82 and rebuild from source

[2020-04-30 13:35] Craftsman381 commented on #224
@jkparuchuri in which dictionary I have to add it **_RNN_CELLS_WEIGHTS_MAP** or in **_LAYERS_WEIGHTS_MAP**

[2020-04-30 15:12] alanchiao commented on #292
See https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide#checkpoint_and_deserialize
for how to resolve your issue.

I've also submitted https://github.com/tensorflow/model-optimization/pull/344, so it'll be clearer on what to do starting with the next TFMOT release.

[2020-04-30 21:12] alanchiao commented on #372
@Craftsman381: FYI if your goal is to run UpSampling2D eventually in TFLite, the TFLite converter may not be able to convert it yet. You'll need to see if someone has filed an issue on github.com/tensorflow/tensorflow and request for it.

In general, the comments from testQuantizeSingleLayer_ProducesFullIntegerModel_TF2 in [this test file](https://github.com/tensorflow/model-optimization/blob/mast

[2020-05-01 10:09] ericqu opened #376 "Quantization not supported for tensorflow.python.keras.layers.wrappers.Bidirectional"
**Describe the bug**
When doing quantization of the model in order to run on Edge_TPU an error message is presented.

**System information**

TensorFlow installed from (source or binary): binary

TensorFlow version: 2.1

TensorFlow Model Optimization version: 0.3.0 (according to pip, I could not run `tfmot.__version__`)

Python version: 3.7.7

**Describe the expected behavior**
The full quantizati

[2020-05-01 12:24] ericqu commented on #376
I wanted to check if Bidirectional is the only piece missing, and removed it from the model, and I obtained the following error:
RuntimeError: Layer bidirectional_2:<class 'tensorflow.python.keras.layers.wrappers.Bidirectional'> is not supported. You can quantize this layer by passing a `tfmot.quantization.keras.QuantizeConfig` instance to the `quantize_annotate_layer` API.

using the below code:

[2020-05-01 21:17] gargn commented on #376
@alanchiao Can you investigate this issue?

[2020-05-04 16:55] CRosero opened #377 "QAT (quantization aware training) not suitable for transfer learning?"
**Describe the bug**
I'm doing transfer learning and would like to (at the end) quantize my model. The problem is that when I try to use the _quantize_model_ function (which is used successfully in numerous tutorials and videos), I get an error. How am I supposed to do quantization for transfer learning (using an already previously built model as a feature extractor)?

**System information**

Tens

[2020-05-04 17:06] kmkolasinski commented on #377
My way to workaround this is to quantize both models separately and then combine them into normal Keras model.

[code]

I'm not sure if this is a correct approach but it works for me.

[2020-05-05 07:06] nutsiepully commented on #309
This is a duplicate of [this](https://github.com/tensorflow/model-optimization/issues/368) bug. Closing this, and following up there.

[2020-05-05 07:06] #309 closed

[2020-05-05 07:07] nutsiepully commented on #368
We've found the issue. One of the quantized kernel activation ranges had a problem, but was getting hidden when the range has converged.

We'll have a fix out soon. tf-nightly should have it.

[2020-05-05 07:07] nutsiepully commented on #368
Thanks a lot for your help reporting and helping reproduce this issue. Would've been really hard to narrow down without the reproduction code.

[2020-05-05 07:16] sayakpaul commented on #368
@nutsiepully could you mention if there's any specific version of TensorFlow that would have the fix? Or should `pip install tf-nightly` should do it?

[2020-05-05 09:23] kmkolasinski commented on #368
Cool thanks for feedback @nutsiepully ! I will check it today. Out of curiosity, was it some general issue or something related to MobileNet models or specific layer etc ?

@sayakpaul  Yes, you can also use `pip install tf-nightly --upgrade`, but you need to uninstall regular TF first.

[2020-05-05 09:25] nutsiepully commented on #368
@sayakpaul  - `tf-nightly` should do it. the next version release will have it.

@kmkolasinski - I'll point out the commit here once it's in so you can see it. It was a general issue, with the DepthConv kernel implementation, which got triggered when ranges hadn't converged.

[2020-05-05 09:41] kmkolasinski commented on #368
Thanks, it makes sense to me, few weeks ago I've switched to a custom ResNet model which does not have DepthConvs and I got better results.

[2020-05-05 09:48] sayakpaul commented on #368
Thanks for letting me know. I will check and report back.

[2020-05-05 22:26] miaout17 commented on #377
@alanchiao @nutsiepully Could you take a look? Thanks!

[2020-05-06 07:06] yinochaos commented on #374
@nutsiepully  thanks, can you give me some example that can help me subclassing Bidirectional and implementing PrunableLayer,  thanks : )

[2020-05-06 13:22] zhen8838 opened #378 "use keras.Sequential(Conv2D,BatchNormalization) convert quantize_model got error"
**Describe the bug**

convert `Sequential`  model to quantize_model  will got error, **But use `Functional` model will be success.**

**System information**

TensorFlow installed from (source or binary): binary

TensorFlow version: tf 2.1

TensorFlow Model Optimization version: 0.3.0

Python version: 3.7.4

**Describe the expected behavior**

**Describe the current behavior**

[code]
[code]

**Cod

[2020-05-07 02:28] sayakpaul commented on #368
@nutsiepully I can definitely see the improvement and this [Colab Gist](https://colab.research.google.com/gist/sayakpaul/468f70d075e5608bfebeb9ba639265b6/qat-bad-accuracy.ipynb) reproduces this.  Thank you so much for this one :)

[2020-05-07 07:54] nutsiepully commented on #377
Hi @CRosero,

We haven't added support for quantizing Keras models within models yet. This is possible, and something we intend to do in the future.

In the meanwhile, @kmkolasinski is right. That's the approach you would have to use when using models recursively. Just quantize all the models you are interested in.

Thanks @kmkolasinski!

[2020-05-07 08:01] nutsiepully commented on #374
Hi @yinochaos,

Try taking a look at [this](https://github.com/tensorflow/model-optimization/blob/23163e77d5524de93b5600fe3577b2ccde6848b7/tensorflow_model_optimization/python/core/sparsity/keras/prune_test.py#L140) test. This is a simple example of how to make a layer prunable.

You can apply the same approach to `Bidirectional`. Just add the `get_prunable_weights` method and in that you can choo

[2020-05-07 08:23] nutsiepully commented on #368
Thanks a lot @sayakpaul. Really appreciate the feedback and the effort.

Thanks @kmkolasinski and @NobuoTsukamoto for the detailed bug reports and feedback. I'm closing the bug. Please reopen if you face any further issues.

@sayakpaul, the report is awesome! Great work, this explains the value of the tooling really well.

[2020-05-07 08:23] #368 closed

[2020-05-08 01:21] Kyle719 commented on #377
Hi @nutsiepully
I am trying to make a 8bit tflite model to be utilized for Coral Edge TPU.

I was trying to make the QAT model from the transfer learning CNN model.

I got the same error which @CRosero reported.
"Quantizing a tf.keras Model inside another tf.keras Model is not supported"

So, I am following the way which @kmkolasinski reported.
"quantize both models separately and then combine the

[2020-05-08 02:25] miaout17 commented on #378
@alanchiao do you mind to take a look? Thanks!

[2020-05-08 08:02] realykhong commented on #352
@alanchiao Any plan on this?

[2020-05-08 09:00] OriAlpha commented on #372
How can we use quantize_annotate_layer API is there any example for this

[2020-05-10 11:59] OriAlpha commented on #376
even I have the same issue with time disturbed

RuntimeError: Layer time_distributed:<class 'tensorflow.python.keras.layers.wrappers.TimeDistributed'> is not supported. You can quantize this layer by passing a `tfmot.quantization.keras.QuantizeConfig` instance to the `quantize_annotate_layer` API.

[2020-05-11 13:16] anidh opened #381 "H5 to Pb Conversion with Fake Quantization Node Fails"
**Describe the bug**

I have created a model in which I have used the annotate layer API to quantize some of the layers. The weights/model are saved in h5 format. I want the model and weights to be saved in pb format as I in my pipeline I have a requirement for that. When I try generating pb file I get the error.

**System information**

Tensorflow is installed from binary

TensorFlow version: 2.1

[2020-05-12 20:34] mhutti1 opened #386 "BatchNorm not in PruneRegistry"
**Describe the bug**
```ValueError: Please initialize Prune with a supported layer. Layers should either be a PrunableLayer instance, or should be supported by the PruneRegistry. You passed: <class'tensorflow.python.keras.layers.normalization.BatchNormalization'>```

**System information**

TensorFlow installed from (source or binary): ```binary```

TensorFlow version: ```2.2.0.dev20200304```

Ten

[2020-05-12 20:40] alanchiao commented on #386
How are you making use of BatchNormalization? With TF 2.X, we don't support usage of tf.compat.v1 ([docs](https://www.tensorflow.org/model_optimization/guide/pruning)).

The 2.X version of Batchnormalization is located at tensorflow.python.keras.layers.normalization_v2.BatchNormalization

[2020-05-12 20:42] alanchiao commented on #386
If you are using tf.compat.v1.keras.layers.BatchNormalization, can you switch over to tf.keras.layers.BatchNormalization?

[2020-05-12 20:45] mhutti1 commented on #386
[code]
I guess it could be an issue with tensorflow importing the wrong BatchNorm. I certainly haven't told it to use the v1 version anywhere though.

[2020-05-12 20:59] mhutti1 commented on #386
On further investigation it seems only loading the model causes this issue

[code]

So I guess that is the root cause, and the issue is not with this library but with the model loading.

[2020-05-12 21:04] alanchiao commented on #386
I suppose that model-200e.h5 was a model trained in TF 2.X?

[2020-05-12 21:05] mhutti1 commented on #386
Yes

[2020-05-12 21:07] alanchiao commented on #386
I know there was an issue like this where the wrong version was being loaded.

https://github.com/tensorflow/tensorflow/commit/6766a8ee3e74ce511c271f070c57ad3846a33a17 and other commits have since fixed it and this should be fixed in 2.2.0, which was just released.

[2020-05-12 21:08] mhutti1 commented on #386
Ah ok, I'll check it out. Thanks.

[2020-05-12 21:08] #386 closed

[2020-05-12 21:09] alanchiao commented on #386
If you can upgrade to the stable 2.2.0 release and still see this issue, let me know and I can escalate the issue you filed to people.

[2020-05-12 22:03] alanchiao commented on #386
As Isaac mentioned in the other issue, upgrading to 2.2.0 fixed the problem.

[2020-05-13 23:49] luvwinnie opened #387 "model-optimization documentation for custom training loop?"
Hi, thank you for great work!
I see that most of the weight pruning or quantization in the [official giude](https://www.tensorflow.org/model_optimization) use model.fit method. However, I use a lot with custom training for research purpose. I hope that the official can add some examples for those people who use the custom training loop to optimize the model!

[2020-05-14 01:41] alanchiao commented on #387
@luvwinnie: for pruning, you can refer to https://app.reviewnb.com/tensorflow/model-optimization/pull/272/files/, which is in review. For quantization, there is nothing special to consider between model.fit and custom training loop.

[2020-05-14 01:43] alanchiao commented on #387
comprehensive_guide.ipynb in particular

[2020-05-14 02:02] luvwinnie commented on #387
@alanchiao Thank You so much for replying and show an example for pruning weights! I search a lot on how to use the pruning with custom loop for tensorflow keras, but seems like still not many people write about it such as blog and etc except for pytorch...Anyone Thank You!

[2020-05-14 02:02] #387 closed

[2020-05-14 02:27] alanchiao commented on #387
You're welcome. If you have feedback on the documentation there, feel free to directly comment on the PR.

[2020-05-14 04:28] Kyle719 commented on #377
Thanks! @nutsiepully @kmkolasinski

I'm also trying to do QAT of transfer learning model
and planning to quantize the whole model to deploy it to the Coral Edge TPU.

So, is it possible that :
1. quantize models recursively (base model and head model)
2. full_model.compile
3. full_model.fit
4. TFLiteConverter (convert the model to int8 ___.tflie model)
5. Interpreter (do inference with the Coral E

[2020-05-14 08:48] Craftsman381 opened #390 "AttributeError: 'NoneType' object has no attribute 'iterations'"
**Describe the bug**
I'm trying to prune MobileNet model but its giving me error when I call fit_generator. I don't know why is it so...

**System information**
Linux Ubuntu 19.10

TensorFlow installed from (source or binary):
binary

TensorFlow version:
1.14

TensorFlow Model Optimization version:
0.3.0

Python version:
3.6

**Describe the expected behavior**
Should start pruning model

**Describ

[2020-05-14 10:36] mlinxiang commented on #372
`tfmot.quantization.keras.QuantizeConfig` instance.You passed an instance of type: ABCMeta.

[2020-05-15 08:19] #390 closed

[2020-05-15 11:25] yash88600 opened #391 "Inference time remains unchanged"
The compression technique used for pruning converts the model into a sparse model and save's it efficiently (maybe using csr format or other) but this doesn't help in reducing the inference time as the no of parameters still remains the same?
Please correct me if i am wrong

[2020-05-15 16:22] ericqu commented on #376
Dear @gargn and @alanchiao ,

I assume that it is not a high priority to have the quantization for these layer working.
I am wondering if as an alternative I could do the network and specifying the dtypes as uint8, would that be equivalent as the quantization (or for instance are there some extra flags to indicate that the quantization was executed that need to be set) ?

[2020-05-15 16:27] alanchiao commented on #391
See https://github.com/tensorflow/model-optimization/issues/173 to efforts to improve latency.

Currently, latency is not improved, as you said.

[2020-05-15 16:27] #391 closed

[2020-05-15 17:09] alanchiao commented on #376
@ericqu: as you say, there are a lot of other issues we have to address first.

If your goal is to deploy this model in TFLite, there are special considerations for LSTM (it may or may not require a clipping schedule, which some people have used in the past) as well as potential work to integrate with https://www.tensorflow.org/lite/convert/rnn. Everything else should be doable (though some of the

[2020-05-16 07:34] lucgiffon opened #393 "Magnitude-based weight pruning with Keras doesn't work with actual Keras models"
Hello

The magnitude weight pruning procedure doesn't work with keras layers but only with tf.keras layers. I think it should be stated more clearly in the documentation.

On this page: https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras#build_a_pruned_model_layer_by_layer, I don't think it is specified a single time. I mean in the text. The code actually uses tf.keras b

[2020-05-16 11:55] ianholing commented on #372
Same point that @mlinxiang here.
[code]

And get the same error:
`quantize_config` can only be a `tfmot.quantization.keras.QuantizeConfig` instance.You passed an instance of type: ABCMeta.

[2020-05-16 18:51] ericqu commented on #376
@alanchiao: Thank you for the information much appreciated.

My objective is to deploy on the EdgeTPU hence I understand that I need a TFLite model with full quantization to pass the compiler. If there is another way, let me know I would go for it if possible.

Is there an high level guide of what there is a to implement in order to achieve the quantization. I look for papers on the topic but it f

[2020-05-16 19:42] ianholing commented on #372
Finally I get it working with a workaround:

[code]

In my case it is a functional Model, but I'm pretty sure it also works with Sequentials.

[2020-05-17 21:25] alanchiao commented on #393
@lucgiffon: thanks for the feedback and welcome followup on my response below.

I knew about this potential confusion and had something to partially improve it, now submitted [here](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb), where tf.keras is explicitly mentioned at the start. The API docs [here](https:/

[2020-05-17 21:28] alanchiao commented on #393
Closing but feel free to reopen.

[2020-05-17 21:28] #393 closed

[2020-05-18 04:19] #374 closed

[2020-05-18 04:21] yinochaos commented on #374
thanks for your help. I fix this problem. that is very simple.
`
class PruneBidirectional(keras.layers.Bidirectional, prunable_layer.PrunableLayer):
    def get_prunable_weights(self):
        return self.forward_layer._trainable_weights + self.backward_layer._trainable_weights
`

[2020-05-18 23:50] alanchiao commented on #390
For others in the future, can you mention how you resolved this issue?

Looks like the optimizer wasn't attached to the model (hence it thought model.optimizer was None), even though you called `model.compile`.

[2020-05-19 01:56] nutsiepully commented on #155
It seems to me we are mixing a few issues. I want to make sure I understand the problem correctly. Please correct me if I'm wrong.

[Issue](https://github.com/tensorflow/model-optimization/issues/40) is about handling models recursively - a Keras Model which contains another model, not about subclass models.

If one of the layers in the model is `Sequential`, or `Functional` we should ideally trav

[2020-05-19 18:28] alanchiao commented on #11
@lgeiger: in case you didn't see, Keras TF 2.0 QAT has been launched.

[2020-05-20 12:13] baiyizhangweifeng opened #401 "An errors on running the example：ValueError: Please initialize `Prune` with a supported layer. Layers should either be a `PrunableLayer` instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.python.keras.layers.recurrent.LSTM'>"
When I run the sample code in https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/examples/sparsity/keras/imdb/imdb_lstm.py.
There was an errors,could you help me.
Thank you very much.

[2020-05-21 13:58] captainproton1971 opened #403 "Behaviour of stripped models and sequence masking"
**Describe the bug**
Training a sparse model including an Masking Layer and an LSTM, and then stripping model with strip_pruning() produces models that handle the masking differently.  This means the models trained with pruning are not useable for inference after stripping.

**System information**

- TensorFlow installed from (source or binary): binary (anaconda, mkl_py366ha38f243_0)
- TensorFlow

[2020-05-23 21:00] panchgonzalez commented on #132
I ran into this same problem a while ago. I eventually wrote a quick patch to the TF Object Detection API and the old `tf.contrib.model_pruning` library to prune FasterRCNN models (or any `tf.slim`-based object detection models).

I pushed an example to github here: https://github.com/panchgonzalez/tf_object_detection_pruning

Using Keras and `tensorflow_model_optimization` is definitely the way t

[2020-05-24 10:38] anshkumar commented on #132
@panchgonzalez going to give it a try and share my results.

Is the pruning by your code limited to faster-rcnn or it can work with any architecture ?

[2020-05-24 15:51] ankandrew opened #407 "Support for ReLU6"
I tried to use in a keras sequential model ReLU6 from tf.nn.relu6 but when creating the quantization aware model, but it says: `unknown activation function`, is it because it is not yet supported?

To replicate this error, I ran this [example](https://www.tensorflow.org/model_optimization/guide/quantization/training_example) in colab and I changed the activation function from tf.nn.relu to tf.nn.r

[2020-05-26 06:53] anshkumar commented on #132
@panchgonzalez your patch is not complete. It's missing changes in `model_main.py`, `model_lib.py`, `model_builder.py` and also in the maskrccn config file. Anyway I've added these [changes](https://github.com/anshkumar/object_detection). One more important thing it's missing is that the pruning works while training but when the model is saved for evaluation and restored again, it's not able to re

[2020-05-27 14:18] panchgonzalez commented on #132
Hi @anshkumar, thanks for pointing this out. It looks like I didn't include the changes to `model_lib.py` and `model_hparams.py` in the patch. I've updated these in the repo.

Re: the runtime error you mentioned above. It looks like some changes to TF1.15 are causing this error, but I haven't quite figured out what exactly. The error goes away when downgrading to TF1.14.

I did a quick test after

[2020-05-28 03:51] kalaluthien commented on #407
What about use `tf.keras.layers.ReLU(6.0)` instead?
This is not a solution but a workaround, however, It worked for me before.

[2020-05-28 05:32] kalaluthien opened #408 "Failed with Post Training Quantization after Quantization Aware Training"
**Describe the requests**
I am working with recent neural networks targeting mobile devices, and I found there are obstacles to perform integer-quantization after QAT.

I know these APIs are not available now, but if you have plans to address following issues, please let me know when they will be available :)

1. AveragePooling2D
[code]

- Same with `MaxPooling2D` problem.

2. MaxPooling2D
[code]

[2020-05-28 14:37] anshkumar commented on #132
@panchgonzalez I got it somehow working. One major thing was downgrading the version of numpy to 1.16.

Also, did you find any improvement in speed or the size of model after pruning ?

[2020-05-28 17:08] dd1923 opened #409 "sparsity.prune_low_magnitude fails with mixed precision policy mixed_float16"
**Describe the bug**
When using `tf.keras.mixed_precision.experimental.Policy("mixed_float16", loss_scale="dynamic")` the `sparsity.prune_low_magnitude` in tensor type conversion with the error `Tensor conversion requested dtype float32 for Tensor with dtype float16: <tf.Tensor 'pruning_ops/Cast_2:0' shape=(3, 3, 1, 12) dtype=float16>`. Things work perfectly fine when precision is set to the defau

[2020-05-28 19:51] ankandrew commented on #407
@kalaluthien Thanks, that works! But still would be cool if it can be accessed the same way as tf.nn.relu.
Guess it is a matter of time

[2020-05-29 01:15] marjanemd opened #410 "Getting an error when creating the .tflite file from tensorflow quantization exmaple"
**Describe the bug**
I am receiving the following error when I run the code in [Tensorflow quantization example on MNIST dataset](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/examples/quantization/keras/mnist_cnn.py), which is mainly complaining from unsupported operations for channelwise quantization and not existing min,max values after activa

[2020-05-29 03:12] alanchiao commented on #410
Hello Marjan.

From https://www.tensorflow.org/model_optimization/guide/quantization/training#api_compatibility, the API is not intended to be used with 1.15.0 atm.

[2020-05-29 15:21] panchgonzalez commented on #132
@anshkumar, glad to see you got it to work.

Re: speed improvements -- that statement from `tf.contrib.model_pruning` library is consistent with what I've seen. Unless there's additional mechanisms to compress or otherwise take advantage of the sparse tensors, the inference speed is about the same.

Optimized inference engines (e.g., [Nvidia's TensorRT framework](https://developer.nvidia.com/tenso

[2020-05-29 15:26] anshkumar commented on #132
@panchgonzalez I thought so. Anyway thanks for the help.
Also, I'm currently working on the addition of Mask head in the SSD_meta_architecture ([issue](https://github.com/tensorflow/models/issues/8552)). Would you like to work along ?

[2020-05-29 22:18] #410 closed

[2020-05-29 22:23] alanchiao commented on #378
This was fixed in https://github.com/tensorflow/model-optimization/pull/402

In the meantime, you'll need to build from source to enable it. It'll be a part of the next release after 0.3.0.

[2020-05-29 22:23] #378 closed

[2020-05-30 02:02] marjanemd opened #412 "Getting an error when creating the .tflite file"
Hello,

I am getting an error while creating the tflite file in the following line of the code:

`tflite_model = converter.convert()`

The error is:
tensorflow/lite/kernels/quantize.cc:110 affine_quantization->scale->size == 1 was not true.Node number 0 (QUANTIZE) failed to prepare.

When saving the Keras model, there is an input layer created, which does not have the scale and offset for quantizi

[2020-05-30 15:11] peter197321 opened #413 "post-training integer quantization"
Prior to the addition of per-axis quantization in optimization toolkit, post-training integer quantization was used, is it possible to enforce post-training integer quantization on the model or vice-versa explicitly enforce per-axis (aka per-channel)?

Quantized models from [Hosted models](https://www.tensorflow.org/lite/guide/hosted_models) works for me but models from [Coral Edge TPU](https://co

[2020-06-02 17:55] alanchiao commented on #401
This will be fixed in https://github.com/tensorflow/model-optimization/pull/414 by @psunn and be merged soon.

After it's merged, free to reopen if you continue to face the same issue.

[2020-06-02 19:42] nutsiepully commented on #407
@ankandrew - Thanks for reporting the issue.

Our API is built on `tf.keras`, and in general we are directly supporting the `tf.keras` API surface/constructs and not the other core API surfaces such as `tf.nn` etc. (We might add some additional handling for convenience if it helps but largely `tf.keras` API pieces)

So, you can expect current and ongoing support for activations under `tf.keras.act

[2020-06-02 19:42] #407 closed

[2020-06-02 20:04] nutsiepully commented on #372
@ianholing @mlinxiang - As long as the object you pass subclasses `QuantizeConfig`, it should work.

@ianholing - In your sample code, consider using `quantize_scope`. It also adds all the other quant related objects in scope.

[2020-06-02 20:42] #401 closed

[2020-06-02 23:27] nutsiepully commented on #412
Could you please add your the code for your TF model, and the full tflite converter params? It isn't feasible to debug the model without looking at it.

This error is typically thrown when the quantization params have an incorrect scale dimension.

[2020-06-03 00:30] nutsiepully commented on #363
Hi @lravano,

There is one approach you can use with your model, that would allow QAT to work without us adding full support, and the results should be pretty close to full support.

Consider modifying your code to the following.

[code]

Both `NoOpQuantizeConfig` and `OutputQuantizeConfig` can be found [here](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimizati

[2020-06-03 00:35] alanchiao commented on #412
Please also include the TF version (and generally follow the [template](https://github.com/tensorflow/model-optimization/issues/new?assignees=&labels=bug&template=bug_report.md)).

[2020-06-03 01:23] marjanemd commented on #412
@nutsiepully
I am just using the keras model for tflite converter as:

`converter=tf.lite.TFLiteConverter.from_keras_model(model).`
Following shows the keras model, and as you can see there are two cells as InputLayer and QuantizeLayer which do not have the quantization values. I know that the issue is comming from here, but not sure how to prevent this. The model seems right to me and I don't get

[2020-06-03 06:54] nutsiepully commented on #377
Hi @Kyle719,

I tried reproducing this, but I didn't see any errors. It converted just fine.

Please make sure you use `tf-nightly`. [This](https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/quantization/keras/utils.py) should explain how the conversion is done.

[2020-06-04 06:15] enoceanwei opened #418 "Can not load model"
Hi Guys,

 I am suffering a problem, I can run the demo (minist model pruning) and saved a temp files of models at last. However, when I load the model to test(example: tf.keras.models.load_model('/tmp/tmpxr7b13cr.h5')), I got a value error which is shown as below:
"
ValueError: You are trying to load a weight file containing 2 layers into a model with 0 layers.
"

Could anyone can help me? many t

[2020-06-04 16:21] jianlijianli commented on #413
The post-training integer quantization do not provide controls over using per-axis or per-tensor quantization, because per-axis is added to help recover accuracy degradation for some models.

Can you please be more specific on the issue on coral? An error message would be helpful. Thanks.

[2020-06-04 22:00] peter197321 commented on #413
Yes, that's my understanding that the tool (TensorFlow Lite converter) has no control over quantization and it can not option either per-axis (per-channel) or per-tensor quantization.

I do not use Coral Edge TPU but what I said is that quantized models for this device (edge TPU) do not work for me since models are per-axis quantized and I can't use the TensorFlow Converter either since it has no

[2020-06-06 23:19] willbattel commented on #377
Hey @nutsiepully thanks for the insight. Would you mind keeping this issue up to date with any changes in status/priority/roadmaps, etc.. regarding this capability moving forward? Thanks!

[2020-06-07 00:52] willbattel opened #419 "Add QAT support for Concatenate layer"
Referencing @nutsiepully in #372

We're using the `NoOpQuantizeConfig` workaround for now, but in the future we would love to see native support for the Keras `Concatenate` layer. Thanks!

[2020-06-07 11:19] AbbasiAYE opened #420 "Average multiple quantized weights of different models"
**System information**

- TensorFlow version (you are using):
'1.15.0'

- Are you willing to contribute it (Yes/No):

**Motivation**
Enable operations on algebraic operation on the quantized model, help in many applications such as federated learning.

**Describe the feature**
I'd like to be able to access the quantization layers weights (e.g., 1) get, 2) operation, 3) set ), as I do in the follow

[2020-06-08 22:36] nutsiepully commented on #377
Will update it, once we add support for it.

[2020-06-08 22:39] nutsiepully commented on #419
Hi @willbattel,

`Concatenate` already has partial support and should often just work. Could you please add your case in which it failed, so I can prioritize it accordingly.

Sometimes layer support isn't one single thing, as there are various patterns which may show up.

Thanks.

[2020-06-09 17:14] alessandroaimar commented on #317
same problem appears when a model contains another model. When you query the inner model for its weights and pass them through the name processor, you get a shape mismatch because the names of different layers weights are equal.

The problem is evident simply applying default quantization to the tensorflow segmentation example

Traceback (most recent call last):
  File "C:/Users/Alessandro/AppData

[2020-06-10 00:30] willbattel commented on #419
Sure, let me get together some details on our usage and I'll add them here.

[2020-06-11 03:57] joyalbin opened #424 "Is there any way to apply QuantizeConfig for Model used from Keras Modelzoo?"
**System information**

- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): yes

I tried use predefined models from **_keras_** using _tf.keras.applications.MobileNetV2()_

I could see there are provisions to configure the quantization (bits, range or algos) for each layer using _tfmot.quantization.keras.quantize_annotate_layer()_ and apply with _tfmot.quantizati

[2020-06-11 14:00] zmlim opened #425 "ModuleNotFoundError: No module named 'tensorflow_model_optimization'"
My tensorflow version is 1.15.0
when i try to import the module, it gives me the error: ModuleNotFoundError: No module named 'tensorflow_model_optimization'

[2020-06-11 19:58] alanchiao commented on #425
`tensorflow_model_optimization` is a a separate python package from tensorflow.

See https://www.tensorflow.org/model_optimization/guide/install for installation instructions.

[2020-06-11 19:58] alanchiao commented on #424
See this documentation: https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide#quantize_some_layers

and use QuantizeConfig together as described in the other documentation.

[2020-06-12 01:21] joyalbin commented on #424
Got it. Thank you very much

On Fri, 12 Jun, 2020, 1:29 am alanchiao, <notifications@github.com> wrote:

[2020-06-12 20:15] peri044 opened #426 "Issue with loading quantization aware trained model"
**Describe the bug**
Unable to load the saved model after applying quantization aware training.

**System information**

TensorFlow version (installed from source or binary): 2.2
TensorFlow Model Optimization version (installed from source or binary): 0.3.0

**Code to reproduce the issue**
Please find the gist of the code here https://gist.github.com/peri044/00a477b73d01bd08ef3410c15679a91c#file-s

[2020-06-12 20:31] nutsiepully commented on #420
Hi @AbbasiAYE,

It's not clear to me what you want us to do in this case. As you've done in your code, you can apply an average, or any such modification to the weights in your model as you wish.

It doesn't seem like something QAT has to do. Also, please consider using TF 2. We don't officially support TF 1.

[2020-06-12 20:31] #420 closed

[2020-06-12 20:32] nutsiepully commented on #419
@sakumoil - your code is incorrect. You are passing an instance of a tensor rather than a layer.

`tf.keras.layers.concatenate([conv2,up1])(conv3)` returns a tensor. `tf.keras.layers.concatenate([conv2,up1])` returns a layer.

[2020-06-12 20:33] nutsiepully commented on #419
@willbattel - Since support for `Concatenate` is too broad, please add your use case here which doesn't work once you get a chance and re-open the bug. I'll close it for now.

[2020-06-12 20:33] #419 closed

[2020-06-12 20:41] nutsiepully commented on #413
@peter197321 - It seems like the Coral website provides the TFLite files for the model. You don't need to use converter in that case. If there is an issue with the model files, it would be better to raise the issue on the Coral repository.

[2020-06-12 20:41] #413 closed

[2020-06-12 20:47] #425 closed

[2020-06-12 20:47] #424 closed

[2020-06-14 07:47] holokai-ai commented on #372
@nutsiepully @alanchiao Looks like the TFLite Hexagon DSP Delegate already supports these quantized up-sampling ops:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/hexagon/README.md
- Resize Bilinear
- Resize Nearest Neighbor
- TransposeConv2D

But I believe none of the above are currently supported by TF2 TFMOT model quantizer.  Please correct me if I'm wrong.  Th

[2020-06-15 02:47] kalaluthien commented on #408
Can you check MobilenetV2 QAT+PTQ conversion too?
I had failed to reproduce results in [official guide](https://www.tensorflow.org/model_optimization/guide/quantization/training) when using tf2.2.0 and tfmot 0.3.0.
I would be great if you give experiment settings to reproduce speedup & accuracy comparison between Float & Quantized MobileNetV2!

Notebook: https://gist.github.com/kalaluthien/c44da9b

[2020-06-15 17:28] alanchiao commented on #418
@enoceanwei: you haven't provided enough information to fully understand. In particular, a reproducible example would be useful.

My best guess is that you saved only the model's weights via the tf.keras.Model `save_weights`API, which should be used together with a call to the `load_weights` API, not the `load_model` API you are using. If you saved the model with `save_model` instead, you shouldn'

[2020-06-15 19:54] holokai-ai commented on #372
Inspecting Google's [quantized EdgeTPU DeepLab v3 segmentation model](https://github.com/google-coral/edgetpu/blob/master/test_data/deeplabv3_mnv2_pascal_quant_edgetpu.tflite) that @Mohit-Ak mentioned in this thread, looks like the model has a custom MobileNet v2 backbone plus a few ResizeBilinear ops to up-scale the tensors, among other things.   Diagram below.

How does one use TFMOT to map to q

[2020-06-15 22:20] EscVM commented on #372
@holokai-ai

How did you wrap 'tf.image.resize()' in the Keras model? Thanks

[2020-06-15 22:22] EscVM commented on #372
I've tried your solution, but I had this error 'ValueError: Unknown object: NoOpQuantizeConfig'

[2020-06-16 02:01] holokai-ai commented on #372
@EscVM  -- I'm not wrapping tf.image.resize() at the moment; I'm simply calling it intermixed with Keras layers, in a functional style.

[2020-06-16 08:23] EscVM commented on #372
Ah ok! Indeed, it works. Thanks

[2020-06-16 14:27] EscVM commented on #372
@holokai-ai

The problem is that if you need to use the Edge TPU compiler 'tf.image.resize()' is not compatible :)

[2020-06-16 17:39] peri044 commented on #426
Hello @nutsiepully , can you please provide any suggestions on this issue ? The code in the gist is  mnist QAT example in the docs. Thank you

[2020-06-16 19:13] holokai-ai commented on #372
That's precisely why I posed the question in this thread to @alanchiao
 and @nutsiepully ---

**For those of us who need to do edge inference on hardware that requires integer-only ops like EdgeTPU and Hexagon DSP, how can we map to quantization-friendly TFLite up-sampling ops?**

Clearly Google has a way to do this (e.g. with the quantized ResizeBilinear in DeepLab v3 segmentation model running o

[2020-06-16 20:18] EscVM commented on #372
On this purpose it would be useful to have 'depth_to_space' :))

Anyway, about bilinear, I was thinking of training with your method and then make a little bit of surgery and substitute 'tf.image.resize()' with the 'UpSampling2D' Keras layer. I theory should work because bilinear doesn't make use of variables.

[2020-06-16 20:43] holokai-ai commented on #372
@alanchiao @nutsiepully  --  FWIW I tried the following hack:
- reverted back to UpSampling2D() instead of tf.image.resize()
- for UpSampling2D(), tired both interpolation="nearest" and interpolation="bilinear"
- hacked one line in the TFMOT code to accept UpSampling2D():

[code]

The resulting model trained well on our task in Python TensorFlow, both for FP32 (96.1%) and INT8 QAT (94.8%).

Howeve

[2020-06-17 09:55] MevadaRavikumar opened #429 "AttributeError: type object 'TFLiteConverterV2' has no attribute 'from_keras_model_file'"
I am having one TensorFlow Keras model "model.h5". I want to generate tflite from it. I am using the below-mentioned code for that. I am using tensorflow version '2.0.0'. Later on I want to convert this model for the google coral edge tpu.

    import tensorflow as tf
    import numpy as np
    from tensorflow import lite

    dataset_dir = "C:\\Users\\Ravi\\dataset"
    IMAGE_SIZE = 224
    saved

[2020-06-17 09:57] CRosero commented on #377
@kmkolasinski Thanks for your suggestion. I am trying it out but unfortunately not getting it to work. [My code](https://colab.research.google.com/drive/1Eost-89GXwBZRbK7daSK1o0qaJLy0Jt2?usp=sharing) looks similar to that of @Kyle719, but I'm already getting a ValueError on `q_head_model = quantize_model(head_model)`, saying

If you go to versions saved, this is labeled as _"Initial attempt"_
Even

[2020-06-18 03:40] joyalbin commented on #429
@MevadaRavikumar
You can try with below method,
[code]

[2020-06-18 03:44] joyalbin commented on #426
@peri044 Can you please try with below changes
[code]

[2020-06-18 06:35] joyalbin opened #430 "4bit activation accuracy is very low"
Hi,
While doing some experiments with the quantization aware training, I have observed the 4-bit weight and activation quantization accuracy on Mobilenet is very low.
Anyone can please help me to get some details on this?

[2020-06-18 09:42] corvoysier opened #431 "Spurious Dequantize/Cast/Quantize sequence of ops at the end of a QAT TFLite model."
**Describe the bug**
When converting a MNIST model trained using QAT, there is a spurious Dequantize/Cast/Quantize sequence of ops at the end of the TFLite model.

**System information**

TensorFlow version (installed from source or binary): TF nightly 2.3.0-dev20200616

TensorFlow Model Optimization version (installed from source or binary): 0.3.0

Python version: 3.6.9

**Describe the expected b

[2020-06-18 15:30] suharshs commented on #429
Hi,

The method is from_keras_model and not from_keras_model_file.

Here are the example invocations https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter

Thanks!

[2020-06-18 15:30] #429 closed

[2020-06-18 15:33] suharshs commented on #430
Hi, 4bit quantization can get very large amounts of quantization error. There are hard to resolve without model level changes. In general an arbitrarily low-level bitwidth isn't guaranteed to work with any model.

Some folks have had luck by incrementally lowering the bitwidth of weights from float to 16bit to 8bit to 4bit etc. Or keeping weights in 8bit and only quantizing 4bits. But this is real

[2020-06-18 15:33] #430 closed

[2020-06-18 15:43] suharshs commented on #431
Hi, we are actively working on integer input and output support in the conversion for QAT. (The lack of this support is why you are getting spurious dequantize and quantize operations that edgetpu doesn't like). We will update this issue when that is ready.

If this is blocking you, we have a workaround script that can change the input and output types for you to uint8, which EdgeTPU requires: htt

[2020-06-18 16:49] Namburger commented on #431
@corvoysier @suharshs
FYI, with `2.3.0-dev20200618`, my model with the exact same code as above looks very different.
![Screenshot 2020-06-18 at 11 28 55 AM](https://user-images.githubusercontent.com/25712149/85047037-ea094000-b156-11ea-91bc-cd307c56ac6a.png)

So I set the tensor shapes to be static before converting is giving me better results:

[code]
![Screenshot 2020-06-18 at 11 45 03 AM](http

[2020-06-19 01:32] zmlim opened #434 "Unable to prune conv2D layer"
I'm trying to prune by layer. From what i understand, conv2D is supported [https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py](url)

[code]

However, I'm getting the error
[code]

[2020-06-19 09:37] corvoysier commented on #431
@Namburger

Are you sure the first model you obtain is from the nightly ? What you got is exactly what I had when I used TF 2.2 release, and it was actually a float quantized model (you can check the tensors).

Yes, that did the trick for me also. I now have the correct sequence.

[2020-06-19 11:39] tabeareichmann opened #436 "Questions regarding Quantization Aware Training"
Hello,
we are looking into using quantization aware training for a research project to determine the impact of quantization during training on convergence rates and runtimes. We are though not yet fully convinced that this is the right tool. Could you please clarify the following points:
.) If a layer is quantized during quantization aware training, this means inputs and weights are quantized and

[2020-06-19 12:38] Namburger commented on #431
Humm I may have made a mistake of using tf2.2 but I remember specifically checking tf version before trying your code. Not 💯 on this

[2020-06-19 16:15] LLNLanLeN commented on #431
@Namburger I second what @corvoysier  said. I was trying out 2 difference version on my side. TF nightly give a clean graphs compare to TF 2.2. I believe I mentioned somewhere in documents that it's recommended to use optimization toolkit with TF nightly

[2020-06-19 16:28] Namburger commented on #431
@LLNLanLeN may I did made that mistake lol

[2020-06-19 16:30] LLNLanLeN commented on #431
@Namburger  may be, haha. But the graphs turns out very well. I have a quick question actually, the script. Were you able to run this script as recommended above?

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/optimize/python/modify_model_interface.py

I install the optimization tookit via pip, but when I run the command, it couldn't locate the file (I couldn't locate

[2020-06-19 16:37] Namburger commented on #431
No, by modifying the script to set [static input shape](https://github.com/tensorflow/model-optimization/issues/431#issuecomment-646163906), I didn't have any troubles with the compiler so I didn't tried that work around
But from the [build file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/optimize/python/BUILD#L11) it looks like it should be something like this to r

[2020-06-19 17:02] LLNLanLeN commented on #431
@Namburger I see, thank you. I'll try the script out with bazel

[2020-06-20 06:01] gordinmitya commented on #173
@paulaksm @shariq-audiofocus
have you tried structural pruning instead?
if you worry about storage only why not to consider gzip compressing for the model file? (like cryptopp gzip)

[2020-06-22 17:25] shariq-audiofocus commented on #173
@gordinmitya Thanks, I hadn't heard of structural pruning, seems like that could lead to smaller tflite binaries if it eliminates entire filters. Is structural pruning on the model-optimization roadmap?

Re: storage - I'm not worried about offline storage. I'm worried about latency & power usage during inference on tiny edge devices (probably MCUs). ARM is developing processors [1] that can do onl

[2020-06-22 20:52] MeghnaNatraj commented on #431
@LLNLanLeN As @Namburger pointed out, you should be able to modify the model input and output by running
[code]

You can change 'INT8' to 'UINT8' as well.

If you are using `tf-nightly`, you can directly modify the input and output type of quantized models during conversion, by using this code: https://www.tensorflow.org/lite/performance/post_training_quantization#integer_only

The exception to th

[2020-06-22 21:13] LLNLanLeN commented on #431
@MeghnaNatraj  thanks for confirming. I've managed to use the script

[2020-06-23 00:02] willbattel commented on #173
Structural pruning is really important to my team, too. The current zero-weight pruning for compression is nice but we're far more interested in reduced file sizes to be able to fit models into SRAM instead of DRAM.

I'm hopeful that this library will eventually support structural pruning- but so far I haven't seen any mention of it.

[2020-06-23 02:00] nutsiepully commented on #377
@CRosero - I fixed the code in your colab. Your Sequential model has not been constructed correctly - it was missing parentheses. It does not actually have any layers. That's why it was failing.

Also, after `quantize_annotate...`, you just have to use `quantize_apply` not `quantize_model` again. Though it still works here.

I understand the complexity of using a new API, but it's generally not fe

[2020-06-23 02:56] nutsiepully commented on #426
@peri044 - The code is working for me. Can you please try using `tf-nightly` and try the code again? Also, consider using @joyalbin's snippet as well, though for `saved_model`, it should just work.

[2020-06-23 03:01] nutsiepully commented on #426
Closing this for now since I was able to run the code without any issues, and it's likely a versioning issue.

Please feel free to reopen otherwise.

[2020-06-23 03:24] nutsiepully commented on #436
Hi @tabeareichmann,

Thanks for the great questions. Please find answers below.

1) The quantization and dequantization operation is for a specific tensor, but placement of the operation takes the layer into account. The second half of [this](https://www.youtube.com/watch?v=2tnWHCxP8Bk) talk explains this more. There's another detailed talk on the way, though this has all the relevant content.

[2020-06-23 03:24] #436 closed

[2020-06-23 03:25] nutsiepully commented on #434
There is a bug in your code. You are passing a `Tensor` instead of a `Layer` to the function, as the error suggests.

[code]

Try the code I pasted above. Basically you should construct a layer with `prune_low_magnitude` and then pass in the tensor.

[2020-06-23 03:25] #434 closed

[2020-06-23 06:56] CRosero commented on #377
Thank you very much @nutsiepully for your patience help! Didn't notice that at all...made the corresponding changes and now it's working :)

[2020-06-23 07:15] nutsiepully commented on #408
Hi @kalaluthien,

Thanks for the well thought out and detailed bug report. Sorry for the delay in getting back - there's generally limited time I take out each week to look at github issues :)

1. AveragePooling2D
2. MaxPooling2D

I tried out both these example and they converted+ran just fine for me. Perhaps, there is a flag you are missing during conversion. Check [this](https://github.com/tenso

[2020-06-23 07:26] nutsiepully commented on #408
Regarding MobileNetV2 reproduction, looking at your code it seems you are training on CIFAR. It won't be as straight-forward to reproduce the full training.

We trained a Keras MobileNet V2 model with hyperparams from [this](https://github.com/tensorflow/models/tree/master/research/slim/nets/mobilenet). We then quantized the model and trained again for a few epochs.

I think the reason your conver

[2020-06-23 07:26] nutsiepully commented on #408
Also, regarding HardSwish if you have the time and are interested, I'm happy to guide you in how to implement support for it :)

[2020-06-23 08:13] kalaluthien commented on #408
Thanks for great replies!
1. I'll test them again and report the result here!
2. I am glad to contribute to implement support for HARD_SWISH ops which is our concern!

[2020-06-23 08:16] nutsiepully commented on #372
@mlinxiang, @ianholing - Your code was failing since you were using `NoOpQuantizeConfig` which is a class, and not `NoOpQuantizeConfig()` which is the object.

In
[code]
you should replace `NoOpQuantizeConfig` with `NoOpQuantizeConfig()`.

[2020-06-23 09:17] nutsiepully commented on #372
Hi @holokai-ai , @EscVM,

Thanks for the detailed feedback and report.

We pulled out `UpSampling2D` support prior to launch since we hadn't tested it end to end  (including conversion) and wanted to ensure numerical accuracy before releasing it. In the meanwhile, the best way to work around it is to use the approach both of you have used so far - which is providing a custom `QuantizeConfig` for t

[2020-06-23 09:40] kalaluthien commented on #408
Hi, @nutsiepully. I've tested above questions on same environment. (tf==2.2.0 + tfmot==0.3.0)

1. I think `converter._experimental_new_quantizer = True` is already in my code, so there will be another reason. [gist link](https://gist.github.com/kalaluthien/b270c71afb6866ae61ef0dc088a762f2#file-tf220_qat_failures-ipynb)

Code snippet:
[code]

Error messages:
[code]

2. I fixed colab code and passed

[2020-06-23 10:38] nutsiepully commented on #408
Oh I'm sorry I made a mistake. I meant use

`converter.experimental_new_converter = True`

That's what was missing.

[2020-06-23 19:52] nutsiepully commented on #408
Can you try using `tf-nightly` do run your code? There might be some converter changes that aren't in TF 2.2.

[2020-06-23 20:40] nutsiepully commented on #408
As for HardSwish, I just looked into it a bit. There seem to be a few tricky pieces.

For starters, `hard_swish` has not been added as an activation in Keras yet. The goal of the `tfmot` library is to provide default behavior for all built-in Keras layers/activations. But since `hard_swish` is not a built-in activation yet, we can't really add a pattern matching it in the library code. It would ne

[2020-06-24 02:30] kalaluthien commented on #408
Thanks for your advises.

1. tf-nightly (2.3.0) solves every problem! (except input/output type after conversion: https://github.com/tensorflow/tensorflow/issues/38285, which is independent of these)

2. You mean I need to place the `FakeQuant` like: `Conv2D-BN-[FakeQuant]-Add-ReLU-Mul-[FakeQuant]-OtherLayers` with customized transform using tfmot, and let TfLiteConverter to convert `{ Conv2D-BN:

[2020-06-24 02:35] nutsiepully commented on #408
1. Glad to know.

2. It will be `Conv2D -> BN -> Add -> ReLU -> [FakeQuant] -> Mul`. So the converter will fuse the BN + Add + ReLU into the Conv and the Mul will remain separate since it's after thee ReLU.

[2020-06-24 02:36] nutsiepully commented on #408
Seems like this bug is solved. I'm closing it, please feel free to reopen.

You can start a new issue for the hardswish and we can continue our conversation there. Even if it's done in your code, it can remain an example for others to follow.

And it'll be pretty easy to incorporate into the library once you've implemented it. We can try and get HardSwish moved into Keras.

Thanks @kalaluthien for

[2020-06-24 02:36] #408 closed

[2020-06-24 18:03] LLNLanLeN opened #438 "Per-Tensor quantization support for Conv2D layers"
**System information**

- TensorFlow version (you are using): TF nightly 2.3
- Are you willing to contribute it (Yes/No): No

**Motivation**

I've been testing TF QAT features by following the tutorials and guides on the following website:

https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide

To my understanding is that TF only have per-axis support for Co

[2020-06-24 23:05] madarax64 commented on #362
Hello @alanchiao @nutsiepully ,
I wanted to ask if there was any progress on this?
Thanks

[2020-06-24 23:25] nutsiepully commented on #362
Hi @madarax64,

Haven't started working on this yet. We are planning another release in the next 1-2 months and this should be part of it.

[2020-06-25 01:59] nutsiepully commented on #438
Hi @LLNLanLeN,

The default implementation for QAT follows the TF (default 8 bit) quantization [spec](https://www.tensorflow.org/lite/performance/quantization_spec).

If you want something different, you can use a custom `QuantizeConfig` as in the guide. However, that just ensures that you can train QAT with per-tensor quantization. For custom configurations, you have to provide the relevant kerne

[2020-06-25 01:59] #438 closed

[2020-06-25 02:36] LLNLanLeN commented on #438
Hi @nutsiepully , thank you for getting back to me. I'm wondering if there are any example that can help me quantize the Conv2D weight per-tensor, instead of per-axis? The examples in the comprehensive QAT guide is only for Dense Layers, and it's not directly applicable for Conv2D layer.

I've been using this configurations for Conv2D which is called `Default8BitConvQuantizeConfig`, that I found h

[2020-06-25 05:48] madarax64 commented on #362
Hi @nutsiepully,
Okay, great. Thanks for the prompt response. Closing this since it should be GA by the next release.
Thanks!

[2020-06-25 06:28] nutsiepully commented on #362
You're welcome.

I'm just reopening it to make sure it stays open until I actually fix it, and so I don't forget :)

[2020-06-25 12:02] IvanJuraga opened #439 "QAT model lower accuracy than post train quant model"
**System information**

TensorFlow version (installed from source or binary): 2.3.0.dev20200609 (binary)

TensorFlow Model Optimization version (installed from source or binary):0.3.0 (binary)

Python version:3.6.9

I am trying to compare results of a base keras model and both quantization variants( QAT and just post train quant) and I manage to get both models but the problem is that the post tra

[2020-06-25 19:28] holokai-ai commented on #372
@nutsiepully Thank you very much for taking the time to look into supporting quantized up-sampling ops!   We need those ops to run modern detection and segmentation networks, and we need them quantized for edge hardware that require integer-only ops.

I would imagine that Nearest Neighbor interpolation would be the easiest to support, because I believe there's no quantization involved; just copyin

[2020-06-25 20:36] madarax64 commented on #362
@nutsiepully Haha, okay :)

[2020-06-27 01:45] nutsiepully commented on #439
Hi @IvanJuraga,

How long did you train the QAT model for? Please note that QAT starts training the model with a relatively large range of values for activations [-6, 6] and uses moving averages with a co-efficient of `0.999` to converge. This often takes ~200 steps. So you might just need to train the model for longer. Please try that.

I'm considering changing some of these pre-fixed ranges to m

[2020-06-27 01:45] #439 closed

[2020-06-27 01:47] nutsiepully commented on #438
This is the correct way to do it.

Modifying the training to happen per-tensor should allow the training to work just fine. However, that does not guarantee conversion to TFLite. Only the default quantization spec supports conversion to TFLite. Modifications can be used to train your model against any target backend you want.

[2020-06-27 01:49] nutsiepully commented on #372
It's possible there might be an issue.

Once I get the time, I'll add support for `UpSampling2D` to ensure it can convert to TFLite, and ensure numerically stable execution on TFLite. Once that is in place, you can re-run the code and try the DSP delegate.

If there's still an issue, we can dig in further.

[2020-06-28 02:40] aa12356jm commented on #431
mark

[2020-06-29 08:47] Kyle719 commented on #377
Thanks! @nutsiepully
'Transfer learning + QAT' is working well like the code below
(I used VGG19 because it does not have the batch normalization layer which is not supported for qat yet)

I have one more question now!
How can I follow the steps introduced in the tensorflow page?
https://www.tensorflow.org/model_optimization/guide/quantization/training_example

The steps :
1. Train model (no quant

[2020-06-29 16:32] LLNLanLeN commented on #438
@nutsiepully  I see, thank you for responding. I've managed to per-tensor quantize Conv2D by passing in a custom configuration. Turns out that in addition to changing `per_axis = False`, I need to change the `min_weight` and `max_weight` shape to None as well:

https://github.com/tensorflow/model-optimization/blob/fcaa2306d62a419c5bce700275748b8b08711dbc/tensorflow_model_optimization/python/core/q

[2020-06-30 15:04] EscVM commented on #372
@nutsiepully @holokai-ai

I used your code to wrap the model and it worked just fine:

[code]

However, when I try to convert with TFLite

[code]

I got the following error:

RuntimeError: Quantization not yet supported for op:

Do you know how to proceed?

[2020-06-30 15:08] EscVM commented on #372
On [this](https://www.tensorflow.org/model_optimization/guide/quantization/training_example) guide is written "After this, you have an actually quantized model with int8 weights and uint8 activations."

[code]

The conversion works, but at the edge tpu complier says that the model is not quantized:

"
Edge TPU Compiler version 2.1.302470888
Invalid model: bin/srmodel_full_integer_qaware.tflite
Mod

[2020-06-30 19:55] alessandroaimar opened #445 "[Feature request or potential bug] Override of default default_8bit_quantize_layout_transform"
In file

model-optimization/tensorflow_model_optimization/python/core/quantization/keras/quantize.py

at line 407 (function quantize_apply(model)) the model is transformed using the default_8bit_quantize_layout_transform that is necessary for the edge tpu. However, this can interfere if the quantization is custom since there is no obvious way to avoid it and the only way to know what is happening

[2020-07-01 00:41] alanchiao commented on #445
@nutsiepully

[2020-07-01 14:26] somyamohanty opened #448 "Model Optimize unable to get Tensorflow version"
**Describe the bug**
Optimization package is unable to get the tensorflow version within the code while importing the module.

`import tensorflow_model_optimization as tfmot`

[code]

**System information**

TensorFlow version (installed from source or binary): 1.8

TensorFlow Model Optimization version (installed from source or binary): 0.3.0

Python version: 2.7

**Describe the expected behavior

[2020-07-02 02:42] forbywang opened #449 "ValueError: Please initialize `Prune` with a supported layer. Layers should either be a `PrunableLayer` instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.python.keras.layers.normalization.BatchNormalization'>"
use Deeplabv3+ model by tf2.0 and tensorflow-model-optimization 0.3.0
but still got this error:
**ValueError: Please initialize `Prune` with a supported layer. Layers should either be a `PrunableLayer` instance, or should be supported by the PruneRegistry. You passed: <class 'tensorflow.python.keras.layers.normalization.BatchNormalization'>**
i have  rewrited the model by tf2.0 many times, and thi

[2020-07-02 03:33] forbywang commented on #449
add using module's 'BatchNormalization: []' in prune_registry.py  and it work well

[2020-07-02 03:33] #449 closed

[2020-07-02 05:52] ZhiyiLan opened #450 "How to user quantize to imporve inference performance on tensorflow-serving?"
Prior to filing: check that this should be a bug instead of a feature request. Everything supported, including the compatible versions of TensorFlow, is listed in the overview page of each technique. For example, the overview page of quantization-aware training is [here](https://www.tensorflow.org/model_optimization/guide/quantization/training). An issue for anything not supported should be a feat

[2020-07-02 13:43] corvoysier commented on #445
I second that: even TFMOT own quantization aware training is actually tied to 8-bit partially because of that.

I was able to generate 4-bit QAT integer models that include BatchNorm, but only using a nasty workaround that I managed to find after reading the code: I had to manually edit the Conv2D activation to force it to 'NoOpActivation'.

Here is the corresponding gist: https://gist.github.com/

[2020-07-03 11:12] IvanJuraga commented on #439
Hello nutsiepully,

First off thank you for your quick response. Right now I'm training this model for about 20 epochs of the whole dataset (which consists of 595345 samples divided in batches of size 32).

The code is here: https://colab.research.google.com/drive/1LYhS49gUV1dSzHlYIgbAVi-vV1eHw6JI#scrollTo=IpT4kiOaNgzM
I know it didn't even trained but the problem still remains and I can't publicl

[2020-07-07 19:13] dd1923 commented on #409
@alanchiao any insights on when will this be fixed?

[2020-07-07 21:36] EscVM commented on #349
@suttergustavo

I have the same problem! Have you found a solution?

I have a model trained with quantization aware. I followed the official [TensorFlow guide](https://tensorflow.google.cn/model_optimization/guide/quantization/training_example), where is written "After this, you have an actually quantized model with int8 weights and uint8 activations."

converter = tf.lite.TFLiteConverter.from_ker

[2020-07-08 08:57] kevinyamauchi commented on #372
Thanks for the great discussion, everyone! This issue has been helpful for my debugging!

@nutsiepully , `Conv2DTranspose` would be super useful to me as well (for the same reasons as stated above by @Mohit-Ak). Is there an ETA for adding QAT support? I believe it is already possible to quantize with TFLite and it is supported on EdgeTPU. I would be happy to help with this, but I would need some g

[2020-07-08 12:53] EscVM commented on #431
The correct command is:
[code]

[2020-07-08 15:31] EscVM commented on #431
@MeghnaNatraj @suharshs

Hi! I followed your guide and even after changing input output of the model I get the following error:

"
Edge TPU Compiler version 2.1.302470888
Invalid model: bin/srmodel_full_integer_qaware.tflite
Model not quantized
"

Inside the model I have an Upsamping2D layer not annotated with 'tfmot.quantization.keras.quantize_annotate_layer()'. Could be due to that?

[2020-07-08 18:37] nutsiepully commented on #445
@alessandroaimar - Thanks for your feedback. Your concern is valid that the default_8bit transforms get applied to all models.

However, don't worry we have a planned modification for this. The initial version of the library hasn't fully exposed the APIs that will be used for experimentation. The goal of the initial version was to provide a default path that works, and have some experimental suppo

[2020-07-08 19:01] nutsiepully commented on #445
@corvoysier - As mentioned, the upcoming update to the API will take care of the transforms. When using custom quantization configuration, you can disable them.

I was able to generate 4-bit QAT integer models that includes BatchNorm, but only using a nasty workaround that I managed to find after reading the code: I had to manually edit the Conv2D activation to force it to 'NoOpActivation' so that

[2020-07-08 19:06] nutsiepully commented on #439
Happy to help. I requested access to your colab. Once I have it, I can try it out.

The number of training step seems enough in your case, given the numbers.

In general, QAT experiences an initial drop due to initial ranges, but then adjusts quickly. You should not be seeing a drop after that and the numbers should at least be comparable to post-training values.

But I'll need to reproduce it to

[2020-07-08 21:38] ek9852 opened #454 "Post quantization does not utilize GPU"
**System information**

- TensorFlow version (you are using): 2.2.0
- Are you willing to contribute it (Yes/No): No

**Motivation**
During post quantization , the GPU is idle (confirmed via nvidia-smi ), i.e. the post quantization is not using GPU to speed things up.  It is very slow. It takes > 60 min to run on a server grade xeon  (for test set of 2336 on our model):
[code]

**Describe the featu

[2020-07-09 01:23] miaout17 commented on #454
A few initial questions:

* For "test set of 2336 on our model", does it mean 2336 images are used as representative dataset?
* Do you know how much time does it take to invoke the model?

I don't think the post training quantization tool supports GPU but I'm not the expert.
I'll let @suharshs follow from here.

[2020-07-09 02:34] ek9852 commented on #454
Yes

0.3 sec on a Google Coral edge tpu. It  should be much faster on my TITAN X nvidia gpu,
But post-quantization does not use GPU currently.

[2020-07-09 05:08] suharshs commented on #454
TensorFlow Lite doesn't currently support non-mobile GPU kernels, and the post-training quantization tool is specific to TensorFlow Lite at the moment. As we work to unify TensorFlow and TensorFlow Lite we will keep this in mind. I will keep this issue open to give you updates as they come.

Thanks!

[2020-07-09 06:13] IvanJuraga commented on #439
Thank you for the time you are investing in helping me find the solution to my problem. Right now I managed to lower the loss closer to the base model loss / post_trained_quanted model by writing my own config setup and setting it like this: `class DefaultDenseQuantizeConfig(tfmot.quantization.keras.QuantizeConfig):
    # Configure how to quantize weights.
    def get_weights_and_quantizers(self,

[2020-07-09 08:01] corvoysier commented on #445
@nutsiepully thank you very much for the detailed answer.

Yes, although the number of bits is configurable in various places, I understand now that the target quantization type is 8-bit.

That was also my conclusion, although I don't know how I would make this kernels known from the MLIR converter: do you have pointers to some examples ?

I actually wanted the BatchNorm to be folded, that's why I

[2020-07-09 18:56] alanchiao commented on #445
We'll clarify the documentation so that future users have a better experience. To make the changes so you wouldn't have run into this, we'll need to consider how you went through and interpreted different parts of the docs.

There are two related pieces of documentation:
1. This [overview "Experiment with quantization and hardware" section](https://www.tensorflow.org/model_optimization/guide/quant

[2020-07-10 07:07] corvoysier commented on #445
Without prior knowledge that TFLite only supports the deployment of 8-bit integer models, "there is no path to deployment" is ambiguous, and I definitely interpreted it like "you just need to provide your alternate QuantizeConfig", like the example seems to imply.

Also, according to research papers and my own experience with quantization, when targeting 8-bit, post-training quantization already g

[2020-07-10 08:28] IvanJuraga commented on #439
Hello @nutsiepully
I just wanted to tell you that I managed by only applying quant on the dense layers in the top of the model get a score similar to the base model (2 of the output losses are better while one is a bit worse but the overall loss is lower) and I managed to get that score by changing the quant_config (following the tutorial described on the tf site).

Now my question to you is is th

[2020-07-10 10:19] alessandroaimar commented on #445
Thank you very much for your answer. Is it there an ETA for such changes?

[2020-07-12 11:21] alessandroaimar opened #456 "Can't de serialize PolynomialDecay pruning schedule (and potentially others"
[code]

In file tensorflow_model_optimization\python\core\sparsity\keras\pruning_schedule.py line 251 the code is

[code]

for the deserialization to work properly it should be

[code]

[2020-07-12 13:11] aa12356jm opened #457 "Quantization aware training can not save weights as uint8?"
i use tf1.x to  quantization aware training , the weights of model  can  be saved to uint8 , but tf2.x can not  save weights  as uint8,   because  the DSP need uint8  model to  accelerate the inference ,  have you the  plan to  support  unit8  ,thanks

[2020-07-13 14:14] EscVM commented on #372
Thank you @nutsiepully for your help. Can you provide an example of a possible custom `QuantizeConfig` for the UpSampling2D layer?

[2020-07-13 15:20] bhack commented on #1
just to take a look at the competitors.. https://pytorch.org/tutorials/intermediate/pruning_tutorial.html

[2020-07-13 16:44] raziel commented on #1
With the current pruning API you can implement the lottery ticket hypothesis.
We have done that internally, and may be releasing a colab as a tutorial.

If you have specific requests for the API to meet a specific need we're welcome to the feedback, and the best way of submitting the request is via a ticket that describes the need and provides an example in code showing the requirement.
We also we

[2020-07-13 17:16] bhack commented on #1
Yes if you have a lottery ticket/Supermask colab to add I think that currently could be enough to support this type of development with the library for third party developers.

[2020-07-13 18:52] alanchiao opened #462 "Weight clustering: reflect original layer's name in new layer's name"
**Motivation**

After applying clustering to a layer, having the original layer name be reflected to some degree in model.summary() helps with continuing to understand the model.

**Describe the feature**

![Screen Shot 2020-07-13 at 11 46 09 AM](https://user-images.githubusercontent.com/4323109/87341708-ef13a200-c4fe-11ea-8e4c-7417bbb10267.png)

The layer name should still mention the original la

[2020-07-13 18:52] alanchiao commented on #462
@arovir01, @Ruomei

[2020-07-16 11:26] MohamedNourArm commented on #462
Addressed in PR #465 , output sample after the patch shown below:

<img width="234" alt="clust_wrapper" src="https://user-images.githubusercontent.com/44364397/87665862-8119e580-c75f-11ea-89b3-ed8d55cc2747.png">

[2020-07-17 03:42] yfthu commented on #408
Hi, I have meet the same problems as this issue, but I still could not solve them. My environment is tf-nightly 2.3.0.dev20200522 and python3.8
1.  `x = layers.ReLU(6.0)(x + 3) * (1 / 6)`
when I want to quantize the op '+' and '*', it fails and show this:
`RuntimeError: Layer tf_op_layer_AddV2:<class 'tensorflow.python.keras.engine.base_layer.TensorFlowOpLayer'> is not supported. You can quantize

[2020-07-17 03:54] gargn commented on #456
@nutsiepully Can you take a look at this issue?

[2020-07-17 03:55] gargn commented on #457
@jianlijianli Can you take a look at this issue?

[2020-07-17 03:57] gargn commented on #450
@alanchiao Can you take a look at this issue?

[2020-07-20 17:41] alanchiao commented on #462
Fixed in PR Mohamed pointed to.

[2020-07-20 17:41] #462 closed

[2020-07-21 01:00] willbattel opened #471 "Optimizing models that use TensorFlow Addons activations, layers, etc"
**System information**

- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): Maybe

**Motivation**

[TensorFlow Addons](https://github.com/tensorflow/addons) adds many valuable features not present in the core TensorFlow library. I have not been able to find documentation suggesting that TFAddons does or does not work with the Model Optimization library. My team w

[2020-07-22 21:09] pl-ang commented on #431
I got ERROR: Skipping '//tensorflow/lite/tools/optimize/python:modify_python_inferace': no such target '//tensorflow/lite/tools/optimize/python:modify_python_inferace': target 'modify_python_inferace' not declared in package 'tensorflow/lite/tools/optimize/pyth, Do you know how to solve it? Thanks a lot!

[2020-07-22 21:27] MeghnaNatraj commented on #431
@pl-ang Could you re-run the command in comment? https://github.com/tensorflow/model-optimization/issues/431#issuecomment-647763584

(There was a typo in the command which was pointed out by @EscVM. I have updated my original comment as well.
You need to modify `modify_python_inferace ` to `modify_python_interface`  (as you can see I had misspelt `interface`))

[2020-07-23 08:00] EscVM commented on #431
@pl-ang Moreover, remember that you have to specify the full path to indicate the input and output file!

[2020-07-23 15:26] pl-ang commented on #431
@MeghnaNatraj and @EscVM Thank you so much for your answers! I already converted the input and output types to INT8 successfully.

However, when I use the GPU backend on the quantized MobileNetV1 tflite model by using the TensorFlow Lite delegate APIs on Android, it shows `Internal error: Failed to apply delegate: Attempting to use a delegate that only supports static-sized tensors with a graph th

[2020-07-23 15:31] LLNLanLeN commented on #431
@pl-ang I'm not exactly sure the issue, but it sounds like the solution is to make sure that the graph you export is static-size tensors. And you can do this by using the following line (make sure to use the correct variable name), It was recommended above:

[code]

[2020-07-23 17:29] pl-ang commented on #431
@LLNLanLeN Got it!

Do you know any method to convert the tensor type from int8 to uint8? Because I found another error in Android:

[code]
I think it probably caused by the tensor type based on [https://github.com/tensorflow/tensorflow/issues/32468].  Do you have any suggestions? Thanks!

[2020-07-23 18:13] MeghnaNatraj commented on #431
@pl-ang could you create a separate issue to debug this error as it's unrelated? We can further debug it in that issue.

[2020-07-23 18:19] srjoglekar246 commented on #431
@pl-ang How are you running the model? If you are using Java API and want to run a quantized model w/ GPU, look at [this](https://www.tensorflow.org/lite/performance/gpu_advanced#running_quantized_models_experimental).

[2020-07-23 19:11] LLNLanLeN commented on #431
@pl-ang unfortunately I'm not very familiar with the error you're having.

To convert Uint8 input, you can just use the same script and identify that input and output type is Uint8. But the problem is that, if your model is QAT, then I believe it's int8 by default. Hence if you force the input and output to be UInt8, you'll still see the `Quantize` and `Dequantize` nodes at the input and output

[2020-07-23 19:12] pl-ang commented on #431
@srjoglekar246 I run the model by Basic usage Android (Java). I am trying to do that by the Advanced usage as below:

[code]

But it has `cannot resolve method 'setQuantizedModelsAllowed(boolean)'` error.

[2020-07-23 19:35] srjoglekar246 commented on #431
You might need to use a newer version of the AAR/binary.

[2020-07-23 20:59] pl-ang commented on #431
@srjoglekar246 Sorry, I am a little bit confused about it. Do you mean the dependencies? if not, could you make an example or explanation? Thanks!

The following are the dependencies I am using.

[code]

[2020-07-23 21:09] srjoglekar246 commented on #431
[This](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/java/src/main/java/org/tensorflow/lite/gpu/GpuDelegate.java#L73) is the method on `GpuDelegate`.

I am not an expert with Android packaging, but is the `lite:+` rule implementation required? Looks like the GPU delegate documentation requires only [two](https://www.tensorflow.org/lite/performance/gpu#step_2_ed

[2020-07-24 01:44] pl-ang commented on #431
Thank you so much! The quantized model works well now with GPU!

[2020-07-24 16:04] srjoglekar246 commented on #431
Awesome. Thanks for verifying! Feel free to close the issue.

[2020-07-24 20:31] alanchiao commented on #418
Closing since inactive - if you run into this, please reopen this issue.

[2020-07-24 20:31] #418 closed

[2020-07-27 09:26] Naman-ntc commented on #271
I was not sure if this should be a separate issue but I found that pruning does not work unless we explicitly add `training=True` argument in the model call. (This seemed counterintuitive to me since from my understanding as I used to think by default training is set to be true in keras Model.)
In any case, it would likely be helpful if you specifically point out about the training argument.

[2020-07-28 03:14] ORALOG commented on #206
Hi, is there any upgrade on this topic?

[2020-07-28 15:04] alanchiao commented on #206
No - did you run into this issue?

[2020-07-30 01:48] cskiraly commented on #363
Hi @lravano, @alanchiao, @holokai-ai

I had a similar issue popping up in PTQ where I needed BatchNormalization folded into Dense layers in an autoencoder. After looking at your code for folding into Conv2D, I've ended up writing the folding logic in Keras. It is a generic solution for anyone using the Python API for conversion.  You can find the code snippet at:
https://github.com/cskiraly/dcase2

[2020-07-30 23:14] ashwinmurthy commented on #457
@suharshs  Can you assign this to the right person?

[2020-07-31 06:42] madarax64 commented on #362
Hi @nutsiepully I just noticed there's a new release out (v0.4.0). Has this been fixed in this new release?
Thanks

[2020-07-31 15:24] lorenz0890 commented on #412
I have this problem as well. It occurs when quantizing a pretrained mobilenetv2 using tf.float16 quantization. Int8 quantization works well in the same setup though.

[2020-08-03 08:53] akarmi commented on #119
Clustering has been released as part of [TF MOT 0.4.0](https://github.com/tensorflow/model-optimization/releases/tag/v0.4.0).

[2020-08-03 08:53] #119 closed

[2020-08-04 00:12] peri044 commented on #426
Thanks @nutsiepully. I faced this issue with TF2.2 version but now it works with 2.3rc2 version of TF.

[2020-08-05 18:02] peri044 commented on #426
@Wangyf46 Yeah. It works for me on `2.3.0-rc2`

[2020-08-07 14:19] captainproton1971 commented on #403
Hi, just wondering if anyone has started to look at this?

[2020-08-07 14:57] alanchiao commented on #403
Hi @captainproton1971. Unfortunately haven't had the time to start this and don't personally expect to for a while.

@liyunlu0618

Unassigning self since there should be an assignment only if there is active work on it.

[2020-08-07 20:36] liufengdb commented on #471
@willbattel If I understand correclty, tf-addon provides a way to add custom ops, etc via some Python api?

[2020-08-07 20:40] liufengdb commented on #450
@ZhiyiLan I think we should verify that deployed models are quantized, so the tensorflow-serving are running integer binaries. Could you provide more information about the deployed model? So steps to reproduce the results would be great!

[2020-08-07 20:45] liufengdb commented on #445
Let's make the doc clear and close the issue.

[2020-08-08 16:37] alanchiao opened #511 "Clustering comprehensive guide - incorrect header sizes"
In the current iteration of [the comprehensive guide](https://www.tensorflow.org/model_optimization/guide/clustering/clustering_comprehensive_guide), the headers are the wrong sizes, resulting in an incomplete navigation side bar that doesn't show the sections on improving accuracy, etc.

<img width="131" alt="Screen Shot 2020-08-08 at 9 35 57 AM" src="https://user-images.githubusercontent.com/432

[2020-08-08 20:32] willbattel commented on #471
@liufengdb Take a look at [this PR](https://github.com/tensorflow/addons/pull/569) where they introduced the Mish activation, for example. It looks like they are adding pure Python kernels that install into the TFA library.

The only way I can think of including Mish in an optimized model with `tfmot` would be with a Lambda layer. I'm wondering if there is a better way to integrate the layers from

[2020-08-08 21:33] Ruomei commented on #511
@alanchiao Just saw it. Is it urgent for the launch? I can def make the change but I do not have the permission to raise a PR without other's internal final check.
Anyone of you might be working tomorrow? @arovir01 @wwwind @psunn @akarmi

[2020-08-09 11:47] Ruomei commented on #511
@alanchiao
Submitted a PR [here](https://github.com/tensorflow/model-optimization/pull/512)
Thanks, @wwwind, for the review!

[2020-08-09 12:11] ppershing commented on #317
@nutsiepully Is there a suggested workaround for this?

[2020-08-10 10:58] LesBellArm opened #513 "Quantization-Aware-Training with Sparsity and Clustering Preservation"
**System information**

- TensorFlow version (you are using): TF.2.3.0
- Are you willing to contribute it (Yes/No): Yes

**Motivation**

Sparse (pruned), clustered and quantized models can help to reduce the compressed model sizes for deployment to devices that may be constrained by memory size and processing power.  These model optimizations are already supported by the Model Optimization Toolkit

[2020-08-11 17:09] #511 closed

[2020-08-11 17:14] alanchiao commented on #511
Thanks Ruomei and Elena.

It wasn't urgent - I'd otherwise have created a PR to expedite things. Going forward, we probably want a more formal way of communicating such priorities though.

[2020-08-11 20:43] alanchiao commented on #513
@nutsiepully, @liyunlu0618

[2020-08-13 17:20] alanchiao commented on #513
Discussed this on the call but to make note:
1. It'd be necessary to demonstrate that there are a significant number of cases where cascading all three can lead to better results (whether size or latency) for the same given accuracy. To start, it may be worth just trying to combine two - since then that is a step forward already in being able to combine quantization-aware training with another tec

[2020-08-13 22:21] takakihagen commented on #408
Hello, is there any update?
I'm trying to solve this problem too but haven't managed to yet.

Moreover, I'm very confused because  hard-swish is defined here as ```x = tf.keras.layer.Relu(6.0)(x + 3.0) * 1.67```.
Actually, it is defined as  ```x = x * tf.keras.layer.Relu(6.0)(x + 3.0) * 1.67``` in [this paper](https://arxiv.org/abs/1905.02244).
Therefore, I think the converter does not fuse Add in

[2020-08-15 02:45] thnkim commented on #372
Did anyone find a solution for this? I have the same problem.

[2020-08-18 16:11] alanchiao commented on #211
The last release to support Python 2 was made in https://github.com/tensorflow/model-optimization/releases/tag/v0.4.0.

The appropriate changes to the BUILD files were made [here](https://github.com/tensorflow/model-optimization/pull/485) and to setup.py [here](https://github.com/tensorflow/model-optimization/pull/495).

Marking this as resolved. There is still cleanup needed to get rid of Python

[2020-08-18 16:11] #211 closed

[2020-08-19 08:54] Haoxuan-Wang opened #522 "Post-training quantization"
Hello, In the process of realizing post-training quantification, I chose Post-training full integer quantization. and it is  succeeded. but i  want to know  how  it  quantization.because  I need to implement it to the FPGA .  i  want  to konw How does he achieve 8-bit quantization. and  How does he implement the convolution and  pooling operation. if you know , can you Write an essay to me,thank y

[2020-08-19 09:50] Lotte1990 commented on #372
I would also like to quantize the UpSampling2D layer. @nutsiepully Any updates on this?

[2020-08-19 10:11] Haoxuan-Wang commented on #522
主要是卷积后的激活层是如何处理的，因为我采用的是RELU函数，因此它是在激活之前根据结果的最大值和最小值来计算哪些数值应该赋给什么值吗

[2020-08-19 10:11] Haoxuan-Wang commented on #522
It's basically what happens to the activation layer after the convolution, because I'm using the RELU function, so it calculates which values should be assigned to which values according to the maximum and minimum values of the results before activation

[2020-08-19 17:26] psunn opened #523 "CONV2D, DENSE layer with default QAT can't generate correct int8 quantized nodes in TFLite model"
**Describe the bug**
when converting a MNIST model using QAT, quantize selective `CON2D` or `DENSE` layer with `tfmot.quantization.keras.quantize_annotate_layer` can't generate correct int8 quantized TFLite model.

check [colab](https://colab.research.google.com/drive/1kyUt2kRgjUmwGZ_N0825C6vO0jRPCRBF?usp=sharing) for bug reproduce

QAT only CON2D layer:
in generated tflite model (quantized_conv2d

[2020-08-20 09:17] Lotte1990 opened #524 "Mismatch in number of weights when loading quantized model (activation layer)"
**Describe the bug**

Saving and subsequently loading a quantized model results in the following error:
[code]

The error can be reproduced using this code (test.py):
**Please note that there is no error when setting `quantize_model = False`**
[code]

**System information**

TensorFlow version (installed from source or binary): 2.3.0 (Docker image)

TensorFlow Model Optimization version (installed

[2020-08-20 11:08] joyalbin opened #525 "How to preform progressive quantization aware training using this framework?"
Hi,
I would like to know how can I perform a progressive quantization aware training using this framework?

For example, if I have to training my model in the below order
1. Training the model by quantizing the activation outputs
2. Then following that, I have to training weights with various bit widths
Can anyone please help me on how do I utilise this framework for that purpose?

[2020-08-20 13:45] psunn commented on #523
@alanchiao can you have a look please?

[2020-08-20 17:49] alanchiao commented on #523
@nutsiepully

I'd like to given that this is an important flow but have a backlog of issues I need to address first.

[2020-08-21 09:59] Tessil opened #526 "QAT with custom QuantizeConfig results in a tensor output mismatch error for Dense layers on export"
**Describe the bug**
Using Quantization Aware Training with a custom `QuantizeConfig` similar to the [QAT guide](https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide#setup_defaultdensequantizeconfig) with MobileNetV2 results in an `error: 'std.constant' op requires attribute's type ('tensor<5x1280xf32>') to match op's return type ('tensor<*xf32>')` when con

[2020-08-21 11:45] #526 closed, assigned to nobody

[2020-08-24 04:00] SumanDeedwaniya opened #527 "Quantized wrapped layer non-trainable"
Hello all,

I am working on trying some logic on top of QAT where i will make few of the layers during QAT non-trainable based on some logic. I am currently seeing there is no such support in QAT (as of now Quantize Wrapper on top of a layer will ensure layer weights will be trainable during model training). I can see some layer trainable functions defined for Quantized wrapped layer in quantize_w

[2020-08-24 07:44] ZongqiangZhang opened #528 "what's difference between tfmot and 'Graph Transform Tool'"
As a beginner of model optimization. I see quantizaion/fusion in tensorflow graph transform tool
(https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms)

So I am confused which tool should I take when i want to optimize trained models. Would you plz help explain the key differences?

[2020-08-25 19:23] czabo commented on #374
Hi, I am trying to do the same @yinochaos in which file did you put in this class?

[2020-08-26 08:31] edumotya commented on #173
Any updates on this? Can we expect latency improvements for our pruned models?

[2020-08-26 13:53] psunn commented on #513
@alanchiao
Hi alan, I'm trying to enable Prune preserve QAT in MOT. I need some suggestions regarding QAT API.
Current QAT API:
per layer:
`tfmot.quantization.keras.quantize_annotate_layer(keras_layer)`
per model:
`tfmot.quantization.keras.quantize_model(keras_model)`

For Prune-preserve QAT:
would it make sense to add boolean param:
per layer:
`tfmot.quantization.keras.quantize_annotate_layer(ker

[2020-08-26 17:49] pedroska777 commented on #445
After reading the quantization aware training documentation, I still have followeing questions and appreciate if anyone can help.

Is it 8-bit floating point or 8-bit integer?
what is that mean that quantization aware training doesn't change the trained weights? If I load my trained model and do quantization and then do training what will happens?
After training a quantized model, my inference spe

[2020-08-27 22:54] pedroska777 commented on #173
Can you estimate its release date for inference time optimization?

[2020-08-27 22:59] liyunlu0618 commented on #173
Sorry for keeping you waiting. We're actively working on making the initial release of sparse inference support in TFLite. It's hard to give an exact date but hopefully before Q3 ends. Thanks for your patience!

[2020-08-27 23:02] liyunlu0618 commented on #173
A spoiler:
https://github.com/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e.py

Please note that we're still finalizing the API. The workflow in the released version may look different.

[2020-08-28 16:38] czabo commented on #173
@liyunlu0618 looking at your approach right now and training to implement that. does this latency improved inference also work for Conv and not only Dense filters? Also why is the block [4,1] exactly. How does that ensuring inference time improvements? Thanks!

[2020-08-28 19:14] liyunlu0618 commented on #173
For the Conv op we only support these hosted models at the moment:
https://github.com/google-research/google-research/tree/master/fastconvnets

We need the block config to use SIMD instructions on Arm neon architecture. Feel free to check out the kernel here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/internal/optimized/neon_tensor_utils.cc#L1962-L1990

[2020-08-31 10:18] oholimoli commented on #39
I'm trying to prune some SimpleRNN layers of my model.

Are RNN layers now supported? If not, how can I make a custom prunable RNN layer?

I followed the instructions in [custom_training_loop](https://www.tensorflow.org/model_optimization/guide/pruning/comprehensive_guide#custom_training_loop) and [prune_some_layers](https://www.tensorflow.org/model_optimization/guide/pruning/comprehensive_guide#p

[2020-09-01 18:12] alanchiao opened #529 "Make TFMOT model files available"
**System information**

- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Motivation**

Some people are interested in directly using or examining the models described under the overview pages of the different techniques under https://www.tensorflow.org/model_optimization.

**Describe the feature**

This is a master tracker for this. As people request for them, w

[2020-09-01 18:17] alanchiao opened #530 "Make TFMOT Clustering Model Files Available"
See https://github.com/tensorflow/model-optimization/issues/529 for master tracker with details.

This is specifically for user requests on the clustering technique.

[2020-09-02 16:46] hshankar61 commented on #530
The model optimization page at https://www.tensorflow.org/model_optimization/guide/clustering#keyword_spotting  mentions   that there is a keyword spotting model with an accuracy of 94.71% and a TFLite file of size 0.3 MB.  This potentially can be run on micro controllers to provide a high accuracy neural network that can be run on the edge if the # of operations is also sufficiently low.  Can thi

[2020-09-03 10:47] MohamedNourArm commented on #530
Hi Hari,

The model referred to is Arm's DS-CNN-L keyword spotting model, which has been designed precisely for the task you describe. You can read more about it in [the paper](https://arxiv.org/abs/1711.07128). The model is publicly available at https://github.com/ARM-software/ML-KWS-for-MCU under the Pretrained_models/DS_CNN directory.

Nour.

[2020-09-03 15:28] hshankar61 commented on #530
Hi Nour,
Thanks for the references.  However this repo does not seem to contain the
compressed model with the "weight clustering" technique, which is what I
was looking for.
Regards
Hari

On Thu, Sep 3, 2020 at 3:47 AM MohamedNourArm <notifications@github.com>
wrote:

--
This email (including its attachments) is intended only for the person or
entity to which it is addressed and may contain inform

[2020-09-03 17:03] akarmi commented on #530
Thank you Hari for the interest in this work and the model. As Alan mentions in the [master issue](https://github.com/tensorflow/model-optimization/issues/529), we will aim to make some of the test models available via TFHub, or some other means (e.g. Official Models repo). In this particular case, let me check on possible options and report here.

[2020-09-07 06:31] aa12356jm commented on #457
tflite have already support full int8 model on dsp,  thanks

[2020-09-07 06:31] #457 closed

[2020-09-08 05:29] KeyKy commented on #412
I get the same problem when running the mnist_cnn_cont_quant.py example

[2020-09-08 18:25] nutsiepully commented on #412
@lorenz0890 - QAT currently only supports the int8 quantization spec. So TFLite conversion won't be able to convert a QAT model when the `target_spec` is tf.float16. You don't need QAT with float16 actually. The loss recovery is useful for 8-bits. 16 bits are large enough for model information to be preserved.

[2020-09-09 06:23] eyebies opened #534 "Is Sigmoid activation currently supported ?"
Hi-
Just wondering if the sigmoid activation is currently supported? I was able to train the model using modified the quantize config, however, the tflite conversion fails.
Tensorflow - '2.4.0-dev20200907'
tfmot - 1.18.4
keras - 2.4.3
thanks!

    raise ValueError(self._CUSTOM_ACTIVATION_ERR_MSG)
ValueError: Only some Keras activations under `tf.keras.activations` are supported. For other activati

[2020-09-09 10:12] debapriyamaji opened #535 "Script for training example models(MobileNetV1, ResNet, MobileNetv2)"
**System information**

- TensorFlow version :2.2
- Are you willing to contribute it : Yes

Example script for training the models from the documentation(E.g. MobilenetV1, MobileNetV2, ResNet) aren't probably published . I am unable to reproduce those results.  Is it possible to publish those scripts with all relevant hyper-parameters?

Is it also possible to **share those models as well**? The on

[2020-09-09 17:03] alanchiao commented on #513
@nutsiepully, @liyunlu0618 for visibility

[2020-09-11 23:54] dd1923 commented on #409
@alanchiao Is this a major change? From the stack trace it looked more like a minor bug where some piece of code is not properly respecting the dtype.

[2020-09-12 12:50] tu1258 opened #541 "Structured pruning (filter pruning)"
Does tfmot support structured pruning (filter pruning)? Unfortunately I didn't find any code about it. Would it be a feature in near future? Thanks!

[2020-09-13 01:28] marno1d commented on #362
Hi @nutsiepully I'm also interested in Conv1D and SeparableConv1D. Thanks!

[2020-09-13 05:24] sayakpaul opened #542 "Support for block sparse matrices"
**System information**

- TensorFlow version (you are using): 2.3
- Are you willing to contribute it (Yes/No): I can write tutorials.

**Motivation**

Sparsity is a well-studied topic in neural networks that is highly relevant from both research and engineering fronts. Model optimization techniques like pruning are fueled by the idea of sparsity. Moreover, it plays even better when combined with t

[2020-09-14 20:12] nutsiepully commented on #362
Hi @marno1d,

I just pushed a new release yesterday which has support for `SeparableConv1D`. Full support for `Conv1D` is still pending, but you can do some work around it by using custom quantization.

[2020-09-15 21:42] ejcgt opened #546 "quantization.keras.quantize_model function runtime error with mobilenet v3"
**Describe the bug**

tensorflow_model_optimization.quantization.keras.quantize_model function throws the following error with mobilenet v3.

[code]

**System information**

TensorFlow version (installed from source or binary): 2.4.0-dev20200914.

TensorFlow Model Optimization version (installed from source or binary): 0.5.0.

Python version: 3.7.6

**Describe the expected behavior**
Code runs wit